attic
docs
CRAN-RELEASE
Meta
cache
doc
inst/doc
TODO.md
.Rhistory
*-Ex.R
.Rdata
.Rproj.user
.RData

.httr-oauth
.Rprofile
# Ignore built vignettes
inst/doc/*
tRakt.Rcheck/
tRakt*.tar.gz
tRakt*.tgz
README.html
README_cache

/.quarto/
