docs
CRAN-RELEASE
Meta
cache
doc
inst/doc
meta.R
# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
.RData

.httr-oauth
.Rprofile
# Ignore built vignettes
inst/doc/*
