http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,anticipated,movie,resource:movie:806490,resource:movie:905132,resource:movie:943606,resource:movie:1117351,resource:movie:306815
      x-pagination-item-count: '186'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '38'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":30838,"movie":{"ids":{"imdb":"tt21357150","plex":{"guid":"62deb8bf9576053a6b5c5ee7","slug":"avengers-doomsday"},"slug":"avengers-doomsday-2026","tmdb":1003596,"trakt":806490},"year":2026,"title":"Avengers:
        Doomsday"}},{"list_count":21386,"movie":{"ids":{"imdb":"tt22084616","plex":{"guid":"5ed8a6246e2d7200411126cf","slug":"spider-man-brand-new-day"},"slug":"spider-man-brand-new-day-2026","tmdb":969681,"trakt":905132},"year":2026,"title":"Spider-Man:
        Brand New Day"}},{"list_count":19271,"movie":{"ids":{"imdb":"tt31378509","plex":{"guid":"65d514b7e0e20b8c84ece2f6","slug":"dune-messiah-2026"},"slug":"dune-part-three-2026","tmdb":1170608,"trakt":943606},"year":2026,"title":"Dune:
        Part Three"}},{"list_count":17413,"movie":{"ids":{"imdb":"tt33764258","plex":{"guid":"670cb74204e43056959bd4b3","slug":"the-odyssey-2026"},"slug":"the-odyssey-2026","tmdb":1368337,"trakt":1117351},"year":2026,"title":"The
        Odyssey"}},{"list_count":12864,"movie":{"ids":{"imdb":"tt0427340","plex":{"guid":"5d776d1bad5437001f7cd684","slug":"masters-of-the-universe"},"slug":"masters-of-the-universe-2026","tmdb":454639,"trakt":306815},"year":2026,"title":"Masters
        of the Universe"}}]'
  recorded_at: 2026-05-24 13:42:15
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,anticipated,movie,resource:movie:806490,resource:movie:905132,resource:movie:943606,resource:movie:1117351,resource:movie:306815
      x-pagination-item-count: '186'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '38'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":30838,"movie":{"ids":{"imdb":"tt21357150","plex":{"guid":"62deb8bf9576053a6b5c5ee7","slug":"avengers-doomsday"},"slug":"avengers-doomsday-2026","tmdb":1003596,"trakt":806490},"year":2026,"title":"Avengers:
        Doomsday","votes":72,"colors":{"poster":["#A4BF91","#172019"]},"genres":["science-fiction","superhero","action","adventure"],"images":{"logo":["media.trakt.tv/images/movies/000/806/490/logos/medium/1c077b6815.png.webp"],"thumb":["media.trakt.tv/images/movies/000/806/490/thumbs/medium/9ffc704adb.jpg.webp"],"banner":[],"fanart":["media.trakt.tv/images/movies/000/806/490/fanarts/medium/5c804bea04.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/806/490/posters/medium/b8f5a22c56.jpg.webp"],"clearart":[]},"rating":7.569439888000488,"status":"post
        production","country":"us","runtime":null,"tagline":"","trailer":null,"homepage":"https://www.marvel.com/movies/avengers-doomsday","language":"en","overview":"Beloved
        heroes from three distinct universes are set on a deadly collision course
        and face an existential threat unlike anything they''ve ever encountered.","released":"2026-12-18","languages":["en"],"subgenres":["based-on-comic","marvel-cinematic-universe-mcu","superhero-team"],"social_ids":{"twitter":"Avengers","facebook":"avengers","instagram":"avengers","wikipedia":"Avengers:_Doomsday"},"updated_at":"2026-05-24T08:25:54.000Z","after_credits":false,"certification":null,"comment_count":6,"during_credits":false,"original_title":"Avengers:
        Doomsday","available_translations":["ar","bg","cs","en","es","fa","fr","he","hi","hr","hu","ja","ka","ko","ml","my","pt","ro","ru","th","tr","uk","vi","zh"]}},{"list_count":21281,"movie":{"ids":{"imdb":"tt22084616","plex":{"guid":"5ed8a6246e2d7200411126cf","slug":"spider-man-brand-new-day"},"slug":"spider-man-brand-new-day-2026","tmdb":969681,"trakt":905132},"year":2026,"title":"Spider-Man:
        Brand New Day","votes":43,"colors":{"poster":["#B3785F","#381A1A"]},"genres":["science-fiction","action","adventure","superhero"],"im[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,anticipated,show,resource:show:202400,resource:show:204167,resource:show:157599,resource:show:235622,resource:show:265812
      x-pagination-item-count: '66'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '14'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":14572,"show":{"ids":{"imdb":"tt30460310","plex":{"guid":null,"slug":null},"slug":"spider-noir","tmdb":220102,"tvdb":450033,"trakt":202400},"year":2026,"title":"Spider-Noir","aired_episodes":0}},{"list_count":11069,"show":{"ids":{"imdb":"tt13918446","plex":{"guid":null,"slug":null},"slug":"harry-potter","tmdb":224377,"tvdb":433637,"trakt":204167},"year":2026,"title":"Harry
        Potter","aired_episodes":0}},{"list_count":7447,"show":{"ids":{"imdb":"tt26545992","plex":{"guid":null,"slug":null},"slug":"lanterns","tmdb":95350,"tvdb":376098,"trakt":157599},"year":2026,"title":"Lanterns","aired_episodes":0}},{"list_count":4947,"show":{"ids":{"imdb":"tt32140872","plex":{"guid":null,"slug":null},"slug":"star-city","tmdb":252107,"tvdb":449146,"trakt":235622},"year":2026,"title":"Star
        City","aired_episodes":0}},{"list_count":4616,"show":{"ids":{"imdb":"tt34866681","plex":{"guid":null,"slug":null},"slug":"lucky-2026","tmdb":278624,"tvdb":457437,"trakt":265812},"year":2026,"title":"Lucky","aired_episodes":0}}]'
  recorded_at: 2026-05-24 13:42:16
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,anticipated,show,resource:show:202400,resource:show:204167,resource:show:157599,resource:show:235622,resource:show:265812
      x-pagination-item-count: '66'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '14'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":14572,"show":{"ids":{"imdb":"tt30460310","plex":{"guid":null,"slug":null},"slug":"spider-noir","tmdb":220102,"tvdb":450033,"trakt":202400},"airs":{"day":"Wednesday","time":"04:00","timezone":"America/New_York"},"year":2026,"title":"Spider-Noir","votes":11,"colors":{"poster":["#B3A9A5","#282322"]},"genres":["superhero","action","adventure","mystery","crime"],"images":{"logo":["media.trakt.tv/images/shows/000/202/400/logos/medium/242b759529.png.webp"],"thumb":["media.trakt.tv/images/shows/000/202/400/thumbs/medium/0d4f73250b.jpg.webp"],"banner":[],"fanart":["media.trakt.tv/images/shows/000/202/400/fanarts/medium/43e97254e1.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/202/400/posters/medium/1016cd9342.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/202/400/cleararts/medium/d07e305ff7.png.webp"]},"rating":7.909090995788574,"status":"in
        production","country":"us","network":"MGM+","runtime":null,"tagline":"With
        no power comes no responsibility.","trailer":"https://youtube.com/watch?v=e5QW457407U","homepage":"https://www.amazon.com/dp/B0FVGCDZ7Q","language":"en","overview":"Ben
        Reilly, an aging and down on his luck private investigator in 1930s New York,
        is forced to grapple with his past life as the city''s one and only superhero.","languages":["en"],"subgenres":["black-and-white","private-investigator","1930s","based-on-comic"],"social_ids":{"twitter":null,"facebook":"spidernoirprime","instagram":"spidernoirprime","wikipedia":"Spider-Noir"},"updated_at":"2026-05-23T16:13:32.000Z","first_aired":"2026-05-25T08:00:00.000Z","certification":"TV-14","comment_count":5,"total_runtime":0,"aired_episodes":0,"original_title":"Spider-Noir","available_translations":["en","es","fr","he","hu","it","ja","ko","nl","pt","ru","sv","th","tr","uk","zh"]}},{"list_count":11069,"show":{"ids":{"imdb":"tt13918446","plex":{"guid":null,"slug":null},"slug":"harry-potter","tmdb":224377,"tvdb":433637,"trakt":204167},"airs":{"day":"Saturday","time":"00:00","timezone":"Europe/London"},"year":2026,"title":"Harry
        Potter","votes":47,"colors":{"poster":["#AE8F6B","#020101"]},"genres":["fantasy","[...]
