http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:09 GMT
      cache-tag: discover,anticipated,movie
      x-pagination-item-count: '1874'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '375'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":24742,"movie":{"title":"Avengers: Doomsday","year":2026,"ids":{"trakt":806490,"slug":"avengers-doomsday-2026","imdb":"tt21357150","tmdb":1003596,"plex":{"guid":"62deb8bf9576053a6b5c5ee7","slug":"avengers-doomsday"}},"tagline":"","overview":"The
        Avengers, Wakandans, Fantastic Four, Thunderbolts, and X-Men all fight against
        Doctor Doom. Plot TBA.","runtime":90,"country":"us","homepage":"https://www.marvel.com/movies/avengers-doomsday","status":"post
        production","rating":7.61538,"votes":65,"comment_count":6,"updated_at":"2026-03-02T08:41:23.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","en","es","fa","fr","he","hi","hr","hu","ja","ka","ko","ml","my","pt","ro","ru","th","tr","uk","vi","zh"],"genres":["science-fiction","superhero","action","adventure"],"subgenres":["based-on-comic","marvel-cinematic-universe-mcu","superhero-team"],"original_title":"Avengers:
        Doomsday","images":{"fanart":["media.trakt.tv/images/movies/000/806/490/fanarts/medium/af94d52c6e.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/806/490/posters/medium/b8f5a22c56.jpg.webp"],"logo":["media.trakt.tv/images/movies/000/806/490/logos/medium/1c077b6815.png.webp"],"banner":[],"thumb":["media.trakt.tv/images/movies/000/806/490/thumbs/medium/9ffc704adb.jpg.webp"],"clearart":[]},"colors":{"poster":["#A4BF91","#172019"]},"released":"2026-12-18","after_credits":false,"during_credits":false}},{"list_count":13796,"movie":{"title":"Spider-Man:
        Brand New Day","year":2026,"ids":{"trakt":905132,"slug":"spider-man-brand-new-day-2026","imdb":"tt22084616","tmdb":969681,"plex":{"guid":"5ed8a6246e2d7200411126cf","slug":"spider-man-brand-new-day"}},"tagline":"","overview":"Four
        years after the events of Spider-Man: No Way Home, Peter Parker is no more
        and Spider-Man is at the top of his game keeping New York City safe. Things
        are going well until an unusu[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:09 GMT
      cache-tag: discover,anticipated,movie
      x-pagination-item-count: '1874'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '375'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"li[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:10 GMT
      cache-tag: discover,anticipated,show
      x-pagination-item-count: '237'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '48'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":5583,"show":{"title":"Young Sherlock","year":2026,"ids":{"trakt":242387,"slug":"young-sherlock-2026","imdb":"tt8599532","tmdb":255661,"plex":{"guid":"66589e320f6e7f8278b9be69","slug":"young-sherlock-2026"},"tvdb":450633},"tagline":"","overview":"Sherlock
        Holmes is a disgraced young man – raw and unfiltered – when he finds himself
        wrapped up in a murder case that threatens his liberty. His first ever case
        unravels a globe-trotting conspiracy that changes his life forever.","runtime":42,"country":"gb","trailer":"https://youtube.com/watch?v=rXMrTALO2ME","homepage":"https://www.amazon.co.uk/gp/video/detail/B0G2BVD2YT","status":"returning
        series","rating":6.5,"votes":8,"comment_count":0,"updated_at":"2026-03-01T15:37:09.000Z","language":"en","languages":["en"],"available_translations":["ar","ca","cs","da","de","el","en","es","eu","fr","he","ko","nl","pl","pt","ro","ru","sv","ta","te","th","tr","zh"],"genres":["action","adventure","mystery"],"subgenres":["conspiracy"],"original_title":"Young
        Sherlock","images":{"fanart":["media.trakt.tv/images/shows/000/242/387/fanarts/medium/981d5f59db.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/242/387/posters/medium/dd49725164.jpg.webp"],"logo":[],"banner":[],"thumb":[],"clearart":[]},"colors":{"poster":["#C3BEA1","#1D1C19"]},"first_aired":"2026-03-04T00:00:00.000Z","aired_episodes":0,"airs":{"day":"Sunday","time":"00:00","timezone":"Europe/London"},"network":"Amazon"}},{"list_count":4541,"show":{"title":"Spider-Noir","year":2026,"ids":{"trakt":202400,"slug":"spider-noir","imdb":"tt30460310","tmdb":220102,"plex":{},"tvdb":450033},"tagline":"With
        no power comes no responsibility.","overview":"Ben Reilly, an aging and down
        on his luck private investigator in 1930s New York, is forced to grapple with
        his past life as the city''s one and only superhero.","runtime":42,"country":"us","trailer":"https://youtube.com/watch?v=b-Blr0_koQ[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:10 GMT
      cache-tag: discover,anticipated,show
      x-pagination-item-count: '237'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '48'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_c[...]
