http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_metadata,resource:show:1388
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0903747","plex":{"guid":"5d9c083402391c001f583d09","slug":"breaking-bad"},"slug":"breaking-bad","tmdb":1396,"tvdb":81189,"trakt":1388},"year":2008,"title":"Breaking
        Bad","aired_episodes":62}'
  recorded_at: 2026-05-24 13:42:11
- request:
    method: GET
    uri: https://api.trakt.tv/https://example.com
  response:
    status: 405
    headers:
      content-type: text/html
      speculation-rules: '"/cdn-cgi/speculation"'
  recorded_at: 2026-05-24 13:42:12
recorded_with: VCR-vcr/2.1.0
