http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/collected/weekly?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"117a77701396fee253c5eecfd587a3ab"
      x-pagination-item-count: '215218'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '43044'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":108,"play_count":19087,"collected_count":88,"collector_count":7015,"show":{"title":"Jimmy
        Kimmel Live","year":2003,"ids":{"trakt":1480,"slug":"jimmy-kimmel-live","tvdb":71998,"imdb":"tt0320037","tmdb":1489,"tvrage":null}}},{"watcher_count":1132,"play_count":9309,"collected_count":79,"collector_count":6861,"show":{"title":"Silo","year":2023,"ids":{"trakt":180770,"slug":"silo","tvdb":403245,"imdb":"tt14688458","tmdb":125988,"tvrage":null}}},{"watcher_count":211,"play_count":2897,"collected_count":22,"collector_count":3777,"show":{"title":"Superman
        \u0026 Lois","year":2021,"ids":{"trakt":162205,"slug":"superman-lois","tvdb":375655,"imdb":"tt11192306","tmdb":95057,"tvrage":null}}},{"watcher_count":918,"play_count":29310,"collected_count":21,"collector_count":3698,"show":{"title":"The
        Blacklist","year":2013,"ids":{"trakt":46676,"slug":"the-blacklist","tvdb":266189,"imdb":"tt2741602","tmdb":46952,"tvrage":null}}},{"watcher_count":1905,"play_count":28337,"collected_count":25,"collector_count":3204,"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}}}]'
  recorded_at: 2026-05-24 13:42:17
- request:
    method: GET
    uri: https://api.trakt.tv/movies/collected/weekly?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9db7bb3ea2ecee2975c8641c155f7db5"
      x-pagination-item-count: '689490'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '137898'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":9677,"play_count":10581,"collected_count":3027,"movie":{"title":"Tom
        Clancy''s Jack Ryan: Ghost War","year":2026,"ids":{"trakt":1127320,"slug":"tom-clancy-s-jack-ryan-ghost-war-2026","imdb":"tt34378301","tmdb":1380291}}},{"watcher_count":9322,"play_count":10548,"collected_count":2801,"movie":{"title":"Lee
        Cronin''s The Mummy","year":2026,"ids":{"trakt":1063866,"slug":"lee-cronin-s-the-mummy-2026","imdb":"tt32612507","tmdb":1304313}}},{"watcher_count":6325,"play_count":7262,"collected_count":2319,"movie":{"title":"Normal","year":2026,"ids":{"trakt":1005706,"slug":"normal-2026","imdb":"tt31195136","tmdb":1242332}}},{"watcher_count":6632,"play_count":7859,"collected_count":2251,"movie":{"title":"The
        Super Mario Galaxy Movie","year":2026,"ids":{"trakt":991429,"slug":"the-super-mario-galaxy-movie-2026","imdb":"tt28650488","tmdb":1226863}}},{"watcher_count":784,"play_count":865,"collected_count":1411,"movie":{"title":"Mother
        Mary","year":2026,"ids":{"trakt":887210,"slug":"mother-mary-2026","imdb":"tt27200708","tmdb":1102883}}}]'
  recorded_at: 2026-05-24 13:42:17
recorded_with: VCR-vcr/2.1.0
