http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/collected/weekly?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c58bb1003b290163e9827baba8e81b3a"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '213503'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '42701'
    body:
      string: '[{"watcher_count":110,"play_count":4486,"collected_count":140,"collector_count":7015,"show":{"title":"Jimmy
        Kimmel Live","year":2003,"ids":{"trakt":1480,"slug":"jimmy-kimmel-live","tvdb":71998,"imdb":"tt0320037","tmdb":1489,"tvrage":null}}},{"watcher_count":952,"play_count":8488,"collected_count":855,"collector_count":6861,"show":{"title":"Silo","year":2023,"ids":{"trakt":180770,"slug":"silo","tvdb":403245,"imdb":"tt14688458","tmdb":125988,"tvrage":null}}},{"watcher_count":238,"play_count":2949,"collected_count":25,"collector_count":3777,"show":{"title":"Superman
        \u0026 Lois","year":2021,"ids":{"trakt":162205,"slug":"superman-lois","tvdb":375655,"imdb":"tt11192306","tmdb":95057,"tvrage":null}}},{"watcher_count":867,"play_count":25888,"collected_count":60,"collector_count":3698,"show":{"title":"The
        Blacklist","year":2013,"ids":{"trakt":46676,"slug":"the-blacklist","tvdb":266189,"imdb":"tt2741602","tmdb":46952,"tvrage":null}}},{"watcher_count":2043,"play_count":26138,"collected_count":56,"collector_count":3204,"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}}}]'
  recorded_at: 2026-03-02 11:33:32
- request:
    method: GET
    uri: https://api.trakt.tv/movies/collected/weekly?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3ce8f2a4e44d020fd7d32325f340919a"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1253093'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '250619'
    body:
      string: '[{"watcher_count":12597,"play_count":16668,"collected_count":3991,"movie":{"title":"Shelter","year":2026,"ids":{"trakt":1050424,"slug":"shelter-2026","imdb":"tt32357218","tmdb":1290821}}},{"watcher_count":5930,"play_count":7148,"collected_count":2675,"movie":{"title":"The
        Bluff","year":2026,"ids":{"trakt":634944,"slug":"the-bluff-2026","imdb":"tt14181714","tmdb":799882}}},{"watcher_count":2382,"play_count":2787,"collected_count":2143,"movie":{"title":"Return
        to Silent Hill","year":2026,"ids":{"trakt":525669,"slug":"return-to-silent-hill-2026","imdb":"tt22868010","tmdb":680493}}},{"watcher_count":1066,"play_count":1211,"collected_count":1464,"movie":{"title":"In
        the Blink of an Eye","year":2026,"ids":{"trakt":830830,"slug":"in-the-blink-of-an-eye-2026","imdb":"tt6341826","tmdb":1032892}}},{"watcher_count":1147,"play_count":1500,"collected_count":1202,"movie":{"title":"Dead
        Man''s Wire","year":2026,"ids":{"trakt":1024887,"slug":"dead-man-s-wire-2026","imdb":"tt15181326","tmdb":1263012}}}]'
  recorded_at: 2026-03-02 11:33:32
recorded_with: VCR-vcr/2.1.0
