http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/trending/reviews/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"77de837b308a5fa8a2f8853b303f4674"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '43631'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '4364'
    body:
      string: '[{"type":"show","show":{"title":"Jazz","year":2001,"ids":{"trakt":20765,"slug":"jazz","tvdb":80679,"imdb":"tt0221300","tmdb":20861,"tvrage":null}},"comment":{"id":657653,"comment":"Jazz
        is a noble attempt to be the defining documentary about jazz, “America’s art
        music” and one of the greatest things to happen in human history, in my humble
        opinion.\r\n\r\nBurns has assembled his usual materials – pictures, quotes,
        historians, contemporary music – to go along with video clips and reminiscences
        due to the fact that much of this music was performed when it could be recorded
        either by audio alone or by audio and[...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/recent/shouts/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d005362e27b3379ae697dc266ae2826d"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '728908'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '72891'
    body:
      string: "[{\"type\":\"episode\",\"episode\":{\"season\":1,\"number\":1,\"title\":\"Cobwebs\",\"ids\":{\"trakt\":4542373,\"tvdb\":7996548,\"imdb\":\"tt9894872\",\"tmdb\":2470680,\"tvrage\":null}},\"show\":{\"title\":\"30
        Coins\",\"year\":2020,\"ids\":{\"trakt\":152990,\"slug\":\"30-coins\",\"tvdb\":369414,\"imdb\":\"tt9764386\",\"tmdb\":89844,\"tvrage\":null}},\"comment\":{\"id\":930073,\"comment\":\"The
        original Spanish audio dub sounds very off, like they re-recorded it in a
        studio rather than on location or something, it's very off putting. \\nthe
        series looks more like a telenovela, or soap. Won't be watching more.\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2026-03-02T11:22:55.000Z\",\"updated_at\":\"2026-03-02T11:22:55.000Z\",\"replies\":0,\"likes\":0,\"user_rating\":2,\"language\":\"en\",\"user_stats\":{\"rating\":2,\"play_count\":1,\"completed_count\":1},\"user\":{\"username\":\"Kalamoren\",\"private\":false,\"deleted\":false,\"name\":\"Kalamoren\",\"vip\":false,\"vip_ep\":false,\"director\":false,\"ids\":{\"slug\":\"kalamoren\"}}}},{\"type\":\"movie\",\"movie\":{\"title\":\"Caveat\",\"year\":2021,\"ids\":{\"trakt\":585480,\"slug\":\"caveat-2021\",\"imdb\":\"tt7917178\",\"tmdb\":744746}},\"comment\":{\"id\":930072,\"comment\":\"This
        was a good movie, however a lot of things were left ambiguous which might
        leave a lot of the people wanting more. You need to connect a lot of the dots
        by yourself.\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2026-03-02T11:17:00.000Z\",\"updated_at\":\"2026-03-02T11:17:00.000[...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/updates/all/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b7175b2da2715993797cffca604b920a"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '772539'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '77254'
    body:
      string: "[{\"type\":\"episode\",\"episod[...]
