http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"74ea85fa2244818ae4708bad3329e783"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '2'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2026-03-02 11:33:30
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a46fd1551394ee4d7fa874f4854758b4"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '2'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2026-03-02 11:33:31
recorded_with: VCR-vcr/2.1.0
