http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/item?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 07 Sep 2025 18:04:56 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"movie","movie":{"title":"John Wick: Chapter 3 - Parabellum","year":2019,"ids":{"trakt":304278,"slug":"john-wick-chapter-3-parabellum-2019","imdb":"tt6146586","tmdb":458156}}}'
  recorded_at: 2026-03-02 11:52:36
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/item?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 07 Sep 2025 18:04:56 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"movie","movie":{"title":"John Wick: Chapter 3 - Parabellum","year":2019,"ids":{"trakt":304278,"slug":"john-wick-chapter-3-parabellum-2019","imdb":"tt6146586","tmdb":458156},"tagline":"If
        you want peace, prepare for war.","overview":"Super-assassin John Wick returns
        with a $14 million price tag on his head and an army of bounty-hunting killers
        on his trail. After killing a member of the shadowy international assassin’s
        guild, the High Table, John Wick is excommunicado, but the world’s most ruthless
        hit men and women await his every turn.","released":"2019-05-17","runtime":131,"country":"us","status":"released","rating":7.66512,"votes":32573,"comment_count":158,"trailer":"https://youtube.com/watch?v=pU8-7BX9uxs","homepage":"http://johnwick.movie/film/john-wick-chapter-3-parabellum","updated_at":"2026-03-01T16:50:52.000Z","language":"en","languages":["ar","zh","en","id","it","ja","la","ru"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lt","lv","mk","ms","my","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"],"genres":["crime","thriller","action"],"subgenres":["martial-arts","organized-crime","secret-organization"],"certification":"R","original_title":"John
        Wick: Chapter 3 - Parabellum","after_credits":false,"during_credits":false}}'
  recorded_at: 2026-03-02 11:52:36
- request:
    method: GET
    uri: https://api.trakt.tv/comments/120768/item?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sat, 24 May 2025 23:30:18 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"show","show":{"title":"13 Reasons Why","year":2017,"ids":{"trakt":116129,"slug":"13-reasons-why","tvdb":323168,"imdb":"tt1837492","tmdb":66788,"tvrage":null}}}'
  recorded_at: 2026-03-02 11:52:36
- request:
    method: GET
    uri: https://api.trakt.tv/comments/120768/item?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sat, 24 May 2025 23:30:18 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"show","show":{"title":"13 Reasons Why","year":2017,"ids":{"trakt":116129,"slug":"13-reasons-why","tvdb":323168,"imdb":"tt1837492","tmdb":66788,"tvrage":null},"tagline":"If
        you''re listening, you''re too late.","overview":"After a teenage girl''s
        perplexing suicide, a classmate receives a series of tapes that unravel the
        mystery of her tragic choice.","first_aired":"2017-03-31T07:00:00.000Z","airs":{"day":"Friday","time":"03:00","timezone":"America/New_York"},"runtime":60,"certification":"TV-MA","country":"us","status":"ended","rating":6.98279,"votes":16562,"comment_count":156,"trailer":"https://youtube.com/watch?v=QkT-HIMSrRk","homepage":"http://www.netflix.com/title/80117470","network":"Netflix","updated_at":"2026-03-02T10:59:18.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","da","de","el","en","es","fa","fi","fr","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","ms","nl","no","pl","pt","ro","ru","sk","sr","sv","th","tr","uk","vi","zh"],"genres":["drama","mystery"],"subgenres":["high-school","rape","suicide","bullying","melodrama","mental-illness","dark"],"aired_episodes":49,"original_title":"13
        Reasons Why"}}'
  recorded_at: 2026-03-02 11:52:36
- request:
    method: GET
    uri: https://api.trakt.tv/comments/140265/item?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 07 Sep 2025 18:05:31 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"season","season":{"number":3,"ids":{"trakt":138350,"tvdb":696307,"tmdb":83866,"tvrage":null}},"show":{"title":"Twin
        Peaks","year":1990,"ids":{"trakt":1907,"slug":"twin-peaks","tvdb":70533,"imdb":"tt0098936","tmdb":1920,"tvrage":null}}}'
  recorded_at: 2026-03-02 11:52:36
- request:
    method: GET
    uri: https://api.trakt.tv/comments/140265/item?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 07 Sep 2025 18:05:31 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"season","season":{"number":3,"ids":{"trakt":138350,"tvdb":696307,"tmdb":83866,"tvrage":null},"rating":8.17381,"votes":863,"episode_count":18,"aired_episodes":18,"title":"The
        Return","overview":"Twenty-five years later, the story continues...","first_aired":"2017-05-22T00:00:00.000Z","updated_at":"2026-03-02T07:34:16.000Z","network":"Showtime","original_title":"The
        Return"},"show":{"title":"Twin Peaks","year":1990,"ids":{"trakt":1907,"slug":"twin-peaks","tvdb":70533,"imdb":"tt0098936","tmdb":1920,"tvrage":null},"tagline":"It
        is happening again.","overview":"The body of Laura Palmer is washed up on
        a [...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/136632/item?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Thu, 27 Nov 2025 15:48:25 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"episode","episode":{"season":7,"number":4,"title":"The Spoils
        of War","ids":{"trakt":2610969,"tvdb":6235145,"imdb":"tt5775846","tmdb":1340524,"tvrage":null}},"show":{"title":"Game
        of Thrones","year":2011,"ids":{"trakt":1390,"slug":"game-of-thrones","tvdb":121361,"imdb":"tt0944947","tmdb":1399,"tvrage":null}}}'
  recorded_at: 2026-03-02 11:52:37
- request:
    method: GET
    uri: https://api.trakt.tv/comments/136632/item?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Thu, 27 Nov 2025 15:48:25 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"type":"episode","episode":{"season":7,"number":4,"title":"The Spoils
        of War","ids":{"trakt":2610969,"tvdb":6235145,"imdb":"tt5775846","tmdb":1340524,"tvrage":null},"number_abs":64,"overview":"The
        Lannisters pay their debts. Daenerys weighs her options. Arya comes home.","rating":8.74857,"votes":18228,"comment_count":84,"first_aired":"2017-08-07T01:00:00.000Z","updated_at":"2026-03-02T11:17:17.000Z","available_translations":[],"runtime":50,"episode_type":"standard","original_title":"The
        Spoils of War","after_credits":false,"during_credits":false},"show":{"title":"Game
        of Thrones","year":2011,"ids":{"trakt":1390,"slug":"game-of-thrones","tvdb":121361,"imdb":"tt0944947","tmdb":1399,"tvrage":null},"tagline":"Winter
        is coming.","overview":"Seven noble families fight for control of the mythical
        land of Westeros. Friction between the houses leads to full-scale war. All
        while a very ancient evil awakens in the fa[...]
