http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/trending/reviews/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9b4d3ed25e5ae72c099d69e514875f0e"
      x-pagination-item-count: '44413'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '4442'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"episode","episode":{"season":5,"number":8,"title":"Blood
        and Bone","ids":{"trakt":12138436,"tvdb":11194629,"imdb":"tt33023494","tmdb":6745012,"tvrage":null}},"show":{"title":"The
        Boys","year":2019,"ids":{"trakt":139960,"slug":"the-boys-2019","tvdb":355567,"imdb":"tt1190634","tmdb":76479,"tvrage":null}},"comment":{"id":955318,"comment":"Anticlimactic
        end to everything.\n\nLet''s start with the most obvious issue: the final
        showdown with Homelander isn''t even more intense than Herogasm. \n\nIt replicates
        that 3-vs-1 fight, but delivers only a minuscule fraction of its impact. The
        V1 doesn''t even make any difference during their fight. And no, there''s
        not even a moment of Homelander snapping against civilians, something the
        show had teased and many had expected [...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/recent/shouts/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"745cee9133f87f34bc262d83e9fbf4d6"
      x-pagination-item-count: '747821'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '74783'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: "[{\"type\":\"episode\",\"episode\":{\"season\":1,\"number\":5,\"title\":\"Episode
        5\",\"ids\":{\"trakt\":7397012,\"tvdb\":null,\"imdb\":null,\"tmdb\":4245996,\"tvrage\":null}},\"show\":{\"title\":\"Ariyoshi
        Assists\",\"year\":2023,\"ids\":{\"trakt\":203239,\"slug\":\"ariyoshi-assists\",\"tvdb\":431664,\"imdb\":\"tt26766489\",\"tmdb\":220783,\"tvrage\":null}},\"comment\":{\"id\":956800,\"comment\":\"Netflix:
        Season 1 - Episode 5 “Tokyo Voiceover Film Festival”\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2026-05-24T13:39:48.000Z\",\"updated_at\":\"2026-05-24T13:39:48.000Z\",\"replies\":0,\"likes\":0,\"user_rating\":null,\"language\":\"en\",\"user_stats\":{\"rating\":null,\"play_count\":1,\"completed_count\":1},\"user\":{\"username\":\"DarkAngelX2\",\"private\":false,\"deleted\":false,\"name\":\"Dark Angel\",\"vip\":true,\"vip_ep\":false,\"director\":false,\"ids\":{\"slug\":\"darkangelx2\"}}}},{\"type\":\"show\",\"show\":{\"title\":\"Grogu
        Cutest In The Galaxy\",\"year\":2024,\"ids\":{\"trakt\":272557,\"slug\":\"grogu-cutest-in-the-galaxy\",\"tvdb\":null,\"imdb\":\"tt34932446\",\"tmdb\":281383,\"tvrage\":null}},\"comment\":{\"id\":956799,\"comment\":\"Unfortunately,
        I'm probably not a fan of these short content and the stories and animations...\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2026-05-24T1[...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/updates/all/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"138b7f981e8e0465d0917126bde616ea"
      x-pagination-item-count: '792234'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '79224'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: "[{\"type\":\"episode\",\"episod[...]
