http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"22d075978010d48fecb942c16ec3cd9c"
      x-pagination-item-count: '2'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2026-05-24 13:42:12
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"22d075978010d48fecb942c16ec3cd9c"
      x-pagination-item-count: '2'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2026-05-24 13:42:12
recorded_with: VCR-vcr/2.1.0
