http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/replies
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ba08da7d5483792d8edeb637a211216f"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
    body:
      string: '[{"id":250976,"comment":"@jemus42  That scene is honestly the only
        thing in the film that actually made me say \"Wtf...?\"","spoiler":false,"review":false,"parent_id":236397,"created_at":"2019-09-18T02:57:44.000Z","updated_at":"2019-09-18T02:57:44.000Z","replies":0,"likes":0,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":3,"completed_count":1},"user":{"username":"MisterX867","private":false,"deleted":false,"name":"MisterX867","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"misterx867"}}}]'
  recorded_at: 2026-03-02 12:41:26
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/replies
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ba08da7d5483792d8edeb637a211216f"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
    body:
      string: '[{"id":250976,"comment":"@jemus42  That scene is honestly the only
        thing in the film that actually made me say \"Wtf...?\"","spoiler":false,"review":false,"parent_id":236397,"created_at":"2019-09-18T02:57:44.000Z","updated_at":"2019-09-18T02:57:44.000Z","replies":0,"likes":0,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":3,"completed_count":1},"user":{"username":"MisterX867","private":false,"deleted":false,"name":"MisterX867","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"misterx867"}}}]'
  recorded_at: 2026-03-02 12:41:26
recorded_with: VCR-vcr/2.1.0
