http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/3/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":69913,"plays":91160,"collectors":298967,"comments":2,"lists":144,"votes":1445}'
  recorded_at: 2026-05-24 13:42:31
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/episodes/4/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":64572,"plays":86591,"collectors":289104,"comments":3,"lists":149,"votes":1073}'
  recorded_at: 2026-05-24 13:42:32
recorded_with: VCR-vcr/2.1.0
