http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 04:55:30 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"season":1,"number":1,"title":"Pilot","ids":{"trakt":73482,"tvdb":349232,"imdb":"tt0959621","tmdb":62085,"tvrage":null}}'
  recorded_at: 2026-03-02 12:41:26
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 08:43:23 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"season":1,"number":1,"title":"Space Pilot 3000","ids":{"trakt":38803,"tvdb":131174,"imdb":"tt0584449","tmdb":35006,"tvrage":null}}'
  recorded_at: 2026-03-02 12:41:26
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:17:15 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"season":1,"number":2,"title":"Cat''s in the Bag...","ids":{"trakt":73483,"tvdb":349233,"imdb":"tt1054724","tmdb":62086,"tvrage":null}}'
  recorded_at: 2026-03-02 12:41:26
recorded_with: VCR-vcr/2.1.0
