http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 07:45:14 GMT
      cache-tag: show,episode_metadata
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0959621","plex":{"guid":"5d9c0fc37b5c2e001e6a7045"},"tmdb":62085,"tvdb":349232,"trakt":73482},"title":"Pilot","number":1,"season":1}'
  recorded_at: 2026-05-24 13:42:17
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_metadata,resource:episode:38803
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0584449","plex":{"guid":"65dcb23629624af2f7e6d37b"},"tmdb":35006,"tvdb":131174,"trakt":38803},"title":"Space
        Pilot 3000","number":1,"season":1}'
  recorded_at: 2026-05-24 13:42:17
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_metadata,resource:episode:73483
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt1054724","plex":{"guid":"5d9c0fc37b5c2e001e6a703e"},"tmdb":62086,"tvdb":349233,"trakt":73483},"title":"Cat''s
        in the Bag...","number":2,"season":1}'
  recorded_at: 2026-05-24 13:42:18
recorded_with: VCR-vcr/2.1.0
