http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/lists/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d1c8cede7fb4f90eda42b68bbb5ef69b"
      x-pagination-item-count: '9182'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '919'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"like_count":5089,"comment_count":35,"list":{"name":"MARVEL Cinematic
        Universe","description":"**UPDATED** _2024-01-19_\r\n**Chronological order**                                                                                                             \r\n\r\n_(If
        you are new to MCU, then you should start with; Iron Man, The Incredible Hulk,\r\n                                                                                                                    Iron
        Man 2, Thor, Captain America and then Agent Carter.)_                                                      [...]
- request:
    method: GET
    uri: https://api.trakt.tv/lists/trending?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"edc0b738e93c8254d558e604525489a5"
      x-pagination-item-count: '5532'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '554'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"like_count":60,"comment_count":0,"list":{"name":"IMDB: Top Rated
        Movies","description":"Top 250 movies, as rated by regular IMDB voters. List
        updated daily.","privacy":"public","share_link":"https://trakt.tv/lists/2142753","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2016-04-11T20:13:18.000Z","updated_at":"2026-05-24T11:05:56.000Z","item_count":250,"comment_count":6,"likes":5111,"ids":{"trakt":2142753,"slug":"imdb-top-rated-movies"},"user":{"username":"justin","private":false,"deleted":false,"name":"Justin","vip":true,"vip_ep":true,"director":true,"ids":{"slug":"justin"}}}},{"like_count":49,"comment_count":0,"list":{"name":"IMDB:
        Top Rated TV Shows","description":"Top 250 TV shows, as rated by IMDB members.  List
        updated daily.","privacy":"public","share_link":"https://trakt.tv/lists/2143363","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2016-04-11T23:10:50.000Z","updated_at":"2026-05-24T11:06:07.000Z","item_count":241,"comment_count":0,"likes":3898,"ids[...]
