http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/lists/popular/personal?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user_list,popular,resource:list:2142753,resource:list:1248149,resource:list:2143363,resource:list:800238,resource:list:1282987,resource:list:805405,resource:list:4778265,resource:list:808094,resource:list:11416887,resource:list:1257909,owner_id:1,owner_id:879337,owner_id:16751,owner_id:785,owner_id:17500,owner_id:609065,owner_id:31649,owner_id:223032
      x-pagination-item-count: '6541'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '655'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"like_count":4833,"comment_count":6,"list":{"name":"IMDB: Top Rated
        Movies","description":"Top 250 movies, as rated by regular IMDB voters. List
        updated daily.","privacy":"public","share_link":"","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2016-04-11T20:13:18.000Z","updated_at":"2026-07-01T17:43:40.000Z","item_count":250,"comment_count":6,"likes":4833,"ids":{"slug":"imdb-top-rated-movies","trakt":2142753},"images":{"posters":["media.trakt.tv/images/movies/000/000/234/posters/medium/a97015926b.jpg.webp","media.trakt.tv/images/movies/000/000/196/posters/medium/4436e95fee.jpg.webp","media.trakt.tv/images/movies/000/000/120/posters/medium/8369bf0d4a.jpg.webp","media.trakt.tv/images/movies/000/000/198/posters/medium/f7cd5ab346.jpg.webp","media.trakt.tv/images/movies/000/000/309/posters/medium/0f0ddf5ef5.jpg.webp","media.trakt.tv/images/movies/000/000/090/posters/medium/308c97714c.jpg.webp","media.trakt.tv/images/movies/000/000/336/posters/medium/ea3fe02622.jpg.webp","media.trakt.tv/images/movies/000/000/088/posters/medium/73a273048f.jpg.webp","media.trakt.tv/images/movies/000/000/554/posters/medium/354f1c9483.jpg.webp","media.trakt.tv/images/movies/000/000/341/posters/medium/127b564deb.jpg.webp"]},"user":{"ids":{"slug":"justin","trakt":1},"images":{"avatar":{"full":"https://media.trakt.tv/images/admins/000/000/001/avatars/medium/2e6df69058.jpg"}},"username":"justin","private":false,"deleted":false,"joined_at":"2010-09-25T17:49:25.000Z","location":"United
        States","about":"Do the truffle shuffle!!","name":"Justin","gender":"male","age":44,"vip":true,"vip_ep":false,"vip_cover_image":null,"director":true}}},{"like_count":4509,"comment_count":35,"list":{"name":"MARVEL
        Cinematic Universe","description":"**UPDATED** _2024-01-19_\r\n**Chronological
        order**                                                                                                             \r\n\r\n_(If
        you are new to MCU, then you should start with; Iron Man, The Incredible Hulk,\r\n                                                                                                                    I[...]
- request:
    method: GET
    uri: https://api.trakt.tv/lists/trending/personal?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user_list,trending,resource:list:2142753,resource:list:800238,resource:list:2143363,resource:list:1282987,resource:list:22537852,resource:list:11416887,resource:list:4834057,resource:list:23438792,resource:list:1248149,resource:list:24146149,owner_id:1,owner_id:16751,owner_id:785,owner_id:949678,own[...]
