http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bccdd84689782ce98779fdbba6cc5500"
      x-movie-updated-at: '2026-05-24T08:31:59.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"DazzaStarfox","private":false,"deleted":false,"name":"Darren
        Carol","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"dazzastarfox"}},{"username":"ronaldoaap","private":false,"deleted":false,"name":"Cardos
        Iptv","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ronaldoaap"}}]'
  recorded_at: 2026-05-24 13:42:32
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"03a1e17ae818c4da4ba212c49c06ff70"
      x-show-updated-at: '2026-05-24T09:39:39.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"jarvis-14774275","private":false,"deleted":false,"name":"Yani
        Yani","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-14774275"},"joined_at":"2024-11-23T14:15:44.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/80644dc6a8603a62066845a4a734a424?d=https%3A%2F%2Fmedia.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Fzoidberg.png\u0026r=pg\u0026s=256"}}},{"username":"benfrus","private":false,"deleted":false,"name":"Ben
        Carrasco López","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"benfrus"},"joined_at":"2019-02-06T12:45:10.000Z","location":"Spain","about":null,"gender":"","age":31,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/c3879a8e5[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:15198219,resource:season:13620708
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"slug":"otakon_mad","trakt":15198219},"images":{"avatar":{"full":"https://media.trakt.tv/images/users/015/198/219/avatars/medium/0b95d5d4af.jpeg"}},"username":"Otakon_Mad","private":false,"deleted":false,"joined_at":"2025-03-17T09:54:35.000Z","location":"Chamartin,
        Madrid","about":"","name":"","gender":"","age":null,"vip":false,"vip_ep":false,"vip_cover_image":null,"director":false},{"ids":{"slug":"elluis","trakt":13620708},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/72fd4f015c9b91239e7d91a55301220d?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/zoidberg.png"}},"username":"Elluis","private":false,"deleted":false,"joined_at":"2024-03-05T19:39:34.000Z","location":null,"about":null,"name":null,"gender":null,"age":null,"vip":false,"vip_ep":false,"vip_cover_image":null,"director":false}]'
  recorded_at: 2026-05-24 13:42:33
- request:
    method: GET
    uri: https://api.trakt.tv/shows/game-of-thrones/seasons/1/episodes/1/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_metadata,resource:episode:16556990
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"slug":"mark-hibberd","trakt":16556990},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/0ec5d29190bc6b6bf087c4d3174abfcf?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/zoidberg.png"}},"username":"Mark
        Hibberd","private":false,"deleted":false,"joined_at":"2026-04-25T07:40:39.000Z","location":null,"about":null,"name":"Mark
        Hibberd","gender":null,"age":null,"vip":false,"vip_ep":false,"vip_cover_image":null,"director":false}]'
  recorded_at: 2026-05-24 13:42:33
recorded_with: VCR-vcr/2.1.0
