http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"538549b727b734f2d14621fa297da3e9"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
    body:
      string: '[{"username":"KevinDutton","private":true,"deleted":false,"ids":{"slug":"kevindutton"}}]'
  recorded_at: 2026-03-02 11:52:37
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"47a84dd0a5fa1af2453c55648f8486d5"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"Cthalin","private":false,"deleted":false,"name":"Cthalin","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"cthalin"},"joined_at":"2012-11-19T22:14:35.000Z","location":"","about":"","gender":"","age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/2f60727beda966892f343017172f2b58?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Fzoidberg.png\u0026r=pg\u0026s=256"}}},{"username":"russelgazimov","private":false,"deleted":false,"name":"russelg","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"russelgazimov"},"joined_at":"2021-08-26T12:09:50.000Z","location":"Perth,
        Western Australia","about":"","gender":"male","age":28,"images":{"avatar":{"full":"https://secure.gra[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"be5372eb2e6235529cf66a7adf151098"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '455'
      x-show-season-id: '1485'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"jarvis-12557835","private":false,"deleted":false,"name":"No
        Name","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-12557835"}},{"username":"Cyberu2","private":false,"deleted":false,"name":"Cyberu2","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"cyberu2"}},{"username":"Cosmic_Lizard","private":false,"deleted":false,"name":"Cosmic
        Lizard","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"cosmic_lizard"}},{"username":"jarvis-16205590","private":false,"deleted":false,"name":"Alejandro
        Ruiz","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-16205590"}},{"username":"GoTeamScotch","private":false,"deleted":false,"name":"Jordan
        Chase","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"goteamscotch"}}]'
  recorded_at: 2026-03-02 11:52:37
- request:
    method: GET
    uri: https://api.trakt.tv/shows/game-of-thrones/seasons/1/episodes/1/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"aef24bf73428d30af037567feae5eeea"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1390'
      x-show-season-id: '3963'
      x-show-updated-at: '2026-03-02T06:38:27.000Z'
    body:
      string: '[{"username":"rishhyt","private":false,"deleted":false,"name":"Hrishit
        Verma","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"rishhyt"}},{"username":"krmts2311","private":false,"deleted":false,"name":"javi","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"krmts2311"}},{"username":"jtang7","private":false,"deleted":false,"name":"João
        Tang","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jtang7"}}]'
  recorded_at: 2026-03-02 11:52:37
recorded_with: VCR-vcr/2.1.0
