http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/193972/comments/newest
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cd377cd4d9f400075d851e766e5b0308"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:27:50.000Z'
      x-pagination-item-count: '75'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '8'
    body:
      string: '[{"id":927376,"comment":"Genuinely, I can''t believe they''ve done
        that. It was all going somewhat well before that atrocious ending. Visually,
        it looked fantastic, but I despise how close it''s getting to live action,
        and why did they cut the ratio down? I loved the full screen. Voice acting-wise,
        it''s a great cast, but why does nearly everyone sound so much blander than
        before? There are some great jokes, but why so many emotional cues? As for
        the story, it''s fine, and I enjoyed the new additions, but why do we get
        barely any of the gang together? I have so many questions. I was looking forward
        to the next film, but now I''m not so sure.","spoiler":false,"review":false,"parent_id":0,"created_at":"2026-02-23T07:21:28.000Z","updated_at":"2026-02-23T07:21:28.000Z","replies":0,"likes":0,"user_rating":6,"language":"en","user_stats":{"rating":6,"play_count":1,"completed_count":1},"user":{"username":"zxki","private":false,"deleted":false,"name":"zxki","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"zxki"}}},{"id":925920,"comment":"_Toy
        Story 4_ is a strange, conflicted sequel. It''s a movie with genuinely strong
        ideas up front, but diminishing returns the longer it goes on. The first act
        is easily the film at its best. Woody steps into a parental role with Bonnie''s
        new toy Forky, reinforcing the core lessons of the original trilogy: purpose,
        responsibility, and selflessness. The opening credits are especially effective,
        quietly showing the [...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/comments/likes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a978809c0577980f35bae41aa9d5eda6"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '44'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '5'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '[{"id":4528,"comment":"The bright colours, the haunting and melodic
        soundtrack and the excellent acting, direction and writing! This one is a
        work of art!","spoiler":false,"review":false,"parent_id":0,"created_at":"2014-12-27T21:04:43.000Z","updated_at":"2014-12-27T21:04:43.000Z","replies":0,"likes":40,"user_rating":9,"language":"en","user_stats":{"rating":9,"play_count":12,"completed_count":12},"user":{"username":"scholarsaren[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/1388/seasons/1/comments/likes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d9a4fa9f5c31b86ab64025b12f9125fa"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '8'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '[{"id":63853,"comment":"Thus begins one of the greatest television
        shows ever made. Like, for real. This isn''t just some really good show. This
        show is perfection in story telling. If you haven''t seen this, quit your
        job or leave your children unattended or break out of jail or whatever. You
        need to start watching it now. This first season is interesting since it is
        such[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/1388/seasons/1/episodes/2/comments/likes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"96aca393cc35eef73668c18c24d96203"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '13'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updat[...]
