http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Wade Wilson / Deadpool","characters":["Wade
        Wilson","Deadpool"],"person":{"ids":{"imdb":"nm0005351","slug":"ryan-reynolds","tmdb":10859,"trakt":416707},"name":"Ryan
        Reynolds","death":null,"gender":"male","height":187.9600067138672,"images":{"fanart":["media.trakt.tv/images/people/000/416/707/fanarts/medium/fb20e4ad8d.jpg.webp"],"headshot":["media.trakt.tv/images/people/000/416/707/headshots/medium/23bb5937f4.jpg.webp"]},"birthday":"1976-10-23","homepage":null,"biography":"Ryan
        Rodney Reynolds (born October 23, 1976) is a Canadian and American actor,
        entrepreneur and film producer. Known for starring in comedicand superhero
        films, he was the world''s second-highest-paid actor in 2020 and 2024. Reynolds
        has received numerous accolades, including two Primetime Emmy Awards, as well
        as nominations for two Grammy Awards and a Golden Globe Award. His films as
        a leading actor have grossed $6.6 billion worldwide.\n\nBorn an[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ba5290f11508f04d41318999e54390f0"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"episode_count":62,"person":{"name":"Bryan
        Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null}}},{"character":"Jesse
        Pinkman","characters":["Jesse Pinkman"],"episode_count":62,"person":{"name":"Aaron
        Paul","ids":{"trakt":415249,"slug":"aaron-paul","imdb":"nm0666739","tmdb":84497,"tvrage":null}}},{"character":"Skyler
        White","characters":["Skyler White"],"episode_count":62,"person":{"name":"Anna
        Gunn","ids":{"trakt":420986,"slug":"anna-gunn","imdb":"nm0348152","tmdb":134531,"tvrage":null}}},{"character":"Walter
        White Jr.","characters":["Walter W[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people?extended=guest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0d354b0acf3dfab36670b6e87d478592"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"episode_count":62,"person":{"name":"Bryan
        Cranston"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2fd1f6e369c1afdc6648e591c1d8423e"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"episode_count":7,"person":{"name":"Bryan
        Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null}}},{"character":"Jesse
        Pinkman","characters":["Jesse Pinkman"],"episode_count":7,"person":{"name":"Aaron
        Paul","ids":{"trakt":415249,"slug":"aaron-paul","imdb":"nm0666739","tmdb":84497,"tvrage":null}}},{"character":"Skyler
        White","characters":["Skyler White"],"episode_count":7,"person":{"name":"Anna
        Gunn","ids":{"trakt":420986,"slug":"anna-gunn","imdb":"nm0348152","tmdb":134531,"tvrage":null}}},{"character":"Walter
        White Jr.","characters":["Walter White Jr."],"episode_count":7,"person":{"name":"RJ
        Mitte","ids":{"trakt":459150,"slug":"rj-mitte-06c377f6-88c1-4969-86f0-dc0031e45149","imdb":"nm2666409","tmdb":209674,"tvrage":null}}},{"character":"Hank
        Schrader","characters":["Hank Schrader"],"episode_count":7,"person":{"name":"Dean
        Norris","ids":{"trakt":415192,"slug":"dean-norris","imdb":"nm0606487","tmdb":14329,"tvrage":null}}},{"character":"Marie
        Schrader","characters":["Marie Schrader"],"episode_count":7,"person":{"name":"Betsy
        Brandt","ids":{"trakt":436547,"slug":"betsy-brandt","imdb":"nm1336827","tmdb":1217934,"tvrage":null}}}],"crew":{"writing":[{"job":"Story
        Editor, Writer","jobs":["Story Editor","Writer"],"episode_count":7,"person":{"name":"George
        Mastras","ids":{"trakt":400289,"slug":"george-mastras","imdb":"nm2297407","tmdb":1223193,"tvrage":null}}},{"job":"Story
        Editor, Writer","jobs":["Story Editor","Writer"],"episode_count":7,"person":{"name":"Peter
        Gould","ids":{"trakt":20811,"slug":"peter-gould","imdb":"nm0332467","tmdb":24951,"tvrage":null}}},{"job":"Writer","jobs":["Writer"],"episode_count":4,"person":{"name":"Vince
        Gilligan","ids":{"trakt":423003,"slug":"vince-gilligan","imdb":"nm0319213","tmdb":66633,"tvrage":null}}},{"job":"Writer","jobs":["Writer"],"episode_count":1,"person":{"name":"Patty
        Lin","ids":{"trakt":398571,"slug":"patty-lin","imdb":"nm0510937","tmdb":1218856,"tvrage":null}}}],"crew":[{"job":"Thanks","jobs":["Thanks"],"episode_count":7,"person":{"name":"Martin
        Chávez","ids":{"trakt":3249099,"slug":"martin-chavez-fc22def5-337d-4d57-8829-426ee89d08be","imdb":"nm2852321","tmdb":4065206,"tvrage":null}}},{"job":"Stunt
        Coordinator","jobs":["Stunt Coordinator"],"episode_count":7,"person":{"name":"Al
        Goto","ids":{"trakt":577447,"slug":"al-goto","imdb":"nm0331814","tmdb":1537690,"tvrage":null}}},{"job":"Stunts","jobs":["Stunts"],"episode_count":2,"person":{"name":"Cesar
        Garcia","ids":{"trakt":421787,"slug":"cesar-garcia-2fe41ae3-a362-43a4-bf6c-09a9562831d8","imdb":"nm1075323","tmdb":53255,"tvrage":null}}}],"sound":[{"job":"Supervising
        Sound Editor","jobs":["Supervising Sound Editor"],"episode_count":7,"person":{"name":"Nick
        Forshager","ids":{"trakt":1012176,"slug":"nick-forshager-1012176","imdb":"nm0286860","tmdb":1537682,"tvrage":null}}},{"job":"Sound
        Re-Recording Mixer","jobs":["Sound Re-Recording Mixer"],"episode_count":7,"person":{"name":"Eric
        Justen","ids":{"trakt":521319,"slug":"eric-justen","imdb":"nm0433127","tmdb":1440228,"tvrage":null}}},{"job":"Original
        Music Composer","jobs":["Original Music Composer"],"episode_count":7,"person":{"name":"Dave
        Porter","ids":{"trakt":241567,"slug":"dave-porter","imdb":"nm1726663","tmdb":1280070,"tvrage":null}}},{"job":"Music
        Supervisor","jobs":["Music Supervisor"],"episode_count":7,"person":{"name":"Thomas
        Golubić","ids":{"trakt":201824,"slug":"thomas-golubic","imdb":"nm0326724","tmdb":1069688,"tvrage":null}}},{"job":"Sound
        Re-Recording Mixer","jobs":["Sound Re-Recording Mixer"],"episode_count":7,"person":{"name":"Jeffrey
        Perkins","ids":{"trakt":146054,"slug":"jeffrey-perkins","imdb":"nm0673964","tmdb":143921,"tvrage":null}}}],"production":[{"job":"Executive
        Producer","jobs":["Executive Producer"],"episode_count":7,"person":{"name":"Vince
        Gilligan","ids":{"trakt":423003,"slug":"vince-gilligan","imdb":"nm0319213","tmdb":66633,"tvrage":null}}},{"job":"Executive
        Producer","jobs":["Executive Producer"],"episode_count":7,"person":{"name":"Mark
        Johnson","ids":{"trakt":412662,"slug":"mark-johnson-15eae82b-791a-4c7f-a8d8-d5417954f0c5","imdb":"nm0425741","tmdb":5162,"tvrage":null}}},{"job":"Casting","jobs":[[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people?extended=guest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"948c09030c7cb6ab9932b9566fc80f34"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter Whi[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f8ea9722679d9e3885162bdc4eca8f35"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"pers[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1/people?extended=guest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"07eb40a938b671d3ae1a6a072439fe5e"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"cast":[{"character":"Walter White","characters":[[...]
