http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"acaa47eb1e2671e2884b63e236218301"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
    body:
      string: '[{"username":"KevinDutton","private":true,"deleted":false,"ids":{"slug":"kevindutton"}}]'
  recorded_at: 2026-03-02 12:41:27
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6e10354b93ed65e984ef53d6f1922093"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"matoh","private":true,"deleted":false,"ids":{"slug":"matoh"}},{"username":"AlfoniH","private":false,"deleted":false,"name":"Hannes
        Landergren","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"alfonih"},"joined_at":"2026-02-07T13:28:12.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/b06b7f543aa054f0dff23e8dcf0d3a83?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Fzoidberg.png\u0026r=pg\u0026s=256"}}},{"username":"lgashi90","private":false,"deleted":false,"name":"lgashi90","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"lgashi90"},"joined_at":"2024-11-13T12:40:32.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/0c163e4e46e822236ff2[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"356e1179a3b433230ca3307ef6953b08"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '455'
      x-show-season-id: '1485'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"jarvis-16205590","private":false,"deleted":false,"name":"Alejandro
        Ruiz","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-16205590"}}]'
  recorded_at: 2026-03-02 12:41:27
- request:
    method: GET
    uri: https://api.trakt.tv/shows/game-of-thrones/seasons/1/episodes/1/watching
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d9dec7a77de170e911a1ac4a3e435589"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1390'
      x-show-season-id: '3963'
      x-show-updated-at: '2026-03-02T06:38:27.000Z'
    body:
      string: '[{"username":"konizio","private":false,"deleted":false,"name":"Ron
        Mizrahi","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"konizio"}},{"username":"whp556644","private":false,"deleted":false,"name":"whp556644","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"whp556644"}},{"username":"Voidal","private":false,"deleted":false,"name":"nikhil
        mishra","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"voidal"}}]'
  recorded_at: 2026-03-02 12:41:28
recorded_with: VCR-vcr/2.1.0
