http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 16:50:02 GMT
      cache-tag: show,season_ratings
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"trakt":{"rating":7.47375,"votes":3048,"distribution":{"1":3,"2":1,"3":0,"4":1,"5":43,"6":21,"7":2232,"8":271,"9":122,"10":354}},"tmdb":{"rating":null,"votes":null,"link":"https://www.themoviedb.org/tv/615/season/1"},"imdb":{"rating":null,"votes":null,"link":"https://www.imdb.com/title/tt0149460/episodes?season=1"},"metascore":{"rating":null,"link":"https://www.imdb.com/title/tt0149460/episodes?season=1/criticreviews"},"rotten_tomatoes":{"rating":null,"state":null,"user_rating":null,"user_state":null,"link":null}}'
  recorded_at: 2026-05-24 16:52:04
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/1/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_ratings
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"trakt":{"rating":7.45062,"votes":2896,"distribution":{"1":6,"2":1,"3":4,"4":8,"5":52,"6":89,"7":1636,"8":826,"9":69,"10":205}},"tmdb":{"rating":null,"votes":null,"link":"https://www.themoviedb.org/tv/456/season/1"},"imdb":{"rating":null,"votes":null,"link":"https://www.imdb.com/title/tt0096697/episodes?season=1"},"metascore":{"rating":null,"link":"https://www.imdb.com/title/tt0096697/episodes?season=1/criticreviews"},"rotten_tomatoes":{"rating":null,"state":null,"user_rating":null,"user_state":null,"link":null}}'
  recorded_at: 2026-05-24 16:52:04
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/3/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_ratings
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.84913,"votes":1445,"distribution":{"1":9,"2":6,"3":3,"4":0,"5":14,"6":170,"7":347,"8":499,"9":169,"10":228}}'
  recorded_at: 2026-05-24 16:52:05
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/1/episodes/3/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_ratings
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.24413,"votes":1577,"distribution":{"1":7,"2":8,"3":6,"4":10,"5":56,"6":272,"7":433,"8":249,"9":69,"10":125}}'
  recorded_at: 2026-05-24 16:52:06
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/2/episodes/4/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,episode_ratings
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.63768,"votes":828,"distribution":{"1":2,"2":6,"3":5,"4":4,"5":15,"6":110,"7":221,"8":282,"9":89,"10":94}}'
  recorded_at: 2026-05-24 16:52:06
recorded_with: VCR-vcr/2.1.0
