http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:23 GMT
      cache-tag: show,show_metadata
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0096697","plex":{"guid":"5d9c080d3c3f87001f3460e8","slug":"the-simpsons"},"slug":"the-simpsons","tmdb":456,"tvdb":71663,"trakt":455},"year":1989,"title":"The
        Simpsons","aired_episodes":801},{"ids":{"imdb":"tt2861424","plex":{"guid":"5d9c08382192ba001f30a9c7","slug":"rick-and-morty"},"slug":"rick-and-morty","tmdb":60625,"tvdb":275274,"trakt":69829},"year":2013,"title":"Rick
        and Morty","aired_episodes":81},{"ids":{"imdb":"tt5363918","plex":{"guid":"5d9c08d93c3f87001f357a4f","slug":"disenchantment"},"slug":"disenchantment","tmdb":73021,"tvdb":340234,"trakt":126558},"year":2018,"title":"Disenchantment","aired_episodes":50},{"ids":{"imdb":"tt6317068","plex":{"guid":"5d9c08d[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:23 GMT
      cache-tag: show,show_metadata
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0096697","plex":{"guid":"5d9c080d3c3f87001f3460e8","slug":"the-simpsons"},"slug":"the-simpsons","tmdb":456,"tvdb":71663,"trakt":455},"airs":{"day":"Sunday","time":"20:00","timezone":"America/New_York"},"year":1989,"title":"The
        Simpsons","votes":19363,"colors":{"poster":["#D1CCBE","#838A60"]},"genres":["animation","comedy","family"],"images":{"logo":["media.trakt.tv/images/shows/000/000/455/logos/medium/3898f4ae1c.png.webp"],"thumb":["media.trakt.tv/images/shows/000/000/455/thumbs/medium/85646a2a26.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/000/455/banners/medium/ea9fb02ccd.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/000/455/fanarts/medium/e69f8ca9ad.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/000/455/posters/medium/8b737766ea.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/000/455/cleararts/medium/28907f732f.png.webp"]},"rating":8.16898250579834,"status":"returning
        series","country":"us","network":"FOX","runtime":20,"tagline":"Just a product
        of society that''s lost its good manners.","trailer":"https://youtube.com/watch?v=_jgYEYERYFQ","homepage":"https://www.thesimpsons.com/","language":"en","overview":"Set
        in Springfield, the average American town, the show focuses on the antics
        and everyday adventures of the Simpson family; Homer, Marge, Bart, Lisa and
        Maggie, as well as a virtual cast of thousands. Since the beginning, the series
        has been a pop culture icon, attracting hundreds of celebrities to guest star.
        The show has also made name for itself in its fearless satirical take on politics,
        media and American life in general.","languages":["en"],"subgenres":["cartoon","adult-animation","adult-humor","parody","satire","sitcom","kids","school","dysfunctional-family","inspirational"],"social_ids":{"twitter":"thesimpsons","facebook":"TheSimpsons","instagram":"thesimpsons","wikipedia":"The_Simpsons"},"updated_at":"2026-05-24T09:39:39.000Z","first_aired":"1989-12-18T01:00:00.000Z","certification":"TV-14","comment_count":78,"total_runtime":18248,"aired_episodes":801,"original_title":"The
        Simpsons","available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lb","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","ta","th","tr","uk","uz","vi","zh"]},{"ids":{"imdb":"tt2861424","plex":{"guid":"5d9c08382192ba001f30a9c7","slug":"rick-and-morty"},"slug":"rick-and-morty","tmdb":60625,"tvdb":275274,"trakt":69829},"airs":{"day":"Sunday","time":"23:00","timezone":"America/New_York"},"year":2013,"title":"Rick
        and Morty","votes":34420,"col[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_metadata,resource:movie:481,resource:movie:102156,resource:movie:47,resource:movie:31151,resource:movie:6422,resource:movie:145,resource:movie:851,resource:movie:216716,resource:movie:427989,resource:movie:92230
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
   [...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_metadata,resource:movie:481,resource:movie:102156,resource:movie:47,resource:movie:31151,resource:movie:6422,resource:movie:145,resource:movie:851,resource:movie:216716,resource:movie:427989,resource:movie:92230
      x-pagination-item-count: '20'
      x-pagination-l[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/NA/related?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_metadata
      x-pagination-item-count: '0'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '0'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-05-24 16:33:26
recorded_with: VCR-vcr/2.1.0
