http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/190430/lists/personal/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"da47e6cdb9842ea1831b40ad14d28102"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
      x-pagination-item-count: '4209'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '842'
    body:
      string: '[{"name":"Trending Movies","description":"This list is maintained by
        mdblist.com\r\nCreate your own: https://mdblist.com/lists/snoak/trending-movies\r\nUpdated
        at 2026-03-02 02:13:51","privacy":"public","share_link":"https://trakt.tv/lists/33032593","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2025-11-24T10:46:23.000Z","updated_at":"2026-03-02T00:13:51.000Z","item_count":249,"comment_count":0,"likes":135,"ids":{"trakt":33032593,"slug":"trending-movies"},"user":{"username":"snoak","private":false,"deleted":false,"name":"snoak","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"snoak"}}},{"name":"Popular
        Comedy Movies","description":"This list is maintained by mdblist.com\r\nCreate
        your own: https://mdblist.com/lists/snoak/comedy-movies\r\nUpdated at 2026-03-02
        01:41:37","privacy":"public","share_link":"https://trakt.tv/lists/33032930","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2025-11-24T11:39:45.000Z","updated_at":"2026-03-01T23:41:37.000Z","item_count":5[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e6779a3a25b197667e2afd28ccc72865"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '10000'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1000'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '[{"name":"British Shows","description":"","privacy":"public","share_link":"https://trakt.tv/lists/4554911","type":"personal","display_numbers":false,"allow_comments":false,"sort_by":"title","sort_how":"asc","created_at":"2018-02-09T14:25:33.000Z","updated_at":"2026-03-01T14:29:42.000Z","item_count":629,"comment_count":0,"likes":149,"ids":{"trakt":4554911,"slug":"british-shows"},"user":{"username":"Gonzohunter","private":false,"deleted":false,"name":"Gonzohunter","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"gonzohunter"}}},{"name":"Sci-Fi
        Shows","description":"This list is maintained by mdblist.com\r\nCreate your
        own: https://mdblist.com/lists/garycrawfordgc/sci-fi-shows\r\nUpdated at 2026-03-02
        11:52:11","privacy":"public","share_link":"https://trakt.tv/lists/20772095","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2021-01-29T23:22:37.000Z","updated_at":"2026-03-02T09:52:11.000Z","item_count":134,"comment_count":0,"likes":926,"ids":{"trakt":20772095,"slug":"sci-fi-shows"},"user":{"username":"garycrawfordgc","private":false,"deleted":fa[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c4c22a7a2efb0eaa42d1026ecf252f37"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '74'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '8'
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '[{"name":"Shows I watched in 2017","description":"","privacy":"public","share_link":"https://trakt.tv/lists/3488381","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2017-03-18T13:01:53.000Z","updated_at":"2021-11-27T16:11:04.000Z","item_count":113,"comment_count":0,"likes":2,"ids":{"trakt":3488381,"slug":"shows-i-watched-in-2017"},"user":{"username[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/episodes/1/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cb81265f5d9819f42c3ff36a1a32be6c"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '54'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '6'
      x-show-id: '46241'
      x-show-season-id: '56008'
   [...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/david-tennant/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d3b677021d3b778c702c3af86da046e4"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '43'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '5'
    body:
      string: "[{\"name\":\"Favourite Actors\",\"description\"[...]
