http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"collectors":368894,"comments":73,"favorited":2809,"lists":68536,"plays":10532662,"recommended":2809,"votes":18000,"watchers":96088}'
  recorded_at: 2026-05-24 13:42:31
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"collectors":529955,"comments":258,"favorited":3791,"lists":106346,"plays":384812,"recommended":3791,"votes":104213,"watchers":299366}'
  recorded_at: 2026-05-24 13:42:31
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"collectors":846790,"comments":532,"favorited":16871,"lists":232291,"plays":17901792,"recommended":16871,"votes":96710,"watchers":295522}'
  recorded_at: 2026-05-24 13:42:31
recorded_with: VCR-vcr/2.1.0
