http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/190430/lists/personal/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,user_list,resource:movie:22537852,resource:movie:11487194,resource:movie:4403343,resource:movie:2197031,resource:movie:4834049,owner_id:949678,owner_id:2108849,owner_id:1343113,owner_id:1249835,owner_id:1
      x-pagination-item-count: '186'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '38'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Sci-Fi","description":"","privacy":"public","share_link":"","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"released","sort_how":"desc","created_at":"2021-11-13T04:01:28.000Z","updated_at":"2026-05-24T12:50:17.000Z","item_count":1472,"comment_count":0,"likes":262,"ids":{"slug":"sci-fi-72c81243-2a16-453c-8366-b41d86114c23","trakt":22537852},"images":{"posters":[]},"user":{"ids":{"slug":"usiris","trakt":949678},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/221bc22769f16f338c1b723ca475da75?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/fry.png"}},"username":"Usiris","private":false,"deleted":false,"joined_at":"2015-03-21T21:06:41.000Z","location":"Ontario,
        Canada","about":"","name":"Martin","gender":"male","age":1,"vip":true,"vip_ep":false,"vip_cover_image":null,"director":false}},{"name":"Movie
        Boxsets & Collections","description":"","privacy":"public","share_link":"","type":"personal","display_numbers":false,"allow_comments":false,"sort_by":"rank","sort_how":"asc","created_at":"2020-05-04T00:53:04.000Z","updated_at":"2026-05-24T07:51:41.000Z","item_count":1277,"comment_count":0,"likes":710,"ids":{"slug":"movie-boxsets-collections","trakt":11487194},"images":{"posters":[]},"user":{"ids":{"slug":"crims7392","trakt":2108849},"images":{"avatar":{"full":"http[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,user_list,resource:show:5495188,resource:show:4554911,resource:show:24376999,resource:show:21539470,resource:show:4117210,resource:show:22421838,resource:show:815809,resource:show:23120274,resource:show:23105515,resource:show:22865671,owner_id:411514,owner_id:1462423,owner_id:12372829,own[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cef3fce2db55ea2a2c523789f09345ed"
      x-pagination-item-count: '71'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '8'
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-show-updated-at: '2026-05-24T12:14:38.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Shows I watched in 2017","description":"","privacy":"public","share_link":"https://trakt.tv/lists/3488381","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2017-03-18T13:01:53.000Z","updated_at":"2021-11-27T16:11:04.000Z","item_count":113,"comment_count":0,"likes":2,"ids":{"trakt":3488381,"slug":"shows-i-watched-in-2017"},[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/episodes/1/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cb81265f5d9819f42c3ff36a1a32be6c"
      x-pagination-item-count: '38'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '4'
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-show-updated-at: '2026-05-24T12:14:38.000Z'
 [...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/david-tennant/lists/all/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: people,user_list,resource:person:6172360,owner_id:1979796
      x-pagination-item-count: '1'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Actors","description":"","privacy":"public","share_link":"","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2019-01-16T21:47:25.000Z","updated_at":"2026-05-21T23:23:21.000Z","item_count":596,"comment_count":0,"likes":5,"ids":{"slug":"actors","trakt":6172360},"images":{"posters":[]},"user":{"ids":{"slug":"stonecold669","trakt":1979796},"images":{"avatar":{"full":"https://media.trakt.tv/images/users/001/979/796/avatars/medium/1d8b8fe840.JPG"}},"username":"stonecold669","private":false,"deleted":false,"joined_at":"2016-05-29T14:42:26.000Z","location":"Clacton-on-Sea","about":"","name":"Phil
        Davies","gender":"male","age":null,"vip":true,"vip_ep":false,"vip_cover_image":null,"director":false}}]'
  recorded_at: 2026-05-24 13:42:32
recorded_with: VCR-vcr/2.1.0
