http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a0045355d9feac6e665c9385dd2224ef"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '[{"title":"The Simpsons","year":1989,"ids":{"trakt":455,"slug":"the-simpsons","tvdb":71663,"imdb":"tt0096697","tmdb":456,"tvrage":null}},{"title":"Rick
        and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null}},{"title":"Disenchantment","year":2018,"ids":{"trakt":126558,"slug":"disenchantment","tvdb":340234,"imdb":"tt5363918","tmdb":73021,"tvrage":null}},{"title":"Final
        Space","year":2018,"ids":{"trakt":122298,"slug":"final-space","tvdb":332353,"imdb":"tt6317068","tmdb":74387,"tvrage":null}},{"title":"South
        Park","year":1997,"ids":{"trakt":2177,"slug":"south-park","tvdb":75897,"imdb":"tt0121955","tmdb":2190,"tvrage":null}},{"title":"Family
        Guy","year":1999,"ids":{"trakt":1425,"slug":"family-guy","tvdb":75978,"imdb":"tt0182576","tmdb":1434,"tvrage":null}},{"title":"BoJack
        Horseman","year":2014,"ids":{"trakt":60730,"slug":"bojack-horseman","tvdb":282254,"imdb":"tt3398228","tmdb":61222,"tvrage":null}},{"title":"Solar
        Opposites","year":2020,"ids":{"trakt":157503,"slug":"solar-opposites","tvdb":375892,"imdb":"tt8910922","tmdb":97645,"tvrage":null}},{"title":"Gravity
        Falls","year":2012,"ids":{"trakt":39892,"slug":"gravity-falls","tvdb":259972,"imdb":"tt1865718","tmdb":40075,"tvrage":null}},{"title":"Adventure
        Time","year":2010,"ids":{"trakt":15195,"slug":"adventure-time","tvdb":152831,"imdb":"tt1305826","tmdb":15260,"tvrage":null}}]'
  recorded_at: 2026-03-02 11:33:30
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a0045355d9feac6e665c9385dd2224ef"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '[{"title":"The Simpsons","year":1989,"ids":{"trakt":455,"slug":"the-simpsons","tvdb":71663,"imdb":"tt0096697","tmdb":456,"tvrage":null},"tagline":"Just
        a product of society that''s lost its good manners.","overview":"Set in Springfield,
        the average American town, the show focuses on the antics and everyday adventures
        of the Simpson family; Homer, Marge, Bart, Lisa and Maggie, as well as a virtual
        cast of thousands. Since the beginning, the series has been a pop culture
        icon, attracting hundreds of celebrities to guest star. The show has also
        made name for itself in its fearless satirical take on politics, media and
        American life in general.","first_aired":"1989-12-18T01:00:00.000Z","airs":{"day":"Sunday","time":"20:00","timezone":"America/New_York"},"runtime":20,"certification":"TV-14","country":"us","status":"returning
        series","rating":8.23545,"votes":24506,"comment_count":79,"trailer":"https://youtube.com/watch?v=_jgYEYERYFQ","homepage":"http://www.thesimpsons.com/","network":"FOX","updated_at":"2026-03-02T08:03:16.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lb","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","ta","th","tr","uk","uz","vi","zh"],"genres":["animation","comedy","family"],"subgenres":["cartoon","adult-animation","adult-humor","parody","satire","sitcom","kids","school","dysfunctional-family"],"aired_episodes":801,"original_title":"The
        Simpsons"},{"title":"Rick and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null},"tagline":"Science
        makes sense, family doesn''t.","overview":"Follows a sociopathic genius scientist
        who drags his inherently timid grandson on adventures across the universe.","first_aired":"2013-12-03T04:00:00.000Z","airs":{"day":"Sunday","time":"23:00","timezone":"America/New_York"},"runtime":20,"certification":[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=min&limit=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a0045355d9feac6e665c9385dd2224ef"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0133093","plex":{"guid":"5d776827880197001ec90904","slug":"the-matrix"},"slug":"the-matrix-1999","tmdb":603,"trakt":481},"year":1999,"title":"The
        Matrix","votes":74350,"colors":{"poster":["#9AAAB4","#141A2A"]},"genres":["action","science-fiction"],"images":{"logo":["media.trakt.tv/images/movies/000/000/481/logos/medium/f5e05ed291.png.webp"],"thumb":["media.trakt.tv/images/movies/000/000/481/thumbs/medium/f81f544f62.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/000/481/banners/medium/035f31fce0.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/000/481/fanarts/medium/c556867276.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/000/481/posters/medium/373310d2ee.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/000/481/cleararts/medium/a01dd6ff88.png.webp"]},"rating":8.732938766479492,"status":"released","country":"us","runtime":136,"tagline":"Believe
        the unbelievable.","trailer":"https://youtube.com/watch?v=d0XTFAMmhrE","homepage":"https://www.warnerbros.com/matrix","language":"en","overview":"Set
        in the 22nd century, The Matrix tells the story of a computer hacker who joins
        a group of underground insurgents fighting the vast and powerful computers
        who now rule the earth.","released":"1999-03-31","languages":["en"],"subgenres":["action-hero","dystopia","fight","kung-fu","martial-arts","artificial-intelligence-a-i","dreams","cyberpunk","virtual-reality","saving-the-world","self-sacrifice"],"updated_at":"2026-03-01T16:26:47.000Z","after_credits":false,"certification":"R","comment_count":153,"during_credits":false,"original_title":"The
        Matrix","available_translations":["ar","bg","bs","ca","cs","da","de","el","en","eo","es","et","fa","fi","fr","gl","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","mk","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","uz","vi","zh"]},{"ids":{"imdb":"tt0816692","plex":{"guid":"5d7769cefb0d55001f530acd","slug":"interstellar"},"slug":"interstellar-2014","tmdb":157336,"trakt":102156},"year":2014,"title":"Interstellar","votes":92914,"colors":{[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie
      x-pagination-item-count: '20'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0133093","plex":{"guid":"5d776827880197001ec90904[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/NA/related?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"236f423846c17cd73fe069ba9c771d55"
      speculation-rules: '"/cdn-cgi/speculation"'
      cache-tag: movie
      x-movie-updated-at: '2025-04-08T19:25:05.000Z'
      x-pagination-item-count: '0'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '0'
    body:
      string: '[]'
  recorded_at: 2026-03-02 11:33:30
recorded_with: VCR-vcr/2.1.0
