http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:19 GMT
      cache-tag: movie,movie_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Wade Wilson / Deadpool","characters":["Wade
        Wilson","Deadpool"],"person":{"ids":{"imdb":"nm0005351","slug":"ryan-reynolds","tmdb":10859,"trakt":416707},"name":"Ryan
        Reynolds","death":null,"gender":"male","height":187.9600067138672,"images":{"fanart":["media.trakt.tv/images/people/000/416/707/fanarts/medium/fb20e4ad8d.jpg.webp"],"headshot":["media.trakt.tv/images/people/000/416/707/headshots/medium/586ee5c00e.jpg.webp"]},"birthday":"1976-10-23","homepage":null,"biography":"Ryan
        Rodney Reynolds (born October 23, 1976) is a Canadian and American actor,
        entrepreneur and film producer. Known for starring in comedicand superhero
        films, he was the world''s second-highest-paid actor in 2020 and 2024. Reynolds
        has received numerous accolades, including two Primetime Emmy Awards, as well
        as nominations for two Grammy Awards and a Golden Globe Award. His films as
        a leading actor have grossed $6.6 billion worldwide.\n\nBorn an[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:20 GMT
      cache-tag: show,show_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"person":{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"trakt":297737},"name":"Br[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people?extended=guest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:20 GMT
      cache-tag: show,show_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"person":{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"trak[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:20 GMT
      cache-tag: show,season_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"person":{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"trakt":297737[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people?extended=guest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:21 GMT
      cache-tag: show,season_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"person":{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1/people
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 13:42:21 GMT
      cache-tag: show,episode_cast
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"person":{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"t[...]
