http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016?extended=images
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_metadata,resource:movie:190430
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt1431045","plex":{"guid":"5d776b257a53e9001e71bb98","slug":"deadpool"},"slug":"deadpool-2016","tmdb":293660,"trakt":190430},"year":2016,"title":"Deadpool","votes":104213,"colors":{"poster":["#FDFCFD","#46151C"]},"genres":["action","adventure","comedy","superhero"],"images":{"logo":["media.trakt.tv/images/movies/000/190/430/logos/medium/dc10536771.png.webp"],"thumb":["media.trakt.tv/images/movies/000/190/430/thumbs/medium/3aecd7c412.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/190/430/banners/medium/cce02a8c8a.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/190/430/fanarts/medium/b4dcf1fcf4.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/190/430/posters/medium/341427aaa0.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/190/430/cleararts/medium/01e973ef3e.png.webp"]},"rating":8.25035285949707,"status":"released","country":"us","runtime":108,"tagline":"Feel
        the love.","trailer":"https://youtube.com/watch?v=9vN6DHB6bJc","homepage":"https://www.20thcenturystudios.com/movies/deadpool","language":"en","overview":"The
        origin story of former Special Forces operative turned mercenary Wade Wilson,
        who, after being subjected to a rogue experiment that leaves him with accelerated
        healing powers, adopts the alter ego Deadpool. Armed with his new abilities
        and a dark, twisted sense of humor, Deadpool hunts down the man who nearly
        destroyed his life.","released":"2016-02-12","languages":["en"],"subgenres":["mercenary","based-on-comic","anti-hero"],"social_ids":{"twitter":"deadpoolmovie","facebook":"DeadpoolMovie","instagram":"deadpoolmovie","wikipedia":"Deadpool_(film)"},"updated_at":"2026-05-24T08:31:59.000Z","after_credits":true,"certification":"R","comment_count":258,"during_credits":true,"original_title":"Deadpool","available_translations":["ar","bg","bs","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","mk","ml","nb","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","uz","vi","zh"]}'
  recorded_at: 2026-05-24 13:42:28
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie,movie_metadata,resource:movie:190430
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt1431045","plex":{"guid":"5d776b257a53e9001e71bb98","slug":"deadpool"},"slug":"deadpool-2016","tmdb":293660,"trakt":190430},"year":2016,"title":"Deadpool"}'
  recorded_at: 2026-05-24 13:42:28
recorded_with: VCR-vcr/2.1.0
