http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/boxoffice
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7e06e7d2a88690d46ab9da1135ef0834"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"revenue":64000000,"movie":{"title":"Scream 7","year":2026,"ids":{"trakt":934134,"slug":"scream-7-2026","imdb":"tt27047903","tmdb":1159559}}},{"revenue":12000000,"movie":{"title":"GOAT","year":2026,"ids":{"trakt":1057839,"slug":"goat-2026","imdb":"tt27613895","tmdb":1297842}}},{"revenue":7000000,"movie":{"title":"\"Wuthering
        Heights\"","year":2026,"ids":{"trakt":1077273,"slug":"wuthering-heights-2026","imdb":"tt32897959","tmdb":1316092}}},{"revenue":4300000,"movie":{"title":"Twenty
        One Pilots: More Than We Ever Imagined","year":2026,"ids":{"trakt":1339079,"slug":"twenty-one-pilots-more-than-we-ever-imagined-[...]
