http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/releases
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b4fd917e9df273762f09d4bba9505567"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
    body:
      string: '[{"country":"fr","certification":"16","release_date":"2016-02-08","release_type":"premiere","note":"Paris"},{"country":"hk","certification":"III","release_date":"2016-02-09","release_type":"theatrical","note":null},{"country":"tw","certification":"15+","release_date":"2016-02-09","release_type":"theatrical","note":null},{"country":"fr","certification":"16","release_date":"2016-02-10","release_type":"theatrical","note":null},{"country":"gb","certification":"15","release_date":"2016-02-10","release_type":"theatrical","note":null},{"country":"be","certification":"18","release_date":"2016-02-10",[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/releases?country=de
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f70884e844afc5eaa8e917cac56ba662"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
    body:
      string: '[{"country":"de","certification":"16","release_date":"2016-02-11","release_type":"theatrical","note":null},{"country":"de","certification":"16","release_date":"2016-06-23","release_type":"physical","note":null}]'
  recorded_at: 2026-03-02 12:41:27
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/releases?country=de
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d9b8733c0c30a5c01a4f03fe244ebdc2"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:36:29.000Z'
    body:
      string: '[{"country":"de","certification":"12","release_date":"2010-07-29","release_type":"theatrical","note":null},{"country":"de","certification":"12","release_date":"2010-12-03","release_type":"physical","note":"DvD"}]'
  recorded_at: 2026-03-02 12:41:27
recorded_with: VCR-vcr/2.1.0
