http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt1431045","plex":{"guid":"5d776b257a53e9001e71bb98","slug":"deadpool"},"slug":"deadpool-2016","tmdb":293660,"trakt":190430},"year":2016,"title":"Deadpool","votes":123848,"colors":{"poster":["#FDFCFD","#46151C"]},"genres":["action","adventure","comedy","superhero"],"images":{"logo":["media.trakt.tv/images/movies/000/190/430/logos/medium/dc10536771.png.webp"],"thumb":["media.trakt.tv/images/movies/000/190/430/thumbs/medium/3aecd7c412.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/190/430/banners/medium/cce02a8c8a.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/190/430/fanarts/medium/b4dcf1fcf4.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/190/430/posters/medium/341427aaa0.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/190/430/cleararts/medium/01e973ef3e.png.webp"]},"rating":8.24925708770752,"status":"released","country":"us","runtime":108,"tagline":"Feel
        the love.","trailer":"https://youtube.com/watch?v=9vN6DHB6bJc","homepage":"https://www.20thcenturystudios.com/movies/deadpool","language":"en","overview":"The
        origin story of former Special Forces operative turned mercenary Wade Wilson,
        who, after being subjected to a rogue experiment that leaves him with accelerated
        healing powers, adopts the alter ego Deadpool. Armed with his new abilities
        and a dark, twisted sense of humor, Deadpool hunts down the man who nearly
        destroyed his life.","released":"2016-02-12","languages":["en"],"subgenres":["mercenary","based-on-comic","anti-hero"],"updated_at":"2026-03-01T16:39:38.000Z","after_credits":true,"certification":"R","comment_count":256,"during_credits":true,"original_title":"Deadpool","available_translations":["ar","bg","bs","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lt","lv","mk","ml","nb","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","uz","vi","zh"]}'
  recorded_at: 2026-03-02 12:41:27
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:23 GMT
      cache-tag: movie
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt1431045","plex":{"guid":"5d776b257a53e9001e71bb98","slug":"deadpool"},"slug":"deadpool-2016","tmdb":293660,"trakt":190430},"year":2016,"title":"Deadpool","votes":123846,"colors":{"poster":["#FDFCFD","#46151C"]},"genres":["action","adventure","comedy","superhero"],"images":{"logo":["media.trakt.tv/images/movies/000/190/430/logos/medium/dc10536771.png.w[...]
[...]
