http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/boxoffice
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5248d8cd2dbb3276243f4e040a3cc4fd"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"revenue":29000000,"movie":{"title":"Hoppers","year":2026,"ids":{"trakt":1085761,"slug":"hoppers-2026","imdb":"tt26443616","tmdb":1327819}}},{"revenue":18000000,"movie":{"title":"Reminders
        of Him","year":2026,"ids":{"trakt":1116720,"slug":"reminders-of-him-2026","imdb":"tt33714084","tmdb":1367642}}},{"revenue":9300000,"movie":{"title":"undertone","year":2026,"ids":{"trakt":1213506,"slug":"undertone-2026","imdb":"tt35892608","tmdb":1480387}}},{"revenue":8400000,"movie":{"title":"Scream
        7","year":2026,"ids":{"trakt":934134,"slug":"scream-7-2026","imdb":"tt27047903","tmdb":1159559}}},{"revenue":4700000,"movie"[...]
