http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-03T17:13:04.000Z'
      etag: W/"85e4b2a346eba20a418177dc7efd9967"
      last-modified: Sun, 03 Aug 2025 17:13:04 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":855,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Deadpool","year":2016,"ids":{"trakt":190430,"slug":"deadpool-2016","imdb":"tt1431045","tmdb":293660}}'
  recorded_at: 2025-08-04 08:06:48
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      etag: W/"e07242746b61aea91580cf3d80f73cd9"
      last-modified: Sun, 03 Aug 2025 08:50:13 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":851,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Futurama","year":1999,"ids":{"trakt":614,"slug":"futurama","tvdb":73871,"imdb":"tt0149460","tmdb":615,"tvrage":null}}'
  recorded_at: 2025-08-04 08:06:48
recorded_with: VCR-vcr/2.0.0
