http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/watched/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b5cfdd8a7081573c5b57b0db8f2919c3"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '213503'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21351'
    body:
      string: '[{"watcher_count":61257,"play_count":130162,"collected_count":9338,"collector_count":0,"show":{"title":"A
        Knight of the Seven Kingdoms","year":2026,"ids":{"trakt":204141,"slug":"a-knight-of-the-seven-kingdoms","tvdb":433631,"imdb":"tt27497448","tmdb":224372,"tvrage":null}}},{"watcher_count":34096,"play_count":90918,"collected_count":5745,"collector_count":0,"show":{"title":"The
        Pitt","year":2025,"ids":{"trakt":232884,"slug":"the-pitt","tvdb":448176,"imdb":"tt31938062","tmdb":250307,"tvrage":null}}},{"watcher_count":21441,"play_count":108024,"collected_count":2809,"collector_count":56,"show":{"title":"Bridgerton","year":2020,"ids":{"trakt":157479,"slug":"bridgerton","tvdb":366668,"imdb":"tt8740790","tmdb":91239,"tvrage":null}}},{"watcher_count":19716[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/watched/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5f27a3f83193fdd8773f3e9358ae3bc1"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1253132'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '125314'
    body:
      string: '[{"watcher_count":12491,"play_count":16510,"collected_count":3991,"movie":{"title":"Shelter","year":2026,"ids":{"trakt":1050424,"slug":"shelter-2026","imdb":"tt32357218","tmdb":1290821}}},{"watcher_count":11783,"play_count":14945,"collected_count":688,"movie":{"title":"Mercy","year":2026,"ids":{"trakt":1000015,"slug":"mercy-2026","imdb":"tt31050594","tmdb":1236153}}},{"watcher_count":7411,"play_count":10163,"collected_count":680,"movie":{"title":"28
        Years Later: The Bone Temple","year":2026,"ids":{"trakt":1033738,"slug":"28-years-later-the-bone-temple-2026","i[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/played/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cc9d1dd8bcd5bf1b0f6786a7e3e92e8e"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '213501'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21351'
    body:
      string: '[{"watcher_count":47,"play_count":132267,"collected_count"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/played/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"881c2053ad92c963b6a8bced9db4dc4a"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1253075'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '125308'
    body:
      string: '[{"watcher_count":12654,"play_count":16749,"collected_c[...]
