http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/watched/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"faa0946e9129d7a727a498caaac11582"
      x-pagination-item-count: '215218'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21522'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":64371,"play_count":251385,"collected_count":5797,"collector_count":520,"show":{"title":"The
        Boys","year":2019,"ids":{"trakt":139960,"slug":"the-boys-2019","tvdb":355567,"imdb":"tt1190634","tmdb":76479,"tvrage":null}}},{"watcher_count":36857,"play_count":123207,"collected_count":4258,"collector_count":2965,"show":{"title":"FROM","year":2022,"ids":{"trakt":188205,"slug":"from","tvdb":401003,"imdb":"tt9813792","tmdb":124364,"tvrage":null}}},{"watcher_count":24959,"play_count":57435,"collected_count":3679,"collector_count":324,"show":{"title":"Euphoria","year":2019,"ids":{"trakt":144629,"slug":"euphoria-2019","tvdb":360261,"imdb":"tt8772296","tmdb":85552,"tvrage":null}}},{"watcher_count":18201,"play_count[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/watched/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dbff0e9b42552bc06d06b4d8a3ccde8b"
      x-pagination-item-count: '689490'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '68949'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":16863,"play_count":19001,"collected_count":868,"movie":{"title":"Project
        Hail Mary","year":2026,"ids":{"trakt":531178,"slug":"project-hail-mary-2026","imdb":"tt12042730","tmdb":687163}}},{"watcher_count":13595,"play_count":15035,"collected_count":1190,"movie":{"title":"The
        Punisher: One Last Kill","year":2026,"ids":{"trakt":1178309,"slug":"the-punisher-one-last-kill-2026","imdb":"tt36042156","tmdb":1439930}}},{"watcher_count":9677,"play_count":10581,"collected_count":3027,"movie":{"title":"Tom
        Clancy''s Jack Ryan: Ghost War","year":2026,"ids":{"trakt":1127320,"slug":"tom-clancy-s-jack-ryan-ghost-war-2026","imdb":"tt34378301","tmdb":1380291}}},{"watcher_count":9360,"play_count":10873,"collected_count":1243,"movie":{"title":"Mortal
        Kombat II","year":2026,"ids[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/played/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8c54578775007ecb0c135aed1df2ef25"
      x-pagination-item-count: '215218'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21522'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":64371,"play_count":251385,"collected_cou[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/played/weekly?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"85abc0f74ca0ecdfae00259e24b2a5cc"
      x-pagination-item-count: '689490'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '68949'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":16863,"play_count":19001,"collected_cou[...]
