http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,movie
      x-pagination-item-count: '9274'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '1855'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Superman","year":2025,"ids":{"trakt":853702,"slug":"superman-2025","imdb":"tt5950044","tmdb":1061474,"plex":{"guid":"5d776c73ad5437001f7be813","slug":"superman-2025"}},"tagline":"Look
        up.","overview":"Superman, a journalist in Metropolis, embarks on a journey
        to reconcile his Kryptonian heritage with his human upbringing as Clark Kent.","runtime":130,"country":"us","trailer":"https://youtube.com/watch?v=MikgqM0LXr4","homepage":"https://www.superman.com","status":"released","rating":7.1998,"votes":22097,"comment_count":381,"updated_at":"2026-03-02T08:43:56.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","fa","fi","fr","he","hi","hr","hu","it","ja","ka","ko","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"],"genres":["superhero","science-fiction","action","adventure"],"subgenres":["super-power","based-on-comic","supervillain"],"original_title":"Superman","images":{"fanart":["media.trakt.tv/images/movies/000/853/702/fanarts/medium/1ee6e292e4.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/853/702/posters/medium/a69dbb1e7e.jpg.webp"],"logo":["media.trakt.tv/images/movies/000/853/702/logos/medium/4a25f4afc2.png.webp"],"banner":["media.trakt.tv/images/movies/000/853/702/banners/medium/cf2dfc2ea2.jpg.webp"],"thumb":["media.trakt.tv/images/movies/000/853/702/thumbs/medium/4a69101258.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/853/702/cleararts/medium/40f403f2a3.png.webp"]},"colors":{"poster":["#CA9B96","#3A0D1A"]},"released":"2025-07-11","after_credits":true,"during_credits":true,"certification":"PG-13"},{"title":"Sinners","year":2025,"ids":{"trakt":997581,"slug":"sinners-2025","imdb":"tt31193180","tmdb":1233413,"plex":{"guid":"65cc295b9e17522419e8553e","slug":"sinners-2025"}},"tagline":"Dance
        with the devil.","overview":"Trying to leave their troubled lives behind,
        twin brothers return to their hometown to start again, only to discover that
        an even greater evil is waiting to welcome them back.","runtime":138,"country":"us","trailer":"https://youtube.com/watch?v=[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:06 GMT
      cache-tag: discover,popular,movie
      x-pagination-item-count: '9274'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '1855'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Superman","year":2025,"ids":{"trakt":853702,"slug":"superman-2025","imdb":"tt5950044","tmdb":1061474,"plex":{"guid":"5d776c73ad5437001f7be813","slug":"superman-2025"}},"tagline":"Look
        up.","overview":[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,show
      x-pagination-item-count: '3898'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '780'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Adolescence","year":2025,"ids":{"trakt":230892,"slug":"adolescence","imdb":"tt31806037","tmdb":249042,"plex":{"guid":"65f48a3d97ad9a728e5208f5","slug":"adolescence"},"tvdb":452467},"tagline":"A
        child accused. Everyone left to answer.","overview":"When a 13-year-old is
        accused of the murder of a classmate, his family, therapist and the detective
        in charge are all left asking: what really happened?","runtime":58,"country":"gb","trailer":"https://youtube.com/watch?v=Wk5OxqtpBR4","homepage":"https://www.netflix.com/title/81756069","status":"ended","rating":7.72396,"votes":13067,"comment_count":132,"updated_at":"2026-03-01T16:21:20.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","fa","fi","fr","he","hi","hr","hu","id","it","ja","ka","ko","lt","ms","nl","no","pl","pt","ro","ru","sl","sr","sv","th","tl","tr","uk","vi","zh"],"genres":["crime","drama"],"subgenres":["intense","miniseries","murder","family-relationships","bullying","psychological-drama","blunt"],"original_title":"Adolescence","images":{"fanart":["media.trakt.tv/images/shows/000/230/892/fanarts/medium/552b62d4dd.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/230/892/posters/medium/0ec8ee0876.jpg.webp"],"logo":["media.trakt.tv/images/shows/000/230/892/logos/medium/318ead85e2.png.webp"],"banner":["media.trakt.tv/images/shows/000/230/892/banners/medium/f586ee00f9.jpg.webp"],"thumb":["media.trakt.tv/images/shows/000/230/892/thumbs/medium/e7a13d0c07.jpg.webp"],"clearart":[]},"colors":{"poster":["#969589","#4D3B29"]},"first_aired":"2025-03-13T00:00:00.000Z","aired_episodes":4,"certification":"TV-MA","airs":{"day":"Thursday","time":"00:00","timezone":"Europe/London"},"network":"Netflix"},{"title":"Pluribus","year":2025,"ids":{"trakt":206790,"slug":"pluribus","imdb":"tt22202452","tmdb":225171,"plex":{"guid":"6497f1862313a1f871612318","slug":"pluribus"},"tvdb":436457},"tagline":"Happiness
        is a state of mind.","overview":"The most miserable person on Earth must save
        the world from happiness.","runtime":50,"country":"us","trailer":"https://youtube.com/watch?v=a6lzvWby9UE","homepage":"https://tv.apple.com/show/umc.cmc.37axgovs2yozlyh3c2cmwzlza","status":"re[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:06 GMT
      cache-tag: discover,popular,show
      x-pagination-item-count: '3896'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '780'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Adol[...]
