http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,movie,resource:movie:853702,resource:movie:729817,resource:movie:867094,resource:movie:531178,resource:movie:460087
      x-pagination-item-count: '385'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '77'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt5950044","plex":{"guid":"5d776c73ad5437001f7be813","slug":"superman-2025"},"slug":"superman-2025","tmdb":1061474,"trakt":853702},"year":2025,"title":"Superman"},{"ids":{"imdb":"tt16311594","plex":{"guid":"61b0a23cc2629c42c5fe61cd","slug":"f1"},"slug":"f1-2025","tmdb":911430,"trakt":729817},"year":2025,"title":"F1"},{"ids":{"imdb":"tt26581740","plex":{"guid":"63dea40e697de1e45df3f50e","slug":"weapons-2025"},"slug":"weapons-2025","tmdb":1078605,"trakt":867094},"year":2025,"title":"Weapons"},{"ids":{"imdb":"tt12042730","plex":{"guid":"5e91843e9bec79003fe50ffb","slug":"project-hail-mary"},"slug":"project-hail-mary-2026","tmdb":687163,"trakt":531178},"year":2026,"title":"Project
        Hail Mary"},{"ids":{"imdb":"tt10676052","plex":{"guid":"5e1616b9168f3f001e44b20b","slug":"the-fantastic-four-first-steps"},"slug":"the-fantastic-4-first-steps-2025","tmdb":617126,"trakt":460087},"year":2025,"title":"The
        Fantastic 4: First Steps"}]'
  recorded_at: 2026-05-24 13:42:13
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,movie,resource:movie:853702,resource:movie:729817,resource:movie:867094,resource:movie:531178,resource:movie:460087
      x-pagination-item-count: '385'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '77'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt5950044","plex":{"guid":"5d776c73ad5437001f7be813","slug":"superman-2025"},"slug":"superman-2025","tmdb":1061474,"trakt":853702},"year":2025,"title":"Superman","votes":23995,"colors":{"poster":["#BC9AA0","#3E162F"]},"genres":["superhero","science-fiction","action","adventure"],"images":{"logo":["media.trakt.tv/images/movies/000/853/702/logos/medium/4a25f4afc2.png.webp"],"thumb":["media.trakt.tv/images/movies/000/853/702/thumbs/medium/4a69101258.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/853/702/banners/medium/cf2dfc2ea2.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/853/702/fanarts/medium/e02032d2b1.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/853/702/posters/medium/3ce4474237.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/853/702/cleararts/medium/40f403f2a3.png.webp"]},"rating":7.2170867919921875,"status":"released","country":"us","runtime":130,"tagline":"Look
        up.","trailer":"https://youtube.com/watch?v=MikgqM0LXr4","homepage":"https://www.superman.com","language":"en","overview":"Superman,
        a journalist in Metropolis, embarks on a journey to reconcile his Kryptonian
        heritage with his human upbringing as Clark Kent.","released":"2025-07-11","languages":["es","en"],"subgenres":["reboot","super-power","based-on-comic","supervillain"],"social_ids":{"twitter":"Superman","facebook":"superman","instagram":"superman","wikipedia":"Superman_(2025_film)"},"updated_at":"2026-05-23T18:19:18.000Z","after_credits":true,"certification":"PG-13","comment_count":388,"during_credits":true,"original_title":"Superman","available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hi","hr","hu","it","ja","ka","ko","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"]},{"ids":{"imdb":"tt16311594","plex":{"guid":"61b0a23cc2629c42c5fe61cd","slug":"f1"},"slug":"f1-2025","tmdb":911430,"trakt":729817},"year":2025,"title":"F1","votes":20262,"colors":{"poster":["#B9BCBA","#353834"]},"genres":["action","drama"],"images":{"logo":["media.trakt.tv/images/movies/000/729/817/logos/me[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,show,resource:show:206790,resource:show:204141,resource:show:170689,resource:show:224621,resource:show:249443
      x-pagination-item-count: '163'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '33'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt22202452","plex":{"guid":"6497f1862313a1f871612318","slug":"pluribus"},"slug":"pluribus","tmdb":225171,"tvdb":436457,"trakt":206790},"year":2025,"title":"Pluribus","aired_episodes":9},{"ids":{"imdb":"tt27497448","plex":{"guid":"643cbf9ec1962a0897b7f6dd","slug":"a-knight-of-the-seven-kingdoms"},"slug":"a-knight-of-the-seven-kingdoms","tmdb":224372,"tvdb":433631,"trakt":204141},"year":2026,"title":"A
        Knight of the Seven Kingdoms","aired_episodes":6},{"ids":{"imdb":"tt13623632","plex":{"guid":"66391fb2895fabeb264433d1","slug":"alien-earth"},"slug":"alien-earth","tmdb":157239,"tvdb":458912,"trakt":170689},"year":2025,"title":"Alien:
        Earth","aired_episodes":8},{"ids":{"imdb":"tt27995114","plex":{"guid":"65c281e8df420a5bf5528d51","slug":"dept-q"},"slug":"dept-q","tmdb":245703,"tvdb":445802,"trakt":224621},"year":2025,"title":"Dept.
        Q","aired_episodes":9},{"ids":{"imdb":"tt33035373","plex":{"guid":"66a33f8ece8cbb431d9b47f9","slug":"his-and-hers-2026"},"slug":"his-hers-2026","tmdb":259731,"tvdb":452521,"trakt":249443},"year":2026,"title":"HIS
        & HERS","aired_episodes":6}]'
  recorded_at: 2026-05-24 13:42:14
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,popular,show,resource:show:206790,resource:show:204141,resource:show:170689,resource:show:224621,resource:show:249443
      x-pagination-item-count: '163'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '33'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt22202452","plex":{"guid":"6497f1862313a1f871612318","slug":"pluribus"},"slug":"pluribus","tmdb":225171,"tvdb":436457,"trakt":206790},"airs":{"day":"Thursday","time":"21:00","timezone":"America/New_York"},"year":2025,"title":"Pluribus","votes":9836,"colors":{"poster":["#F0D414","#70603C"]},"genres":["drama","fantasy","science-fiction"],"images":{"logo":["media.trakt.tv/images/shows/000/206/790/logos/medium/d445cdd790.png.webp"],"thumb":["media.trakt.tv/images/shows/000/206/790/thumbs/medium/de60665b9a.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/206/790/banners/medium/b713b94755.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/206/790/fanarts/medium/458c848200.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/206/790/posters/medium/e255ecc15c.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/206/790/cleararts/medium/5917104d2b.png.webp"]},"rating":8.090686798095703,"status":"returning
        series","country":"us","network":"Apple TV","runtime":50,"tagline":"Happiness
        is a state of mind.","trailer":"https://youtube.com/watch?v=a6lzvWby9UE","homepage":"https://tv.apple.com/show/umc.cmc.37axgovs2yozlyh3c2cmwzlza","language":"en","overview":"The
        most miserable person on Earth must save the world from happiness.","languages":["en","fr","qu","es"],"subgenres":["dystopia","dark-comedy","virus","lesbian","strange"],"social_ids":{"twitter":"","facebook":null,"instagram":null,"wikipedia":"Untitled_Vince_Gilligan_TV_series"},"updated_at":"2026-05-23T17:00:36.000Z","first_aired":"2025-11-07T02:00:00.000Z","certification":"TV-MA","comment_count":121,"total_runtime":453,"aired_episodes":9,"original_title":"Pluribus","available_translations":["ar","bg","cs","da","de","el","en","es","fa","fi","fr","he","hi","hu","id","it","ja","ka","ko","lt","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"]},{"ids":{"imdb":"tt27497448","plex":{"guid":"643cbf9ec1962a0897b7f6dd","slug":"a-knight-of-the-seven-kingdoms"},"slug":"a-knight-of-the-seven-kingdoms","tmdb":224372,"tvdb":433631,"trakt":204141},"airs":{"day":"Sunday","time":"22:00","timezone":"A[...]
