http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll+2019
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,show,resource:show:141548,resource:show:245041
      x-pagination-item-count: '2'
      x-pagination-limit: '50'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"score":1157451471441102800,"type":"show","show":{"title":"Russian
        Doll","year":2019,"ids":{"trakt":141548,"slug":"russian-doll","imdb":"tt7520794","tmdb":84977,"plex":{"guid":"5d9c0915705e7a001e6ea05b","slug":"russian-doll"},"tvdb":356640},"tagline":"All
        aboard the crazy train.","overview":"Nadia keeps dying and reliving her 36th
        birthday party. She''s trapped in a surreal time loop -- and staring down
        the barrel of her own mortality.","runtime":30,"country":"us","trailer":"https://youtube.com/watch?v=qPELCYFK-Wg","homepage":"https://www.netflix.com/title/80211627","status":"ended","rating":7.57314,"votes":7335,"comment_count":56,"updated_at":"2026-05-23T13:38:54.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","bs","cs","de","el","en","es","fi","fr","he","hr","hu","it","ja","ka","ko","lt","nl","pl","pt","ru","sv","th","tr","uk","zh"],"genres":["comedy","drama"],"subgenres":["death","family-relationships","dark-comedy","dramedy","mysterious","witty"],"original_title":"Russian
        Doll","social_ids":{"twitter":null,"facebook":null,"instagram":null,"wikipedia":null},"images":{"fanart":["media.trakt.tv/images/shows/000/141/548/fanarts/medium/fec07c96d3.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/141/548/posters/medium/15a7a763ae.jpg.webp"],"logo":["media.trakt.tv/images/shows/000/141/548/logos/medium/b69ffaf2a1.png.webp"],"banner":["media.trakt.tv/images/shows/000/141/548/banners/medium/6cf4e79701.jpg.webp"],"thumb":["media.trakt.tv/images/shows/000/141/548/thumbs/medium/f3f55c9753.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/141/548/cleararts/medium/b4b0d868ea.png.webp"]},"colors":{"poster":["#CAA98C","#26201C"]},"first_aired":"2019-02-01T08:00:00.000Z","aired_episodes":15,"certification":"TV-MA","airs":{"day":"Friday","time":"03:00","timezone":"America/New_York"},"network":"Netflix"}},{"score":1157451471441102800,"type":"show","show":{"title":"Russian
        Doll","year":2024,"ids":{"trakt":245041,"slug":"russian-doll-2024","imdb":"tt32639277","tmdb":257347,"plex":{"guid":"667550581263debf1a425cf8","slug":"matryoshka"},"tvdb":451977},"tagline":"","overview":"The
        year is 1983. Yulia Morozova studies foreign languages at Leningrad University,
        plays sports and does not even imagine that in the very near future she will
        have to work in the KGB[...]
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=russian+doll
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,movie,resource:movie:1208,resource:movie:359123,resource:movie:169443,resource:movie:595135,resource:movie:193673
      x-pagination-item-count: '5'
      x-pagination-limit: '50'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"score":1157451471441102800,"type":"movie","movie":{"title":"Russian
        Dolls","year":2005,"ids":{"trakt":1208,"slug":"russian-dolls-2005","imdb":"tt0409184","tmdb":1826,"plex":{"guid":"5d77682a961905001eb91d09","slug":"russian-dolls"}},"tagline":"","overview":"Five
        years after their summer together in Barcelona, Xavier, William, Wendy, Martine
        and Isabelle reunite.","runtime":129,"country":"fr","trailer":"https://youtube.com/watch?v=Nu8F2EL1l-I","status":"released","rating":6.95807,"votes":477,"comment_count":0,"updated_at":"2026-05-23T17:36:32.000Z","language":"fr","languages":["en","fr"],"available_translations":["bg","ca","cs","de","el","en","es","fi","fr","he","hr","hu","it","ja","ka","ko","nl","pl","pt","ro","ru","sv","tr","uk","zh"],"genres":["comedy","drama","romance"],"subgenres":["wedding"],"original_title":"Les
        Poupées russes","social_ids":{"twitter":null,"facebook":null,"instagram":null,"wikipedia":null},"images":{"fanart":["media.trakt.tv/images/movies/000/001/208/fanarts/medium/0b569aa6ac.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/001/208/posters/medium/e3af41edb6.jpg.webp"],"logo":["media.trakt.tv/images/movies/000/001/208/logos/medium/a32eaa5f42.png.webp"],"banner":[],"thumb":[],"clearart":["media.trakt.tv/images/movies/000/001/208/cleararts/medium/97a43d265e.png.webp"]},"colors":{"poster":["#FBF6F0","#774541"]},"released":"2005-06-15","after_credits":false,"during_credits":false}},{"score":1157451471441102800,"type":"movie","movie":{"title":"Russian
        Doll","year":2016,"ids":{"trakt":359123,"slug":"russian-doll-2016","imdb":"tt5138866","tmdb":511336,"plex":{"guid":"5d776e3e47dd6e001f6fad90","slug":"russian-doll-2016"}},"tagline":"","overview":"The
        story begins when a young woman discovers a murder plot, and calls 911. But
        seconds into the call, she''s attacked and abducted. The police investigation
        into the woman''s disappearance lead[...]
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=nfkwjbevkwbvkwvbqlwfbqwkjfbqkjfb&years=1100
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,movie
      x-pagination-item-count: '0'
      x-pagination-limit: '50'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-05-24 13:42:33
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,show,resource:show:141548,resource:show:245041,resource:show:62287,resource:show:63958
      x-pagination-item-count: '4'
      x-pagination-limit: '50'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"[...]
[...]
