http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll+2019
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,show
      x-pagination-item-count: '1'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"score":1157451471441102800,"type":"show","show":{"title":"Russian
        Doll","year":2019,"ids":{"trakt":141548,"slug":"russian-doll","imdb":"tt7520794","tmdb":84977,"plex":{"guid":"5d9c0915705e7a001e6ea05b","slug":"russian-doll"},"tvdb":356640},"tagline":"All
        aboard the crazy train.","overview":"Nadia keeps dying and reliving her 36th
        birthday party. She''s trapped in a surreal time loop -- and staring down
        the barrel of her own mortality.","runtime":30,"country":"us","trailer":"https://youtube.com/watch?v=qPELCYFK-Wg","homepage":"https://www.netflix.com/title/80211627","status":"ended","rating":7.59118,"votes":7419,"comment_count":56,"updated_at":"2026-03-01T10:00:13.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","bs","cs","de","el","en","es","fi","fr","he","hr","hu","it","ja","ka","ko","lt","nl","pl","pt","ru","sv","th","tr","uk","zh"],"genres":["comedy","drama"],"subgenres":["death","family-relationships","dark-comedy","dramedy","mysterious","witty"],"original_title":"Russian
        Doll","images":{"fanart":["media.trakt.tv/images/shows/000/141/548/fanarts/medium/fec07c96d3.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/141/548/posters/medium/15a7a763ae.jpg.webp"],"logo":["media.trakt.tv/images/shows/000/141/548/logos/medium/b69ffaf2a1.png.webp"],"banner":["media.trakt.tv/images/shows/000/141/548/banners/medium/6cf4e79701.jpg.webp"],"thumb":["media.trakt.tv/images/shows/000/141/548/thumbs/medium/f3f55c9753.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/141/548/cleararts/medium/0f946572cb.png.webp"]},"colors":{"poster":["#CAA98C","#26201C"]},"first_aired":"2019-02-01T08:00:00.000Z","aired_episodes":15,"certification":"TV-MA","airs":{"day":"Friday","time":"03:00","timezone":"America/New_York"},"network":"Netflix"}}]'
  recorded_at: 2026-03-02 12:41:27
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=russian+doll
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,movie
      x-pagination-item-count: '9'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"score":1157451471441102800,"type":"movie","movie":{"title":"Russian
        Doll","year":2016,"ids":{"trakt":359123,"slug":"russian-doll-2016","imdb":"tt5138866","tmdb":511336,"plex":{"guid":"5d776e3e47dd6e001f6fad90","slug":"russian-doll-2016"}},"tagline":"","overview":"The
        story begins when a young woman discovers a murder plot, and calls 911. But
        seconds into the call, she''s attacked and abducted. The police investigation
        into the woman''s disappearance leads them to interrogate the cast and crew
        of a play called ''The Russian Doll.''","runtime":82,"country":"us","homepage":"https://www.russiandollthemovie.com/RussianDollTheMovie.com/Russian_Doll_Home.html","status":"released","rating":6.89286,"votes":28,"comment_count":0,"updated_at":"2025-12-13T17:53:54.000Z","language":"en","languages":["en"],"available_translations":["en","ru","zh"],"genres":["thriller","drama","crime","mystery"],"subgenres":[],"original_title":"Russian
        Doll","images":{"fanart":[],"poster":["media.trakt.tv/images/movies/000/359/123/posters/medium/861d3b8c03.jpg.webp"],"logo":[],"banner":[],"thumb":[],"clearart":[]},"colors":{"poster":["#DAD1CA","#6A5A46"]},"released":"2016-03-12","after_credits":false,"during_credits":false}},{"score":1157451471441102800,"type":"movie","movie":{"title":"Russian
        Doll","year":2001,"ids":{"trakt":169443,"slug":"russian-doll-2001","imdb":"tt0215139","tmdb":271462,"plex":{"guid":"5d776adead5437001f78b3f4","slug":"russian-doll"}},"tagline":"A
        new comedy about a mail order bride and a reluctant groom that truly pushes
        the envelope.","overview":"A private detective agrees to marry his best friend''s
        mistress to keep her from being deported.","runtime":[...]
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=nfkwjbevkwbvkwvbqlwfbqwkjfbqkjfb&years=1100
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,movie
      x-pagination-item-count: '0'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '0'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-03-02 12:41:28
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: search,show
      x-pagination-item-count: '3'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"score":1157451471441102800,"type":"show","show":{"title":"Russian
        Doll","y[...]
[...]
