http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,episode_metadata,resource:season:38803,resource:season:38804,resource:season:38805,resource:season:38806,resource:season:38807,resource:season:38808,resource:season:38809,resource:season:38810,resource:season:38811
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0584449","plex":{"guid":"65dcb23629624af2f7e6d37b"},"tmdb":35006,"tvdb":131174,"trakt":38803},"title":"Space
        Pilot 3000","number":1,"season":1},{"ids":{"imdb":"tt0756891","plex":{"guid":"65dcb23629624af2f7e6d36b"},"tmdb":35007,"tvdb":131175,"trakt":38804},"title":"The
        Series Has Landed","number":2,"season":1},{"ids":{"imdb":"tt0756882","plex":{"guid":"5d9c0e334eefaa001f6119b0"},"tmdb":35008,"tvdb":131176,"trakt":38805},"title":"I,
        Roommate","number":3,"season":1},{"ids":{"imdb":"tt0756885","plex":{"guid":"65dcb23529624af2f7e6d346"},"tmdb":35009,"tvdb":131177,"trakt":38806},"title":"Love''s
        Labours Lost in Space","number":4,"season":1},{"ids":{"imdb":"tt0584438","plex":{"guid":"65dcb23529624af2f7e6d32d"},"tmdb":35010,"tvdb":131178,"trakt":38807},"title":"Fear
        of a Bot Planet","number":5,"season":1},{"ids":{"imdb":"tt0584425","plex":{"guid":"65dcb23529624af2f7e6d319"},"tmdb":35011,"tvdb":131179,"trakt":38808},"title":"A
        Fishful of Dollars","number":6,"season":1},{"ids":{"imdb":"tt0756887","plex":{"guid":"65dcb23429624af2f7e6d305"},"tmdb":35012,"tvdb":131180,"trakt":38809},"title":"My
        Three Suns","number":7,"season":1},{"ids":{"imdb":"tt0584423","plex":{"guid":"65dcb23429624af2f7e6d2f1"},"tmdb":35013,"tvdb":131181,"trakt":38810},"title":"A
        Big Piece of Garbage","number":8,"season":1},{"ids":{"imdb":"tt0584441","plex":{"guid":"65dcb23429624af2f7e6d2d9"},"tmdb":35014,"tvdb":131182,"trakt":38811},"title":"Hell
        Is Other Robots","number":9,"season":1}]'
  recorded_at: 2026-05-24 13:42:34
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,episode_metadata,resource:season:38803,resource:season:38804,resource:season:38805,resource:season:38806,resource:season:38807,resource:season:38808,resource:season:38809,resource:season:38810,resource:season:38811
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0584449","plex":{"guid":"65dcb23629624af2f7e6d37b"},"tmdb":35006,"tvdb":131174,"trakt":38803},"title":"Space
        Pilot 3000","votes":1923,"images":{"screenshot":["media.trakt.tv/images/episodes/000/038/803/screenshots/medium/7a6a1ca832.jpg.webp"]},"number":1,"rating":8.1050443649292,"season":1,"runtime":22,"overview":"On
        New Year''s Eve 1999, Pizza Delivery boy Philip J. Fry accidentally falls
        into a cryogenic chamber and is frozen for 1,000 years. Finally unfrozen,
        he explores New New York, meets his new best friend (a kleptomaniacal robot
        named Bender) and goes to work for his great-great-great-great-grand-nephew''s
        space delivery business.","released":"1999-03-29","number_abs":1,"updated_at":"2026-05-24T09:21:17.000Z","first_aired":"1999-03-29T01:00:00.000Z","episode_type":"series_premiere","after_credits":false,"comment_count":6,"during_credits":false,"original_title":"Space
        Pilot 3000","available_translations":[],"effective_release_date":"1999-03-29T01:00:00.000Z"},{"ids":{"imdb":"tt0756891","plex":{"guid":"65dcb23629624af2f7e6d36b"},"tmdb":35007,"tvdb":131175,"trakt":38804},"title":"The
        Series Has Landed","votes":1599,"images":{"screenshot":["media.trakt.tv/images/episodes/000/038/804/screenshots/medium/06e3bee196.jpg.webp"]},"number":2,"rating":7.780488014221191,"season":1,"runtime":22,"overview":"For
        the crew''s first mission, they must deliver a crate full of toys for an arcade
        game to the moon. Fry i[...]
[...]
