http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      x-show-updated-at: '2026-03-02T07:18:19.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":"602e61dd66dfdb002c096afd"},"tmdb":3577,"tvdb":439371,"trakt":3949},"title":"Specials","votes":219,"images":{"thumb":["media.trakt.tv/images/seasons/000/003/949/thumbs/medium/58727e71f3.jpg.webp"],"poster":["media.trakt.tv/images/seasons/000/003/949/posters/medium/74cf1d2116.jpg.webp"]},"number":0,"rating":8.21004581451416,"network":null,"overview":null,"updated_at":"2026-03-02T07:18:19.000Z","first_aired":"2009-02-18T02:00:00.000Z","episode_count":10,"aired_episodes":8,"original_title":"Specials"},{"ids":{"plex":{"guid":"602e61de66dfdb002c096b16"},"tmdb":3572,"tvdb":30272,"trakt":3950},"title":"Season
        1","votes":4301,"images":{"thumb":["media.trakt.tv/images/seasons/000/003/950/thumbs/medium/0c78adaabb.jpg.webp"],"poster":["media.trakt.tv/images/seasons/000/003/950/posters/medium/eded236292.jpg.webp"]},"number":1,"rating":8.439664840698242,"network":null,"overview":"High
        school chemistry teacher Walter White''s life is suddenly transformed by a
        dire med[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:00:26 GMT
      cache-tag: show
      x-show-updated-at: '2026-03-02T07:18:19.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":"602e61dd66dfdb002c096afd"},"tmdb":3577,"tvdb":439371,"trakt":3949},"title":"Specials","votes":219,"images":{"thumb":["media.trakt.tv/images/seasons/000/003/949/thumbs/medium/58727e71f3.jpg.webp"],"poster":["media.trakt.tv/images/seasons/000/003/949/posters/medium/74cf1d2116.jpg.webp"]},"number"[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/bvkjqbkqjbf/seasons
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      x-show-updated-at: '1970-01-01T00:00:00.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-03-02 12:41:29
recorded_with: VCR-vcr/2.1.0
