http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/1/info
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"184dd12b6bca5ee3666a340156d60b0f"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '{"number":1,"ids":{"trakt":56008,"tvdb":507598,"tmdb":54695,"tvrage":null}}'
  recorded_at: 2026-03-02 12:41:29
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/2/info?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"126b89c6730536e773ad945e79a3f7a6"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '46241'
      x-show-season-id: '56009'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '{"number":2,"ids":{"trakt":56009,"tvdb":524149,"tmdb":54696,"tvrage":null},"rating":8.05752,"votes":226,"episode_count":6,"aired_episodes":6,"title":"Season
        2","overview":"It has been three months since the destruction of the Utopia
        manuscript, and things have been quiet for Ian, Becky and co. Believing the
        Network to be finished, they each try to get back to some semblance of normality.  But
        far from being over, the Network are only just beginning...","first_aired":"2014-07-14T20:00:00.000Z","updated_at":"2026-03-02T09:44:02.000Z","network":"Channel
        4","original_title":null}'
  recorded_at: 2026-03-02 12:41:29
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/2/info
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8e83dc608546bdf2d08ade3cfa7d8146"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '46241'
      x-show-season-id: '56009'
      x-show-updated-at: '2026-03-02T09:44:01.000Z'
    body:
      string: '{"number":2,"ids":{"trakt":56009,"tvdb":524149,"tmdb":54696,"tvrage":null}}'
  recorded_at: 2026-03-02 12:41:29
recorded_with: VCR-vcr/2.1.0
