http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0584449","plex":{"guid":"65dcb23629624af2f7e6d37b"},"tmdb":35006,"tvdb":131174,"trakt":38803},"title":"Space
        Pilot 3000","votes":2624,"images":{"screenshot":["media.trakt.tv/images/episodes/000/038/803/screenshots/medium/7a6a1ca832.jpg.webp"]},"number":1,"rating":8.10746955871582,"season":1,"runtime":22,"overview":"On
        New Year''s Eve 1999, Pizza Delivery boy Philip J. Fry accidentally falls
        into a cryogenic chamber and is frozen for 1,000 years. Finally unfrozen,
        he explores New New York, meets his new best friend (a kleptomaniacal robot
        named Bender) and goes to work for his great-great-great-great-grand-nephew''s
        space delivery business.","number_abs":1,"updated_at":"2026-03-02T08:43:23.000Z","first_aired":"1999-03-29T01:00:00.000Z","episode_type":"series_premiere","after_credits":false,"comment_count":6,"during_credits":false,"original_title":"Space
        Pilot 3000","available_translations":[]},{"ids":{"imdb":"tt0756891","plex":{"guid":"65dcb23629624af2f7e6d36b"},"tmdb":35007,"tvdb":131175,"trakt":38804},"title":"The
        Series Has Landed","votes":2122,"images":{"screenshot":["media.trakt.tv/images/episodes/000/038/804/screenshots/medium/06e3bee196.jpg.webp"]},"number":2,"rating":7.79311990737915,"season":1,"runtime":22,"overview":"For
        the crew''s first mission, they must deliver a crate full of toys for an arcade
        game to the moon. Fry is very excited, while it [...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:35 GMT
      cache-tag: show
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt0584449","plex":{"guid":"65dcb23629624af2f7e6d37b"},"tmdb":35006,"tvdb":131174,"trakt":38803},"title":"Space
        Pilot 3000","votes":2624,"images":{"screenshot":["media.trakt.tv/images/episodes/000/038/803/screenshots/medium/7a6a1ca832.jpg.webp"]},"number":1,"rating":8.10746955871582,"season":1,"runtime":22,"overview":"On
        New Year''s Eve 1[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1123
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-03-02 12:41:28
[...]
