http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":239007,"plays":2161950,"collectors":327646,"collected_episodes":359323,"comments":5,"lists":186,"votes":3048}'
  recorded_at: 2026-05-24 13:42:31
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_stats
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":289896,"plays":5107040,"collectors":338131,"collected_episodes":368738,"comments":2,"lists":145,"votes":2188}'
  recorded_at: 2026-05-24 13:42:31
recorded_with: VCR-vcr/2.1.0
