http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons?extended=full%2Cepisodes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:515470,resource:season:56008,resource:season:56009
      x-show-updated-at: '2026-05-24T05:45:58.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":"602e627c0f4bde002da31d10"},"tmdb":500264,"tvdb":557185,"trakt":515470},"title":"Specials","votes":0,"images":{"thumb":[],"poster":["media.trakt.tv/images/seasons/000/515/470/posters/medium/c315ae7b20.jpg.webp"]},"number":0,"rating":0,"network":null,"overview":null,"updated_at":"2026-05-24T05:45:58.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_count":4,"total_runtime":240,"aired_episodes":4,"original_title":"Specials","episodes":[{"ids":{"imdb":null,"plex":{"guid":"5e83378e422dc00043f22e9b"},"tmdb":6945822,"tvdb":null,"trakt":14003928},"title":"The
        World of Utopia","votes":0,"images":{"screenshot":[]},"number":1,"rating":0,"season":0,"runtime":60,"overview":"Featurette
        from Blu-Ray of season 1 with writer Dennis Kelly","released":null,"number_abs":null,"updated_at":"2026-05-23T17:42:37.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_type":"standard","after_credits":false,"comment_count":0,"during_credits":false,"original_title":"The
        World of Utopia","available_translations":["en"],"effective_release_date":"2013-03-11T21:00:00.000Z"},{"ids":{"imdb":null,"plex":{"guid":"5e83378e422dc00043f22e9d"},"tmdb":6945823,"tvdb":null,"trakt":14003929},"title":"Fly
        on the Wall","votes":0,"images":{"screenshot":[]},"number":2,"rating":0,"season":0,"runtime":60,"overview":"Featurette
        from Blu-Ray of season 1 with Director Marc Munden","released":null,"number_abs":null,"updated_at":"2026-05-23T17:42:37.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_type":"standard","after_credits":false,"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,episode_metadata,resource:season:1405053,resource:season:1405054,resource:season:1405055,resource:season:1405056,resource:season:1405057,resource:season:1405058
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt2618234","plex":{"gu[...]
