http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/1/info
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:56008
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"plex":{"guid":"602e627b0f4bde002da31cdc"},"tmdb":54695,"tvdb":507598,"trakt":56008},"number":1}'
  recorded_at: 2026-05-24 13:42:36
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/2/info?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:56009
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"plex":{"guid":"602e627b0f4bde002da31cf8"},"tmdb":54696,"tvdb":571814,"trakt":56009},"title":"Season
        2","votes":347,"images":{"thumb":[],"poster":["media.trakt.tv/images/seasons/000/056/009/posters/medium/a9fb4a9533.jpg.webp"]},"number":2,"rating":7.9884724617004395,"network":null,"overview":"It
        has been three months since the destruction of the Utopia manuscript, and
        things have been quiet for Ian, Becky and co. Believing the Network to be
        finished, they each try to get back to some semblance of normality.  But far
        from being over, the Network are only just beginning...","updated_at":"2026-05-24T05:45:57.000Z","first_aired":"2014-07-14T20:00:00.000Z","episode_count":6,"total_runtime":308,"aired_episodes":6,"original_title":"Season
        2"}'
  recorded_at: 2026-05-24 13:42:36
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/2/info
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:56009
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"plex":{"guid":"602e627b0f4bde002da31cf8"},"tmdb":54696,"tvdb":571814,"trakt":56009},"number":2}'
  recorded_at: 2026-05-24 13:42:37
recorded_with: VCR-vcr/2.1.0
