http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 07:43:55 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"watchers":75520,"plays":782340,"collectors":327646,"collected_episodes":357670,"comments":5,"lists":188,"votes":769}'
  recorded_at: 2026-03-02 12:41:27
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 07:43:55 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '614'
      x-show-season-id: '2084'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"watchers":68152,"plays":1596752,"collectors":338131,"collected_episodes":367134,"comments":2,"lists":146,"votes":529}'
  recorded_at: 2026-03-02 12:41:27
recorded_with: VCR-vcr/2.1.0
