http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:3949,resource:season:3950,resource:season:3951,resource:season:3952,resource:season:3953,resource:season:3954
      x-show-updated-at: '1970-01-01T00:00:00.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":"602e61dd66dfdb002c096afd"},"tmdb":3577,"tvdb":439371,"trakt":3949},"number":0},{"ids":{"plex":{"guid":"602e61de66dfdb002c096b16"},"tmdb":3572,"tvdb":30272,"trakt":3950},"number":1},{"ids":{"plex":{"guid":"602e61df66dfdb002c096b48"},"tmdb":3573,"tvdb":40719,"trakt":3951},"number":2},{"ids":{"plex":{"guid":"602e61e266dfdb002c096ba3"},"tmdb":3575,"tvdb":171641,"trakt":3952},"number":3},{"ids":{"plex":{"guid":"602e61e266dfdb002c096bd2"},"tmdb":3576,"tvdb":297361,"trakt":3953},"number":4},{"ids":{"plex":{"guid":"602e61e366dfdb002c096c00"},"tmdb":3578,"tvdb":490110,"trakt":3954},"number":5}]'
  recorded_at: 2026-05-24 13:42:35
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata,resource:season:3949,resource:season:3950,resource:season:3951,resource:season:3952,resource:season:3953,resource:season:3954
      x-show-updated-at: '2026-05-24T07:35:19.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":"602e61dd66dfdb002c096afd"},"tmdb":3577,"tvdb":439371,"trakt":3949},"title":"Specials","votes":220,"images":{"thumb":["media.trakt.tv/images/seasons/000/003/949/thumbs/medium/58727e71f3.jpg.webp"],"poster":["media.trakt.tv/images/seasons/000/003/949/posters/medium/74cf1d2116.jpg.webp"]},"number":0,"rating":8.209090232849121,"network":null,"overview":null,"updated_at":"2026-05-24T07:35:19.000Z","first_aired":"2009-02-18T02:00:00.000Z","episode_count":10,"total_runtime":30,"aired_episodes":8,"original_title":"Specials"},{"ids":{"plex":{"guid":"602e61de66dfdb002c096b16"},"tmdb":3572,"tvdb":30272,"trakt":3950},"title":"Season
        1","votes":6024,"images":{"thumb":["media.trakt.tv/images/seasons/000/003/950/thumbs/medium/0c78adaabb.jpg.webp"],"poster":["media.trakt.tv/images/seasons/000/003/950/posters/medium/eded236292.jpg.webp"]},"number":1,"rating":8.539342880249023,"network":null,"overview":"High
        school chemistry teacher Walter White''s life is suddenly transformed by a
        dire med[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/bvkjqbkqjbf/seasons
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,season_metadata
      x-show-updated-at: '1970-01-01T00:00:00.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-05-24 13:42:35
recorded_with: VCR-vcr/2.1.0
