http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_metadata,resource:show:1388
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0903747","plex":{"guid":"5d9c083402391c001f583d09","slug":"breaking-bad"},"slug":"breaking-bad","tmdb":1396,"tvdb":81189,"trakt":1388},"year":2008,"title":"Breaking
        Bad","aired_episodes":62}'
  recorded_at: 2026-05-24 13:42:28
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_metadata,resource:show:1396
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0773262","plex":{"guid":"5d9c086c46115600200aa2ea","slug":"dexter"},"slug":"dexter","tmdb":1405,"tvdb":79349,"trakt":1396},"year":2006,"title":"Dexter","aired_episodes":96}'
  recorded_at: 2026-05-24 13:42:28
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 03:13:15 GMT
      cache-tag: show,show_metadata
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0903747","plex":{"guid":"5d9c083402391c001f583d09","slug":"breaking-bad"},"slug":"breaking-bad","tmdb":1396,"tvdb":81189,"trakt":1388},"airs":{"day":"Sunday","time":"21:00","timezone":"America/New_York"},"year":2008,"title":"Breaking
        Bad","votes":96706,"colors":{"poster":["#A5AF96","#272A2E"]},"genres":["drama","crime","thriller"],"images":{"logo":["media.trakt.tv/images/shows/000/001/388/logos/medium/d8abdb2dee.png.webp"],"thumb":["media.trakt.tv/images/shows/000/001/388/thumbs/medium/e348e4a03f.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/001/388/banners/medium/c53872a7e2.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/001/388/fanarts/medium/fdbc0cb02d.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/001/388/posters/medium/fa39b59954.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/001/388/cleararts/medium/1f00520834.png.webp"]},"rating":9.221424102783203,"status":"ended","country":"us","network":"AMC","runtime":50,"tagline":"Change
        the equation.","trailer":"https://youtube.com/watch?v=XZ8daibM3AE","homepage":"https://www.sonypictures.com/tv/breakingbad","language":"en","overview":"Walter
        White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer
        and given a prognosis of only two years left to live. He becomes filled with
        a sense of fearlessness and an unrelenting desire to secure his family''s
        financial future at any cost as he enters the dangerous world of drugs and
        crime.","languages":["en","de","es"],"subgenres":["criminal","drugs","dark-comedy","drug-dealer","psychopath","high-school-teacher","dark","tragedy","neo-western","outlaw"],"social_ids":{"twitter":"BreakingBad","facebook":"BreakingBad","instagram":"breakingbad","wikipedia":"Breaking_Bad"},"updated_at":"2026-05-23T15:33:29.000Z","first_aired":"2008-01-21T02:00:00.000Z","certification":"TV-MA","comment_count":532,"total_runtime":2995,"aired_episodes":62,"original_title":"Breaking
        Bad","available_translations":["ar","bg","bs","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"]}'
  recorded_at: 2026-05-24 13:42:28
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 24 May 2026 12:02:03 GMT
      cache-tag: show,show_metadata
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0773262","plex":{"guid":"5d9c086c46115600200aa2ea","slug":"dexter"},"slug":"dexter","tmdb":1405,"tvdb":79349,"trakt":1396},"airs":{"day":"Sunda[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show,show_metadata,resource:show:1396
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"tt0773262","plex":{"guid":"5d9c086c46115600200aa2ea","slug":"dexter"},"slug":"dexter","tmdb":1405,"tvdb":79349,"trakt":1396},"year":2006,"title":"Dexter","aired_episodes":96}'
  recorded_at: 2026-05-24 13:42:28
recorded_with: VCR-vcr/2.1.0
