http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/one-piece/next_episode
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f0ab423a89f1f0eaf34a5978a5fdc004"
      last-modified: Sat, 23 May 2026 19:57:54 GMT
      x-show-updated-at: '2026-05-23T16:14:41.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":23,"number":1163,"title":"Episode 1163","ids":{"trakt":14100238,"tvdb":11700060,"imdb":null,"tmdb":7124433,"tvrage":null}}'
  recorded_at: 2026-05-24 16:58:56
- request:
    method: GET
    uri: https://api.trakt.tv/shows/one-piece/last_episode
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8d0dc757e480072117fd6b3b5f55fa95"
      last-modified: Sun, 24 May 2026 16:55:51 GMT
      x-show-updated-at: '2026-05-24T16:39:08.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":23,"number":1163,"title":"Episode 1163","ids":{"trakt":14100238,"tvdb":11700060,"imdb":null,"tmdb":7124433,"tvrage":null}}'
  recorded_at: 2026-05-24 16:58:56
- request:
    method: GET
    uri: https://api.trakt.tv/shows/one-piece/last_episode?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8d0dc757e480072117fd6b3b5f55fa95"
      last-modified: Sun, 24 May 2026 16:55:51 GMT
      x-show-updated-at: '2026-05-24T16:39:08.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":23,"number":1163,"title":"Episode 1163","ids":{"trakt":14100238,"tvdb":11700060,"imdb":null,"tmdb":7124433,"tvrage":null},"number_abs":1163,"overview":null,"rating":8.8,"votes":5,"comment_count":0,"first_aired":"2026-05-24T14:15:00.000Z","updated_at":"2026-05-24T16:55:51.000Z","available_translations":["de","es","it","ja","pt","zh"],"runtime":24,"episode_type":"standard","original_title":"褒めてほしい　ロビンとサウロの再会","after_credits":false,"during_credits":false}'
  recorded_at: 2026-05-24 16:58:56
recorded_with: VCR-vcr/2.1.0
