http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,trending,movie,resource:movie:1127320,resource:movie:531178,resource:movie:1063866,resource:movie:746852,resource:movie:1178309
      x-pagination-item-count: '235'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '47'
      x-trending-user-count: '12583'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":3223,"movie":{"ids":{"imdb":"tt34378301","plex":{"guid":"672a6e52c25ec7f136678ce0","slug":"untitled-jack-ryan-project"},"slug":"tom-clancy-s-jack-ryan-ghost-war-2026","tmdb":1380291,"trakt":1127320},"year":2026,"title":"Tom
        Clancy''s Jack Ryan: Ghost War"}},{"watchers":3054,"movie":{"ids":{"imdb":"tt12042730","plex":{"guid":"5e91843e9bec79003fe50ffb","slug":"project-hail-mary"},"slug":"project-hail-mary-2026","tmdb":687163,"trakt":531178},"year":2026,"title":"Project
        Hail Mary"}},{"watchers":2395,"movie":{"ids":{"imdb":"tt32612507","plex":{"guid":"666e8f86b54e01613b35bccf","slug":"lee-cronins-the-mummy"},"slug":"lee-cronin-s-the-mummy-2026","tmdb":1304313,"trakt":1063866},"year":2026,"title":"Lee
        Cronin''s The Mummy"}},{"watchers":2267,"movie":{"ids":{"imdb":"tt17490712","plex":{"guid":"61f330850ecd2260deb80a5e","slug":"mortal-kombat-ii"},"slug":"mortal-kombat-ii-2026","tmdb":931285,"trakt":746852},"year":2026,"title":"Mortal
        Kombat II"}},{"watchers":1644,"movie":{"ids":{"imdb":"tt36042156","plex":{"guid":"67f12e697648884062e634c7","slug":"the-punisher-special-presentation"},"slug":"the-punisher-one-last-kill-2026","tmdb":1439930,"trakt":1178309},"year":2026,"title":"The
        Punisher: One Last Kill"}}]'
  recorded_at: 2026-05-24 13:42:14
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,trending,movie,resource:movie:1127320,resource:movie:531178,resource:movie:1063866,resource:movie:746852,resource:movie:1178309
      x-pagination-item-count: '235'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '47'
      x-trending-user-count: '12583'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":3223,"movie":{"ids":{"imdb":"tt34378301","plex":{"guid":"672a6e52c25ec7f136678ce0","slug":"untitled-jack-ryan-project"},"slug":"tom-clancy-s-jack-ryan-ghost-war-2026","tmdb":1380291,"trakt":1127320},"year":2026,"title":"Tom
        Clancy''s Jack Ryan: Ghost War","votes":1321,"colors":{"poster":["#CFC7BA","#3A281D"]},"genres":["suspense","action","thriller"],"images":{"logo":["media.trakt.tv/images/movies/001/127/320/logos/medium/87de9c7ee4.png.webp"],"thumb":["media.trakt.tv/images/movies/001/127/320/thumbs/medium/3f3c74add8.jpg.webp"],"banner":["media.trakt.tv/images/movies/001/127/320/banners/medium/7fa0e76aea.jpg.webp"],"fanart":["media.trakt.tv/images/movies/001/127/320/fanarts/medium/b47cb6c76b.jpg.webp"],"poster":["media.trakt.tv/images/movies/001/127/320/posters/medium/76424511b1.jpg.webp"],"clearart":["media.trakt.tv/images/movies/001/127/320/cleararts/medium/6607f027a4.png.webp"]},"rating":6.9977288246154785,"status":"released","country":"us","runtime":107,"tagline":"No
        operation stays dark forever.","trailer":"https://youtube.com/watch?v=-4ZVFspRn3M","homepage":"https://www.amazon.com/dp/B0GVB3LYDT","language":"en","overview":"Jack
        Ryan is reluctantly pulled back into espionage when an international covert
        mission unravels a deadly conspiracy. Racing against time, he joins CIA allies
        Mike November & James Greer and sharp MI6 officer Emma Marlowe to battle a
        rogue black-ops unit in a high-stakes, deeply personal fight.","released":"2026-05-20","languages":["en"],"subgenres":["based-on-tv-series"],"social_ids":{"twitter":null,"facebook":null,"instagram":null,"wikipedia":null},"updated_at":"2026-05-24T08:25:34.000Z","after_credits":false,"certification":"R","comment_count":8,"during_credits":false,"original_title":"Tom
        Clancy''s Jack Ryan: Ghost War","available_translations":["ar","bg","ca","cs","da","de","el","en","es","fa","fi","fr","he","hi","hu","id","it","ja","ko","ms","nb","nl","no","pl","pt","ro","ru","sk","sl","sv","th","tr","uk","vi","zh"]}},{"watchers":3054,"movie":{"ids":{"imdb":"tt12042730","plex":{"guid":"5e91843e9bec79003fe50ffb","slug":"project-hail-mary"},"slug":"project-hail-mary-2026","tmdb":687163,"trakt":531178},"year":2026,"title":"Project
        Hail Mary","votes":16225,"colors":{"poster":["#989688","#23383C"]},"genres":["science-fiction","adv[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,trending,show,resource:show:139960,resource:show:296208,resource:show:217691,resource:show:188205,resource:show:140481
      x-pagination-item-count: '657'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '132'
      x-trending-user-count: '24763'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":8372,"show":{"ids":{"imdb":"tt1190634","plex":{"guid":"5d9c08f246115600200ae0f6","slug":"the-boys"},"slug":"the-boys-2019","tmdb":76479,"tvdb":355567,"trakt":139960},"year":2019,"title":"The
        Boys","aired_episodes":40}},{"watchers":4932,"show":{"ids":{"imdb":"tt34991493","plex":{"guid":"68b6e52b87dc0d2b6b23d0f3","slug":"dutton-ranch"},"slug":"dutton-ranch","tmdb":299167,"tvdb":463308,"trakt":296208},"year":2026,"title":"Dutton
        Ranch","aired_episodes":3}},{"watchers":4387,"show":{"ids":{"imdb":"tt30459041","plex":{"guid":"657dc33ef513062f56b44a23","slug":"your-friends-and-neighbors"},"slug":"your-friends-neighbors","tmdb":241609,"tvdb":443433,"trakt":217691},"year":2025,"title":"Your
        Friends & Neighbors","aired_episodes":17}},{"watchers":4024,"show":{"ids":{"imdb":"tt9813792","plex":{"guid":"608ae6cf5077dd002d3bb8be","slug":"from"},"slug":"from","tmdb":124364,"tvdb":401003,"trakt":188205},"year":2022,"title":"FROM","aired_episodes":35}},{"watchers":3048,"show":{"ids":{"imdb":"tt7772588","plex":{"guid":"5d9c091408fddd001f2a71c3","slug":"for-all-mankind"},"slug":"for-all-mankind","tmdb":87917,"tvdb":356202,"trakt":140481},"year":2019,"title":"For
        All Mankind","aired_episodes":49}}]'
  recorded_at: 2026-05-24 13:42:14
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: discover,trending,show,resource:show:139960,resource:show:296208,resource:show:217691,resource:show:188205,resource:show:140481
      x-pagination-item-count: '657'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '132'
      x-trending-user-count: '24763'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":8372,"show":{"ids":{"imdb":"tt1190634","plex":{"guid":"5d9c08f246115600200ae0f6","slug":"the-boys"},"slug":"the-boys-2019","tmdb":76479,"tvdb":355567,"trakt":139960},"airs":{"day":"Thursday","time":"03:00","timezone":"America/New_York"},"year":2019,"title":"The
        Boys","votes":37478,"colors":{"poster":["#DB908E","#130C12"]},"genres":["action","fantasy","science-fiction","adventure","superhero"],"images":{"logo":["media.trakt.tv/images/shows/000/139/960/logos/medium/fa8f09ae17.png.webp"],"thumb":["media.trakt.tv/images/shows/000/139/960/thumbs/medium/eb91ad74c4.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/139/960/banners/medium/54a845c5a7.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/139/960/fanarts/medium/50bab4ef44.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/139/960/posters/medium/c5b8a81eba.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/139/960/cleararts/medium/a48dbabf58.png.webp"]},"rating":8.350579261779785,"status":"ended","country":"us","network":"Prime
        Video","runtime":65,"tagline":"Never meet your heroes.","trailer":"https://youtube.com/watch?v=tcrNsIaQkb4","homepage":"https://www.amazon.com/dp/B07QQQHK1Y","language":"en","overview":"A
        group of vigilantes known informally as “The Boys” set out to take down corrupt
        superheroes with no more than blue-collar grit and a willingness to fight
        dirty.","languages":["en"],"subgenres":["corruption","absurd","satire","super-power","gore","tragedy","violence","based-on-comic","superhero-team"],"social_ids":{"twitter":"theboystv","facebook":"TheBoysTV","instagram":"theboystv","wikipedia":"The_Boys_(TV_series)"},"updated_at":"2026-05-23T16:14:32.000Z","first_aired":"2019-07-25T07:00:00.000Z","certification":"TV-MA","comment_count":213,"total_runtime":2546,"aired_episodes":40,"original_title":"The
        Boys","available_translations":["ar","bg","ca","cs","da","de","el","en","es","eu","fa","fi","fr","gl","he","hi","hr","hu","id","it","ja","ka","kk","kn","ko","lt","mk","ml","ms","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","ta","te","th","tl","tr","uk","vi","zh"]}},{"watchers":4932,"show":{"ids":{"imdb":"tt34991493","plex":{"guid":"68b6e52b87dc0d2b6b23d0f3","slug":"dutton-ranch"},"slug":"dutton-ranch","tmdb":299167,"tvdb":463308,"trakt":[...]
