http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:07 GMT
      cache-tag: discover,trending,movie
      x-pagination-item-count: '1702'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '341'
      x-trending-user-count: '8334'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":2362,"movie":{"title":"Shelter","year":2026,"ids":{"trakt":1050424,"slug":"shelter-2026","imdb":"tt32357218","tmdb":1290821,"plex":{"guid":"6646bd6262ca77e1d6a100df","slug":"shelter-2026"}},"tagline":"Her
        safety. His mission.","overview":"A man living in self-imposed exile on a
        remote island rescues a young girl from a violent storm, setting off a chain
        of events that forces him out of seclusion to protect her from enemies tied
        to his past.","runtime":107,"country":"gb","trailer":"https://youtube.com/watch?v=auHiLFjaIc0","homepage":"https://blackbearpictures.com/film-and-tv/shelter","status":"released","rating":7.05956,"votes":1763,"comment_count":27,"updated_at":"2026-03-02T08:41:30.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","it","ka","ko","lt","lv","nl","pl","pt","ro","ru","sk","sl","sv","th","tr","uk","vi","zh"],"genres":["action","crime","thriller"],"subgenres":[],"original_title":"Shelter","images":{"fanart":["media.trakt.tv/images/movies/001/050/424/fanarts/medium/1128172ccd.jpg.webp"],"poster":["media.trakt.tv/images/movies/001/050/424/posters/medium/e904b05b02.jpg.webp"],"logo":["media.trakt.tv/images/movies/001/050/424/logos/medium/1f6a9628cb.png.webp"],"banner":["media.trakt.tv/images/movies/001/050/424/banners/medium/b07ebd6b4e.jpg.webp"],"thumb":["media.trakt.tv/images/movies/001/050/424/thumbs/medium/42cb52071f.jpg.webp"],"clearart":["media.trakt.tv/images/movies/001/050/424/cleararts/medium/565202a071.png.webp"]},"colors":{"poster":["#AAB386","#373935"]},"released":"2026-01-30","after_credits":false,"during_credits":false,"certification":"R"}},{"watchers":2072,"movie":{"title":"Mercy","year":2026,"ids":{"trakt":1000015,"slug":"mercy-2026","imdb":"tt31050594","tmdb":1236153,"plex":{"guid":"65b41a7eb5cab988940e14b1","slug":"mercy-2026"}},"tagline":"Prove
        your innocence to an AI judge or face execution.","overview":"In the near
        future, a detective stands on trial accused of murdering his wife. He has
        ninety minutes to prove his innocence to the advanced AI Judge he once championed,
        before it determin[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:07 GMT
      cache-tag: discover,trending,movie
      x-pagination-item-count: '1702'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '341'
      x-trending-user-count: '8334'
      speculation-rules: '"/cdn-cgi/speculation"'
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:07 GMT
      cache-tag: discover,trending,show
      x-pagination-item-count: '2272'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '455'
      x-trending-user-count: '27939'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":7451,"show":{"title":"The Pitt","year":2025,"ids":{"trakt":232884,"slug":"the-pitt","imdb":"tt31938062","tmdb":250307,"plex":{"guid":"66047594f2781fe94954a721","slug":"the-pitt"},"tvdb":448176},"tagline":"The
        work never stops.","overview":"The staff of Pittsburgh''s Trauma Medical Center
        work around the clock to save lives in an overcrowded and underfunded emergency
        department.","runtime":48,"country":"us","trailer":"https://youtube.com/watch?v=ufR_08V38sQ","homepage":"https://www.hbomax.com/shows/pitt-2024/e6e7bad9-d48d-4434-b334-7c651ffc4bdf","status":"returning
        series","rating":8.77118,"votes":5537,"comment_count":65,"updated_at":"2026-03-01T16:22:10.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","da","de","el","en","es","fa","fi","fr","he","hr","hu","it","ja","ko","lt","lv","mk","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"],"genres":["drama"],"subgenres":["hospital","medical-drama"],"original_title":"The
        Pitt","images":{"fanart":["media.trakt.tv/images/shows/000/232/884/fanarts/medium/4200bdbce5.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/232/884/posters/medium/f45f3b3c1f.jpg.webp"],"logo":["media.trakt.tv/images/shows/000/232/884/logos/medium/3e05070fe9.png.webp"],"banner":["media.trakt.tv/images/shows/000/232/884/banners/medium/6ea9431eb6.jpg.webp"],"thumb":["media.trakt.tv/images/shows/000/232/884/thumbs/medium/b2331becda.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/232/884/cleararts/medium/89a880ddb8.png.webp"]},"colors":{"poster":["#B3965E","#30251B"]},"first_aired":"2025-01-10T02:00:00.000Z","aired_episodes":23,"certification":"TV-MA","airs":{"day":"Thursday","time":"21:00","timezone":"America/New_York"},"network":"HBO
        Max"}},{"watchers":7194,"show":{"title":"Bridgerton","year":2020,"ids":{"trakt":157479,"slug":"bridgerton","imdb":"tt8740790","tmdb":91239,"plex":{"guid":"5e60003a3aa1c8003ec26eac","slug":"bridgerton"},"tvdb":366668},"tagline":"Even
        a wallflower can bloom.","overview":"Wealth, lust, and betrayal set in the
        backdrop of Regency era England, seen through the eyes of the powerful Bridgerton
        family.","runtime":60,"country":"us","trailer":"https://youtube.com/watch[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 11:23:08 GMT
      cache-tag: discover,trending,show
      x-pagination-item-count: '2272'
      x-pagination-limit: '5'
      x-pagination-page: '1'
      x-pagination-page-count: '455'
      x-trending-user-count: '27939'
      speculation-rules: '"/cdn-cgi/speculation"'
 [...]
