http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/updates/2026-06-25?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"409cb460e760860dd1e70d7a8b56983d"
      x-pagination-item-count: '87514'
      x-pagination-limit: '3'
      x-pagination-page: '1'
      x-pagination-page-count: '29172'
      x-start-date: '2026-06-25T00:00:00Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"updated_at":"2026-06-25T08:16:34.000Z","movie":{"title":"Beyond
        the Basement Door","year":2013,"ids":{"trakt":1377315,"slug":"beyond-the-basement-door-2013","imdb":"tt2783088","tmdb":1719478}}},{"updated_at":"2026-06-25T08:16:34.000Z","movie":{"title":"Watched","year":2026,"ids":{"trakt":1371189,"slug":"watched-2026","imdb":"tt42878461","tmdb":1699459}}},{"updated_at":"2026-06-25T08:16:34.000Z","movie":{"title":"Judge
        Michael - Rise of the Law","year":2026,"ids":{"trakt":1358373,"slug":"judge-michael-rise-of-the-law-2026","imdb":"tt35684986","tmdb":1647483}}}]'
  recorded_at: 2026-07-03 12:48:26
- request:
    method: GET
    uri: https://api.trakt.tv/shows/updates/2026-06-25?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b061efe9c847b2505266c4723f216a67"
      x-pagination-item-count: '24013'
      x-pagination-limit: '3'
      x-pagination-page: '1'
      x-pagination-page-count: '8005'
      x-start-date: '2026-06-25T00:00:00Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"updated_at":"2026-06-25T06:15:25.000Z","show":{"title":"City Lights","year":2007,"ids":{"trakt":5596,"slug":"city-lights","tvdb":74542,"imdb":"tt0913553","tmdb":5625,"tvrage":null}}},{"updated_at":"2026-06-25T06:16:06.000Z","show":{"title":"Comedy
        Central Roasts","year":2003,"ids":{"trakt":240720,"slug":"comedy-central-roasts","tvdb":82186,"imdb":"tt15561558","tmdb":254916,"tvrage":null}}},{"updated_at":"2026-06-25T06:16:13.000Z","show":{"title":"FM","year":2009,"ids":{"trakt":17483,"slug":"fm","tvdb":85330,"imdb":"tt1385167","tmdb":17561,"tvrage":null}}}]'
  recorded_at: 2026-07-03 12:48:27
recorded_with: VCR-vcr/2.1.0
