http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/shows?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"45510a27f2ca01de764067464da87bd7"
      last-modified: Sat, 23 May 2026 23:31:41 GMT
      x-pagination-item-count: '32077'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '3208'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":12297139948,"watched_at":"2026-05-23T23:31:00.000Z","action":"scrobble","type":"episode","episode":{"season":13,"number":12,"title":"May
        17, 2026: Structured Settlements","ids":{"trakt":14103828,"tvdb":11777304,"imdb":"tt42603303","tmdb":7134447,"tvrage":null}},"show":{"title":"Last
        Week Tonight with John Oliver","year":2014,"ids":{"trakt":60267,"slug":"last-week-tonight-with-john-oliver","tvdb":278518,"imdb":"tt3530232","tmdb":60694,"tvrage":null}}},{"id":12296918466,"watched_at":"2026-05-23T21:53:00.000Z","action":"scrobble","type":"episode","episode":{"season":24,"number":15,"title":"High
        School History","ids":{"trakt":14044564,"tvdb":11624608,"imdb":"tt36431589","tmdb":7193771,"tvrage":null}},"show":{"title":"Family
        Guy","year":1999,"ids":{"trakt":1425,"slug":"family-guy","tvdb":75978,"imdb":"tt0182576","tmdb":1434,"tvrage"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/movies?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"17a089c01916fff9347b3fa05d29d33b"
      last-modified: Mon, 18 May 2026 10:59:24 GMT
      x-pagination-item-count: '1327'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '133'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":12281996156,"watched_at":"2026-05-18T10:59:00.000Z","action":"watch","type":"movie","movie":{"title":"Kumail
        Nanjiani: Night Thoughts","year":2025,"ids":{"trakt":1254822,"slug":"kumail-nanjiani-night-thoughts-2025","imdb":"tt39131664","tmdb":1529419}}},{"id":12277856193,"watched_at":"2026-05-16T22:51:00.000Z","action":"scrobble","type":"movie","movie":{"title":"The
        Drama","year":2026,"ids":{"trakt":1083999,"slug":"the-drama-2026","imdb":"tt33071426","tmdb":1325734}}},{"id":12272228094,"watched_at":"2026-05-14T20:18:00.000Z","action":"scrobble","type":"movie","movie":{"title":"They
        Will Kill You"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/shows?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8891219bda147d2543f62459ff9235cc"
      last-modified: Sat, 23 May 2026 23:31:41 GMT
      x-pagination-item-count: '32077'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '16039'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":12297139948,"watched_at":"2026-05-23T23:31:00.000Z","action":"scrobble","type":"episode","episode":{"season":13,"number":12,"title":"May
        17, 2026: Structured Settlements","ids":{"trakt":14103828,"tvdb":11777304,"imdb":"tt42603303","tmdb":7134447,"tvrage":null}},"show":{"title":"Last
        Week Tonight with John Oliver","year":2014,"ids":{"trakt":60267,"slug":"last-week-tonight-with-john-oliver","tvdb":278518,"imdb":"tt3530232","tmdb":60694,"tvrage":null}}},{"id":12296918466,"watched_at":"2026-05-23T21:53:00.000Z","action":"scrobble","type":"episode","episode":{"season":24,"number":15,"title":"High
        School History","ids":{"trakt":14044564,"tvdb":11624608,"imdb":"tt36431589","tmdb":7193771,"tvrage":null}},"show":{"title":"Family
        Guy","year":1999,"ids":{"trakt":1425,"slug":"family-guy","tvdb":75978,"imdb":"tt0182576","tmdb":1434,"tvrage":null}}}]'
  recorded_at: 2026-05-24 13:42:40
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/history/shows?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"290b06718b0ee4f0fcbba72302998810"
      last-modified: Sun, 24 May 2026 06:44:27 GMT
      x-pagination-item-count: '64597'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '32299'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":12297855656,"watched_at":"2026-05-24T06:44:00.000Z","action":"scrobble","type":"episode","episode":{"season":2,"number":19,"title":"Ho
        Ho Ho, Actually: The Holiday Special","ids":{"trakt":3872607,"tvdb":7489623,"imdb":null,"tmdb":2984451,"tvrage":null}},"show":{"title":"Um,
        Actually...","year":2018,"ids":{"trakt":140399,"slug":"um-actually","tvdb":356085,"imdb":"tt9690112","tmdb":126565,"tvrage":null}}},{"id":12295269087,"watched_at":"2026-05-23T04:55:00.000Z","action":"scrobble","type":"episode","episode":{"season":2,"number":3,"title":"Who
        Is Alive?","ids":{"trakt":12103029,"tvdb":10592760,"imdb":"tt15241840","tmdb":5469117,"tvrage":null}},"show":{"title":"Severance","year":2022,"ids":{"trakt":154997,"slug":"severance","tvdb":371980,"imdb":"tt11280740","tmdb":95396,"tvrage":null}}}]'
  recorded_at: 2026-05-24 13:42:45
recorded_with: VCR-vcr/2.1.0
