http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/ratings/shows?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4fbe6231e7602e0e6ed9b09204f24c99"
      last-modified: Thu, 22 Jun 2023 22:42:55 GMT
      x-pagination-item-count: '98'
      x-pagination-limit: '3'
      x-pagination-page: '1'
      x-pagination-page-count: '33'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rated_at":"2023-06-22T22:42:55.000Z","rating":2,"type":"show","show":{"title":"The
        Mist","year":2017,"ids":{"trakt":118191,"slug":"the-mist","tvdb":326887,"imdb":"tt5639976","tmdb":68315,"tvrage":null}}},{"rated_at":"2023-06-22T21:56:15.000Z","rating":5,"type":"show","show":{"title":"The
        Walking Dead","year":2010,"ids":{"trakt":1393,"slug":"the-walking-dead","tvdb":153021,"imdb":"tt1520211","tmdb":1402,"tvrage":null}}},{"rated_at":"2021-08-15T04:42:32.000Z","rating":3,"type":"show","show":{"title":"Mr.
        Corman","year":2021,"ids":{"trakt":170595,"slug":"mr-corman","tvdb":393156,"imdb":"tt10971064","tmdb":124897,"tvrage":null}}}]'
  recorded_at: 2026-05-24 13:42:45
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/ratings/seasons?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"12b197597283add9d7b169de21661265"
      x-pagination-item-count: '0'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '0'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2026-05-24 13:42:46
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/ratings/episodes?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a5f1d6c89f7d1fa649de23cde512f7cd"
      last-modified: Thu, 22 Feb 2024 01:50:56 GMT
      x-pagination-item-count: '6'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '3'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rated_at":"2024-02-22T01:50:56.000Z","rating":9,"type":"episode","episode":{"season":5,"number":3,"title":"Sand
        Job","ids":{"trakt":11412861,"tvdb":10280014,"imdb":"tt27952443","tmdb":5118691,"tvrage":null}},"show":{"title":"The
        Grand Tour","year":2016,"ids":{"trakt":108999,"slug":"the-grand-tour","tvdb":314087,"imdb":"tt5712554","tmdb":67557,"tvrage":null}}},{"rated_at":"2015-01-09T19:30:13.000Z","rating":9,"type":"episode","episode":{"season":2,"number":1,"title":"Judgment","ids":{"trakt":194766,"tvdb":31121,"imdb":"tt0512867","tmdb":182951,"tvrage":null}},"show":{"title":"Angel","year":1999,"ids":{"trakt":2411,"slug":"angel","tvdb":71035,"imdb":"tt0162065","tmdb":2426,"tvrage":null}}}]'
  recorded_at: 2026-05-24 13:42:46
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/ratings/movies?limit=3
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"30a95bac6014ac16eecb9521b6200936"
      last-modified: Sat, 04 Apr 2026 05:08:58 GMT
      x-pagination-item-count: '157'
      x-pagination-limit: '3'
      x-pagination-page: '1'
      x-pagination-page-count: '53'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rated_at":"2024-04-27T05:06:35.000Z","rating":8,"type":"movie","movie":{"title":"The
        Ministry of Ungentlemanly Warfare","year":2024,"ids":{"trakt":634646,"slug":"the-ministry-of-ungentlemanly-warfare-2024","imdb":"tt5177120","tmdb":799583}}},{"rated_at":"2024-02-24T05:55:52.000Z","rating":5,"type":"movie","movie":{"title":"Madame
        Web","year":2024,"ids":{"trakt":474113,"slug":"madame-web-2024","imdb":"tt11057302","tmdb":634492}}},{"rated_at":"2023-01-01T04:12:31.000Z","rating":8,"type":"movie","movie":{"title":"Violent
        Night","year":2022,"ids":{"trakt":721339,"slug":"violent-night-2022","imdb":"tt12003946","tmdb":899112}}}]'
  recorded_at: 2026-05-24 13:42:46
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/ratings/movies?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d9b3feded9a0c3ced37cc93b6135eecd"
      last-modified: Mon, 18 May 2026 11:00:11 GMT
      x-pagination-item-count: '674'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '337'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rated_at":"2026-05-18T11:00:11.000Z","rating":6,"type":"movie","movie":{"title":"Kumail
        Nanjiani: Night Thoughts","year":2025,"ids":{"trakt":1254822,"slug":"kumail-nanjiani-night-thoughts-2025","imdb":"tt39131664","tmdb":1529419}}},{"rated_at":"2026-05-14T23:36:22.000Z","rating":6,"type":"movie","movie":{"title":"They
        Will Kill You","year":2026,"ids":{"trakt":1052083,"slug":"they-will-kill-you-2026","imdb":"tt31728330","tmdb":1292695}}}]'
  recorded_at: 2026-05-24 13:42:47
recorded_with: VCR-vcr/2.1.0
