http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/all?include_replies=FALSE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"96d7ca49b64a4a92ae4c5143800de1bc"
      last-modified: Fri, 22 May 2026 17:01:23 GMT
      x-pagination-item-count: '19'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"episode","episode":{"season":1,"number":3,"title":"Mr. Dreeb
        Comes to Town","ids":{"trakt":1441209,"tvdb":159023,"imdb":"tt0674704","tmdb":1518703,"tvrage":null}},"show":{"title":"Picket
        Fences","year":1992,"ids":{"trakt":205,"slug":"picket-fences","tvdb":74969,"imdb":"tt0103512","tmdb":206,"tvrage":null}},"comment":{"id":948273,"comment":"How
        did this air on network tv in 90s USA. \n\nElephant enema and brain tumor
        in the same episode? Wow.","spoiler":true,"review":false,"parent_id":0,"created_at":"2026-04-25T22:48:04.000Z","updated_at":"2026-04-25T22:48:04.000Z","replies":0,"likes":0,"user_rating":null,"language":"en","user_stats":{"rating":null,"play_count":1,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}},{"type":"episode","episode":{"season":1,"number":1,"title":"Pilot","ids":{"trakt":9492805,"tvdb":9792791,"imdb":"tt27102157","tmdb":4447673,"tvrage":null}},"show":{"title":"High
        Potential","year":2024,"ids":{"trakt":205414,"slug":"high-potential","tvdb":434988,"imdb":"tt22091076","tmdb":226637,"tvrage":null}},"comment":{"id":874578,"comment":"I''ve
        seen the \"character has done the math exactly in time for checkout at the
        grocery store to[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/movies?include_replies=FALSE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"70967d72874e89da9f5978d1578337f5"
      last-modified: Sun, 14 Sep 2025 11:27:52 GMT
      x-pagination-item-count: '5'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"movie","movie":{"title":"John Wick: Chapter 3 - Parabellum","year":2019,"ids":{"trakt":304278,"slug":"john-wick-chapter-3-parabellum-2019","imdb":"tt6146586","tmdb":458156}},"comment":{"id":236397,"comment":"All
        the gun inflicted deaths in the world and the scene that got me was [spoiler]a
        casually torn-off ballet dancer''s toe nail.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2019-06-09T21:33:00.000Z","updated_at":"2019-06-09T21:33:00.000Z","replies":1,"likes":2,"user[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/nonexistent-user-quux-trakt-test/comments/all/all?include_replies=FALSE
  response:
    status: 404
    headers:
      content-type: text/html
      speculation-rules: '"/cdn-cgi/speculation"'
  recorded_at: 2026-05-24 17:01:51
recorded_with: VCR-vcr/2.1.0
