http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/stats
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2df2a1c76b8732e9df653314c6113f6a"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"movies":{"plays":1310,"watched":830,"minutes":151367,"collected":3197,"ratings":665,"comments":0},"shows":{"watched":588,"collected":1236,"ratings":392,"comments":0},"seasons":{"ratings":197,"comments":0},"episodes":{"plays":31778,"watched":20263,"minutes":1013904,"collected":45725,"ratings":10167,"comments":0},"network":{"friends":10,"followers":49,"following":24},"ratings":{"total":11421,"distribution":{"1":188,"2":0,"3":11,"4":41,"5":282,"6":1371,"7":4166,"8":3973,"9":1219,"10":170}}}'
  recorded_at: 2026-03-02 12:41:26
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"569a270eddd0b78cce9d88fc88b82221"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"movies":{"plays":3911,"watched":1785,"minutes":435522,"collected":3168,"ratings":157,"comments":0},"shows":{"watched":844,"collected":580,"ratings":98,"comments":0},"seasons":{"ratings":0,"comments":0},"episodes":{"plays":64151,"watched":26036,"minutes":1959188,"collected":18084,"ratings":6,"comments":0},"network":{"friends":35,"followers":530,"following":40},"ratings":{"total":261,"distribution":{"1":8,"2":2,"3":4,"4":6,"5":14,"6":14,"7":17,"8":43,"9":48,"10":105}}}'
  recorded_at: 2026-03-02 12:41:27
recorded_with: VCR-vcr/2.1.0
