http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"76aceced90bf9c2c988d7fd4e093f76e"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-03-02 12:41:28
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"885cf0b0c8e9de60d8135a03213cfdb0"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}}'
  recorded_at: 2026-03-02 12:41:28
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ee2b8f18f1704869f54f106f0e0b8ae2"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"sean","private":false,"deleted":false,"name":"Sean Rudford","vip":true,"vip_ep":true,"director":true,"ids":{"slug":"sean"}}'
  recorded_at: 2026-03-02 12:41:29
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"01b65ac04022f5201bf6ede12c9d0636"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-03-02 12:41:29
recorded_with: VCR-vcr/2.1.0
