http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user,user_list,resource:list:4617686,resource:list:4483770,resource:list:3112019,resource:list:2121308,resource:list:4386732,resource:list:1008357,resource:list:838241,resource:list:2116980,resource:list:2141251,resource:list:2108811,resource:list:2171659,resource:list:2181498,resource:list:2181499,resource:list:3450624,resource:list:4108194,resource:list:4356785,resource:list:4356830,resource:list:4375202,resource:list:26054766,owner_id:57359
      x-pagination-item-count: '19'
      x-pagination-limit: '100'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Power Rankings! Dramas (March 2018)","description":"Tim Goodman''s
        Power Rankings, as seen on https://www.hollywoodreporter.com/lists/power-rankings-dramas-you-need-watch-1089824","privacy":"public","share_link":"https://app.trakt.tv/users/jemus42/lists/power-rankings-dramas-march-2018","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2018-03-05T02:58:24.000Z","updated_at":"2019-08-29T11:25:17.000Z","item_count":20,"comment_count":0,"likes":0,"ids":{"slug":"power-rankings-dramas-march-2018","trakt":4617686},"images":{"posters":[]},"user":{"ids":{"slug":"jemus42","trakt":57359},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/fry.png"}},"username":"jemus42","private":false,"deleted":false,"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","name":"jemus42","gender":"male","age":null,"vip":true,"vip_ep":false,"vip_cover_image":null,"director":false},"total_count":19},{"name":"Anime
        of 2018","description":"","privacy":"public","share_link":"https://app.trakt.tv/users/jemus42/lists/anime-of-2018","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"released","sort_how":"asc","created_at":"2018-01-15T20:14:54.000Z","updated_at":"2019-10-19T21:27:28.000Z","item_count":19,"comment_count":0,"likes":0,"ids":{"slug":"anime-of-2018","trakt":4483770},"images":{"posters":[]},"user":{"ids":{"slug":"jemus42","trakt":57359},"images":{"ava[...]
