http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1de3356496c32ca638d4fd5fcda829f5"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-05-24 13:42:37
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"aab5585e861b5fcc3e9a360aabbd28f6"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fmedia.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}}'
  recorded_at: 2026-05-24 13:42:37
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"28123214f0aa4bfbee686df95c0304d6"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"sean","private":false,"deleted":false,"name":"Sean","vip":true,"vip_ep":true,"director":true,"ids":{"slug":"sean"}}'
  recorded_at: 2026-05-24 13:42:37
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b7506d942a7a835a246b7d06294cf6c0"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-05-24 13:42:38
recorded_with: VCR-vcr/2.1.0
