http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/stats
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f04599aa3778a8b0515413a8b5d0ca9b"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"movies":{"plays":1327,"watched":846,"minutes":153219,"collected":3247,"ratings":674,"comments":6},"shows":{"watched":595,"collected":1260,"ratings":395,"comments":7},"seasons":{"ratings":197,"comments":2},"episodes":{"plays":32077,"watched":20531,"minutes":1022365,"collected":44661,"ratings":10178,"comments":6},"network":{"friends":10,"followers":45,"following":22},"ratings":{"total":11444,"distribution":{"1":188,"2":0,"3":12,"4":41,"5":282,"6":1379,"7":4167,"8":3988,"9":1217,"10":170}}}'
  recorded_at: 2026-05-24 13:42:30
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ab4a5f8149422cb4596fcc737a7083cf"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"movies":{"plays":3908,"watched":1781,"minutes":435262,"collected":3181,"ratings":157,"comments":42},"shows":{"watched":862,"collected":593,"ratings":98,"comments":42},"seasons":{"ratings":0,"comments":1},"episodes":{"plays":64596,"watched":26466,"minutes":1975201,"collected":18910,"ratings":6,"comments":7},"network":{"friends":25,"followers":525,"following":29},"ratings":{"total":261,"distribution":{"1":8,"2":2,"3":4,"4":6,"5":14,"6":14,"7":17,"8":43,"9":48,"10":105}}}'
  recorded_at: 2026-05-24 13:42:30
recorded_with: VCR-vcr/2.1.0
