http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/movies?extended=min
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '199'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":751703882,"listed_at":"2022-10-14T03:19:22.000Z","notes":null,"type":"movie","movie":{"ids":{"imdb":"tt11128440","plex":{"guid":"5e163371ef1040003f249045","slug":"clerks-iii"},"slug":"clerks-iii-2022","tmdb":635891,"trakt":475091},"year":2022,"title":"Clerks
        III","votes":1628,"colors":{"poster":["#BDA586","#363733"]},"genres":["comedy","drama"],"images":{"logo":["media.trakt.tv/images/movies/000/475/091/logos/medium/aaee073f73.png.webp"],"thumb":["media.trakt.tv/images/movies/000/475/091/thumbs/medium/27d24909cb.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/475/091/banners/medium/db1e711690.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/475/091/fanarts/medium/f9564152dc.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/475/091/posters/medium/61d6eb01d6.jpg.webp"],"clearart":[]},"rating":6.527027130126953,"status":"released","country":"us","runtime":100,"tagline":"They''re
        too old for this shift.","trailer":"https://youtube.com/watch?v=uD3n3GM3Z_0","homepage":"https://clerks3.movie/","language":"en","overview":"After
        narrowly surviving a massive heart attack, Randal enlists his old friend Dante
        to help him make a movie immortalizing their youthful days at the little convenience
        store that started it all.","released":"2022-09-04","languages":["en"],"subgenres":[],"updated_at":"2026-03-01T17:16:48.000Z","after_credits":true,"certification":"R","comment_count":26,"during_credits":false,"original_title":"Clerks
        III","available_translations":["ar","cs","da","de","en","es","fi","fr","he","hr","hu","it","ko","my","nb","nl","nn","no","pl","pt","ro","ru","sv","th","tr","uk","vi","zh"]}},{"rank":2,"id":751703885,"listed_at":"2022-10-14T03:19:25.000Z","notes":null,"type":"movie","movie":{"ids":{"imdb":"tt10665342","plex":{"guid":"5e163304ef1040003f24871a","slug":"halloween-ends"},"slug":"halloween-ends-2022","tmdb":616820,"trakt":460030},"year":2022,"title":"Halloween
        Ends","votes":4669,"colors":{"poster":["#CEAE9B","#221711"]},"g[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/shows?extended=min
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '96'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":753270164,"listed_at":"2022-10-17T16:40:57.000Z","notes":null,"type":"show","show":{"ids":{"imdb":"tt12785720","plex":{"guid":"5f20151f54b8860041e38bd3","slug":"the-witcher-blood-origin"},"slug":"the-witcher-blood-origin","tmdb":106541,"tvdb":399987,"trakt":164920},"airs":{"day":"","time":"00:00:00","timezone":"America/New_York"},"year":2022,"title":"The
        Witcher: Blood Origin","votes":2728,"colors":{"poster":["#AD9071","#3F332D"]},"genres":["action","adventure","fantasy","science-fiction","drama"],"images":{"logo":["media.trakt.tv/images/shows/000/164/920/logos/medium/ab7279ac1f.png.webp"],"thumb":["media.trakt.tv/images/shows/000/164/920/thumbs/medium/b1507e7ac7.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/164/920/banners/medium/1a9b2fb5fe.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/164/920/fanarts/medium/0833e4add0.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/164/920/posters/medium/b6148d4ed7.jpg.webp"],"clearart":[]},"rating":6.192081928253174,"status":"ended","country":"us","network":"Netflix","runtime":50,"tagline":"Every
        story has a beginning.","trailer":"https://youtube.com/watch?v=py3i-BGUDGw","homepage":"https://www.netflix.com/title/81279312","language":"en","overview":"More
        than a thousand years before the world of The Witcher, seven outcasts in the
        elven world unite in a blood quest against an unstoppable power.","languages":["en","it"],"subgenres":["fantasy-world"],"updated_at":"2026-03-01T14:39:13.000Z","first_aired":"2022-12-25T05:00:00.000Z","certification":"TV-MA","comment_count":54,"aired_episodes":4,"original_title":"The
        Witcher: Blood Origin","available_translations":["ar","bg","cs","de","el","en","es","fa","fi","fr","he","hu","it","ja","ka","ko","lt","my","nl","pl","pt","ru","sk","sr","sv","th","tr","uk","vi","zh"]}},{"rank":2,"id":763313982,"listed_at":"2022-11-10T15:56:16.000Z","notes":null,"type":"show","show":{"ids":{"imdb":"tt12661338","plex":{"guid":"62272f54a6829f2a2074edd5","slug":"a-friend-of-the-family"},"slug":"a-friend-of-the-family","tmdb":197434,"tvdb":417373,"trak[...]
[...]
