http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/movies
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: resource:list:2106
      x-pagination-item-count: '285'
      x-pagination-limit: '100'
      x-pagination-page: '1'
      x-pagination-page-count: '3'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"movie","movie":{"ids":{"imdb":"tt11128440","plex":{"guid":"5e163371ef1040003f249045","slug":"clerks-iii"},"slug":"clerks-iii-2022","tmdb":635891,"trakt":475091},"year":2022,"title":"Clerks
        III"},"rank":3,"id":751703882,"listed_at":"2022-10-14T03:19:22.000Z","notes":null},{"type":"movie","movie":{"ids":{"imdb":"tt10665342","plex":{"guid":"5e163304ef1040003f24871a","slug":"halloween-ends"},"slug":"halloween-ends-2022","tmdb":616820,"trakt":460030},"year":2022,"title":"Halloween
        Ends"},"rank":4,"id":751703885,"listed_at":"2022-10-14T03:19:25.000Z","notes":null},{"type":"movie","movie":{"ids":{"imdb":"tt1630029","plex":{"guid":"5d7768ba96b655001fdc0408","slug":"avatar-the-way-of-water"},"slug":"avatar-the-way-of-water-2022","tmdb":76600,"trakt":56580},[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/shows
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: resource:list:2106
      x-pagination-item-count: '285'
      x-pagination-limit: '100'
      x-pagination-page: '1'
      x-pagination-page-count: '3'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","show":{"ids":{"imdb":"tt12785720","plex":{"guid":"5f20151f54b8860041e38bd3","slug":"the-witcher-blood-origin"},"slug":"the-witcher-blood-origin","tmdb":106541,"tvdb":399987,"trakt":164920},"year":2022,"title":"The
        Witcher: Blood Origin","aired_episodes":4},"rank":33,"id":753270164,"listed_at":"2022-10-17T16:40:57.000Z","notes":null},{"type":"show","show":{"ids":{"imdb":"tt12661338","plex":{"guid":"62272f54a6829f2a2074edd5","slug":"a-friend-of-the-family"},"slug":"a-friend-of-the-family","tmdb":197434,"tvdb":417373,"trakt":194867},"year":2022,"title":"A
        Friend of the Family","aired_episodes":9},"rank":39,"id":763313982,"listed_at":"2022-11-10T15:56:16.000Z","notes":null},{"type":"show","show":{"ids":{"imdb":"tt12580982","plex":{"guid":"617c231e6d9bee0ff52ef74b","slug":"national-treasure-edge-of-history"},"slug":"national-treasure-edge-of-history","tmdb":137437,"tvdb":382210,"trakt":162050},"year":2022,"title":"National
        Treasure: Edge of History","aired_episodes":10},"rank":43,"id":763315918,"listed_at":"2022-11-10T16:03:31.000Z","notes":null},{"type":"show","show":{"ids":{"imdb":"tt14675860","plex":{"guid":"610d45b2b7f406002da30e70","slug":"welcome-to-chippendales"},"slug":"welcome-to-chippendales","tmdb":130567,"tvdb":403128,"trakt":185579},"year":2022,"title":"Welcome
        to Chippendales","aired_episodes":8},"rank":47,"id":763316564,"listed_at":"2022-11-10T16:04:53.000Z","notes":null},{"type":"show","show":{"ids"[...]
[...]
