http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2171659/items
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '6'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":91784778,"listed_at":"2016-04-19T16:54:46.000Z","notes":null,"type":"movie","movie":{"ids":{"imdb":"tt0156887","plex":{"guid":"5d77683585719b001f3a3b8c","slug":"perfect-blue"},"slug":"perfect-blue-1998","tmdb":10494,"trakt":5677},"year":1998,"title":"Perfect
        Blue","votes":6330,"colors":{"poster":["#626E94","#161E31"]},"genres":["thriller","anime","horror","suspense"],"images":{"logo":["media.trakt.tv/images/movies/000/005/677/logos/medium/78165bc156.png.webp"],"thumb":["media.trakt.tv/images/movies/000/005/677/thumbs/medium/6121a6e9d8.jpg.webp"],"banner":["media.trakt.tv/images/movies/000/005/677/banners/medium/247e5b4039.jpg.webp"],"fanart":["media.trakt.tv/images/movies/000/005/677/fanarts/medium/6225d4a3fd.jpg.webp"],"poster":["media.trakt.tv/images/movies/000/005/677/posters/medium/36d5470889.jpg.webp"],"clearart":["media.trakt.tv/images/movies/000/005/677/cleararts/medium/ca2a7b00df.png.webp"]},"rating":8.27330207824707,"status":"released","country":"jp","runtime":82,"tagline":"\"excuse
        me... who are you?\"","trailer":"https://youtube.com/watch?v=RrWausp8zDQ","homepage":"https://gkids.com/films/perfect-blue","language":"ja","overview":"Rising
        pop star Mima quits singing to pursue a career as an actress. After she takes
        up a role on a popular detective show, her handlers and collaborators begin
        turning up murdered. Harboring feelings of guilt and haunted by visions of
        her former self, Mima''s reality and fantasy meld into a frenzied paranoia.","released":"1998-02-28","languages":["ja"],"subgenres":["adult-animation","psychological-thriller","paranoia","celebrity","female-protagonist","singer","mental-illness","psychological","stalker"],"updated_at":"2026-03-01T16:47:25.000Z","after_credits":false,"certification":"R","comment_count":49,"during_credits":false,"original_title":"PERFECT
        BLUE","available_translations":["cs","da","de","el","en","es","et","fa","fi","fr","he","hu","it","ja","ka","ko","lt","nl","no","pl","pt","ru","sr","th","tr","uk","vi","zh"]}},{"rank":2,"id":91784783,"listed_at":"2016-04-19T16:54:54.000Z","notes":null,"type":"movie","movie":{"ids":{"imdb":"tt0291350","plex":{"guid":"5d9f356de4fc29001eb66b36","slug":"millennium-actress"},"slug":"millennium-actress-2002","tmdb":33320,"trakt":21330},"year":2002,"title":"Millennium
        Actress","votes":1593,"colors":{"poster":["#C88B59","#3E21[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2171659/items?extended=full
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '6'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":91784778,"listed_a[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sp1ti/lists/anime-winter-season-2018-2019/items
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '74'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":371672009,"listed_at":"2018-12-29T20:18:20.000Z","notes":null,"type":"show","show":{"ids":{"imdb":"tt9458372","plex":{"guid":"5d9c091308fddd001f2a70fd","slug":"boogiepop-and-others"},"slug":"boogiepop-and-others","tmdb":84163,"tvdb":355624,"trakt":140009},"airs":{"day":"Friday","time":"21:00","timezone":"Asia/Tokyo"},"year":2019,"title":"Boogiepop
        and Others","votes":135,"colors":{"poster":["#ABC1AE","#172526"]},"genres":["mystery","anime","drama","horror"],"images":{"logo":["media.trakt.tv/images/shows/000/140/009/logos/medium/b72525c6e6.png.webp"],"thumb":["media.trakt.tv/images/shows/000/140/009/thumbs/medium/ca68bd00b4.jpg.webp"],"banner":["media.trakt.tv/images/shows/000/140/009/banners/medium/4a00ad8efe.jpg.webp"],"fanart":["media.trakt.tv/images/shows/000/140/009/fanarts/medium/1e91f0a458.jpg.webp"],"poster":["media.trakt.tv/images/shows/000/140/009/posters/medium/68c73c9918.jpg.webp"],"clearart":["media.trakt.tv/images/shows/000/140/009/cleararts/medium/0080a086a9.png.webp"]},"rating":6.548148155212402,"status":"ended","country":"jp","network":"AT-X","runtime":24,"tagline":"","trailer":"https://youtube.com/watch?v=J9tu253SOas","homepage":"http://boogiepop-anime.com/","language":"ja","overview":"There
        is an urban legend that tells of a shinigami that can release people from
        the pain they are suffering. This \"Angel of Death\" has a name—Boogiepop.
        And the legends are true. Boogiepop is real. When a rash of disappearances
        involving female students breaks out at Shinyo Academy, the police and faculty
        assume they just have a bunch of runaways on their hands. Yet some students
        know better. Something mysterious and foul is afoot. Is it Boogiepop or something
        even more sinister...?","languages":["ja"],"subgenres":["high-school","supernatural","gore","time-skip","psychological","angst","seinen"],"updated_at":"2026-03-01T09:59:16.000Z","first_aired":"2019-01-04T12:00:00.000Z","certification":"TV-MA","comment_count":2,"aired_episodes":18,"original_title":"ブギーポップは笑わない","available_translations":["de","en","es","fr","it","ja","ko","nl","pl","pt","ru","uk","zh"]}},{"rank":2,"id":362149389,"listed_at":"2018-10-14T00:41:23.000Z","notes":null,"type":"show","show":{"ids":{"imdb":"tt9458304","plex":{"guid":"5d9c090fffd9ef001e99ee1f","slug":"dororo-2019"},"slug":"dororo-2019","tmdb":83100,"tvdb":354167,"trakt":138218},"airs":{"day":"Monday","time":"22:00","timezone":"Asia/Tokyo"},"year":2019,"title":"Dororo","votes":1776,"colors":{"pos[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sp1ti/lists/anime-winter-season-2018-2019/items?extended=full
  response:
    status: 200
    headers:
      content-type: application/json
      cache-tag: user,user_list
      x-pagination-item-count: '74'
      x-pagination-limit: '1000'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-sort-by: rank
      x-sort-how: asc
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"i[...]
