http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/followers
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15:59.000Z","user":{"ids":{"slug":"sofakissen","trakt":31970},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/a25a2f83126e9b9eab21e367dc014e02?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/zoidberg.png"}},"username":"sofakissen","private":false,"deleted":false,"joined_at":"2012-02-20T19:29:09.000Z","location":"","about":"","name":"Daniel","gender":"","age":null,"vip":false,"vip_ep":false,"vip_cover_image":null,"director":false},"total_count":62},{"followed_at":"2012-08-03T21:52:54.000Z","user":{"ids":{"slug":"farthen","trakt":50973},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/3e432b04555dde1c87750a0e19a74554?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/zoidberg.png"}},"username":"Farthen","private":false,"deleted":false,"joined_at":"2012-07-07T10:23:38.000Z","location":"","about":"","name":"","gender":"","age":33,"vip":false,"vip_ep":false,"vip_cover_image":null,"director":false},"t[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/followers?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15:59.000Z","user":{"ids":{"slug":"sofakissen","trakt":31970},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/a25a2f83126e9b9eab21e367dc014e02?s=256&r=pg&d=https://i2.wp[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/following
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15:59.000Z","user":{"ids":{"slug":"sofakissen","trakt":31970},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/a25a2f83126e9b9eab21e367dc014e02?s=256&r=pg&d=https://i2.wp.com/media.tra[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/friends
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e7e785e91a1d5e048fbe2fa6be93b472"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '[{"friends_at":"2012-11-26T15:41:11.000Z","user":{"username":"lsanoj","private":false,"deleted":false,"name":"Jonas","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"lsanoj"}}},{"friends_at":"2012-11-26T15:41:13.000Z","user":{"username":"viirus","private":false,"deleted":false,"name":"viirus","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"viirus"}}},{"friends_at":"2013-01-08T19:05:33.000Z","user":{"username":"ekelias","private":false,"deleted":false,"name":"ekelias","vip":false,"vip_ep":f[...]
