http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/collection/shows?extended=
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"be22848c79e74e1168b1671491240de2"
      last-modified: Mon, 02 Mar 2026 08:16:05 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '[{"last_collected_at":"2026-03-02T07:23:27.000Z","last_updated_at":"2026-03-02T08:16:05.000Z","type":"show","show":{"title":"Watson","year":2025,"ids":{"trakt":219932,"slug":"watson","tvdb":444195,"imdb":"tt22475008","tmdb":242867,"tvrage":null}},"seasons":[{"number":1,"episodes":[{"number":1,"collected_at":"2025-01-27T07:51:40.000Z"},{"number":2,"collected_at":"2025-02-17T06:40:06.000Z"},{"number":3,"collected_at":"2025-02-24T06:42:15.000Z"},{"number":4,"collected_at":"2025-03-03T06:44:29.000Z"},{"number":5,"collected_at":"2025-03-10T05:20:34.000Z"},{"number":6,"collected_at":"2025-03-17T05:28:24.000Z"},{"number":7,"collected_at":"2025-03-24T05:17:18.000Z"},{"number":8,"collected_at":"2025-03-31T05:51:36.000Z"},{"number":9,"collected_at":"2025-04-08T07:02:44.000Z"},{"number":10,"collected_at":"202[...]
