http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/shows?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9b2b37a85e25e9eae2029044934d0670"
      last-modified: Sat, 28 Feb 2026 20:37:27 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '31778'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '3178'
      x-private-user: 'false'
    body:
      string: '[{"id":12055733579,"watched_at":"2026-02-28T20:37:00.000Z","action":"scrobble","type":"episode","episode":{"season":2,"number":7,"title":"Contact","ids":{"trakt":13642190,"tvdb":11414576,"imdb":"tt38755006","tmdb":6618120,"tvrage":null}},"show":{"title":"Hijack","year":2023,"ids":{"trakt":194907,"slug":"hijack","tvdb":419254,"imdb":"tt19854762","tmdb":198102,"tvrage":null}}},{"id":12053859591,"watched_at":"2026-02-28T00:10:00.000Z","action":"scrobble","type":"episode","episode":{"season":1,"number":2,"title":"My
        2nd First Day","ids":{"trakt":13668730,"tvdb":11426443,"imdb":"tt38789459","tmdb":6638204,"tvrage":null}},"show":{"title":"Scrubs","year":2026,"ids":{"trakt":291441,"slug":"scrubs-2026","tvdb":465690,"imdb":"tt40197357","tmdb":295778,"tvrage":null}}},{"id":12053810210,"watched_[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/movies?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a2149de793fd897ba37a197d7a625656"
      last-modified: Wed, 25 Feb 2026 21:33:52 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1310'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '131'
      x-private-user: 'false'
    body:
      string: '[{"id":12049455725,"watched_at":"2026-02-25T21:33:00.000Z","action":"watch","type":"movie","movie":{"title":"Marty
        Supreme","year":2025,"ids":{"trakt":1076665,"slug":"marty-supreme-2025","imdb":"tt32916440","tmdb":1317288}}},{"id":12040100004,"watched_at":"2026-02-21T23:16:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Sleep
        Dealer","year":2008,"ids":{"trakt":12751,"slug":"sleep-dealer-2008","imdb":"tt0804529","tmdb":20764}}},{"id":12023802521,"watched_at":"2026-02-15T19:00:00.000Z","action":"watch","type":"movie","movie":{"title":"Princess
        Mononoke","year":1997,"ids":{"trakt":96,"slug":"princess-mononoke-1997","imdb":"tt0119698","tmdb":128}}},{"id":12020917947,"watched_at":"2026-02-14T22:20:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Gunpowder
        Milkshake","year":2021,"ids":{"trakt":427910,"slug":"gunpowder-milkshake-2021","imdb":"tt8368408","tmdb":574060}}},{"id":12019928560,"watched_at":"2026-02-14T20:18:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Ed
        Gamble: Blood Sugar","year":2019,"ids":{"trakt":466402,"slug":"ed-gamble-blood-sugar-2019","imdb":"tt11597152","tmdb":624536}}},{"id":12017145387,"watched_at":"2026-02-13T22:41:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Sympathy
        for Mr. Vengeance","year":2002,"ids":{"trakt":2750,"slug":"sympathy-for-mr-vengeance-2002","imdb":"tt0310775","tmdb":4689}}},{"id":12002075147,"watched_at":"2026-02-07T21:58:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Memories
        of Murder","year":2003,"ids":{"trakt":6518,"slug":"memories-of-murder-2003","imdb":"tt0353969","tmdb":11423}}},{"id":11986136817,"watched_at":"2026-01-31T22:20:00.000Z","action":"scrobble","type":"movie","movie":{"title":"Grave
        of the Fireflies","year":1988,"ids":{"trakt":7251,"slug":"grave-of-the-fireflies-1988","imdb":"tt0095327","tmdb":12477}}},{"id":11972493027,"watched_at":"2026-01-25T21:10:00.000Z","action":"scrobble","type":"movie","movie":{"title":"The
        Rip","year":2026,"ids":{"trakt":1065701,"slug":"the-rip-2026","imdb":"tt32642706","tmdb":1306368}}},{"id":11957038144,"watched_at":"2026-01-19T21:18:00.000Z","action":"checkin","type":"movie","movie":{"title":"28
        Years Later: The Bone Temple","year":2026,"ids":{"trakt":1033738,"slug":"28-years-later-the-bone-temple-2026","imdb":"tt32141377","tmdb":1272837}}}]'
  recorded_at: 2026-03-02 12:41:29
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/history/shows?limit=2
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0795ef830fdffa0c8281cb0f7500207c"
      last-modified: Sat, 28 Feb 2026 08:07:04 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '64152'
      x-pagination-limit: '2'
      x-pagination-page: '1'
      x-pagination-page-count: '32076'
      x-private-user: 'false'
    body:
      string: '[{"id":12054498959,"watched_at":"2026-02-28T08:07:00.000Z","action":"scrobble","type":"episode","episode":{"season":2,"number":3,"title":"Homestar
        Runner, Hearthstone, Demolition Man","ids":{"trakt":3653424,"tvdb":7309413,"imdb":null,"tmdb":2984435,"tvrage":null}},"show":{"title":"Um,
        Actually...","year":2018,"ids":{"trakt":140399,"slug":"um-actually","tvdb":356085,"imdb":"tt9690112","tmdb":126565,"tvrage":null}}},{"id":12053760833,"watched_at":"2026-02-27T23:20:00.000Z","action":"scrobble","type":"episode","episode":{"season":2,"number":6,"title":"Ghost
        Pointe Blank","ids":{"trakt":12752119,"tvdb":10911593,"imdb":"tt32567381","tmdb":5929347,"tvrage":null}},"show":{"title":"School
        Spirits","year":2023,"ids":{"trakt":198139,"slug":"school-spirits-2023","tvdb":421636,"imdb":"tt21057450","tmdb":208397,"tvrage":null}}}]'
  recorded_at: 2026-03-02 12:41:29
recorded_with: VCR-vcr/2.1.0
