http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2121308
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: user,user_list,resource:list:2121308,resource:list:57359,owner_id:57359
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"name":"Anime of 2016","description":"Ranked list of 2016 anime.\r\n\r\nThis
        is not a complete list of 2016 anime, but rather a list for myself to keep
        track of anime I want to keep track of.\r\n\r\nI *tried* to rank it, but since
        I can''t do that without having seen the full thing, ranks are obviously incomplete.","privacy":"public","share_link":"https://app.trakt.tv/users/jemus42/lists/anime-of-2016","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2016-04-06T16:03:31.000Z","updated_at":"2019-09-01T21:16:16.000Z","item_count":23,"comment_count":0,"likes":3,"ids":{"slug":"anime-of-2016","trakt":2121308},"images":{"posters":[]},"user":{"ids":{"slug":"jemus42","trakt":57359},"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?s=256&r=pg&d=https://i2.wp.com/media.trakt.tv/hotlink-ok/placeholders/medium/fry.png"}},"username":"jemus42","private":false,"deleted":false,"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","name":"jemus42","gender":"male","age":null,"vip":true,"vip_ep":false,"vip_cover_image":null,"director":false},"total_count":1}'
  recorded_at: 2026-05-24 13:42:37
recorded_with: VCR-vcr/2.1.0
