http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2121308
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0457c771129a5d1a53edd8f2764bb557"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-list-id: '2121308'
      x-private-user: 'false'
      x-sort-by: rank
      x-sort-how: asc
    body:
      string: '{"name":"Anime of 2016","description":"Ranked list of 2016 anime.\r\n\r\nThis
        is not a complete list of 2016 anime, but rather a list for myself to keep
        track of anime I want to keep track of.\r\n\r\nI *tried* to rank it, but since
        I can''t do that without having seen the full thing, ranks are obviously incomplete.","privacy":"public","share_link":"https://trakt.tv/lists/2121308","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2016-04-06T16:03:31.000Z","updated_at":"2019-09-01T21:16:16.000Z","item_count":23,"comment_count":0,"likes":3,"ids":{"trakt":2121308,"slug":"anime-of-2016"},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}'
  recorded_at: 2026-03-02 12:41:29
recorded_with: VCR-vcr/2.1.0
