http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"03f46eeea6222bd7217da3d9f59bbf0b"
      x-private-user: 'false'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-05-24 13:42:48
recorded_with: VCR-vcr/2.1.0
