http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '654'
      x-pagination-item-count: '3269'
      etag: W/"ac78ac101000df593fb864deb54340d1"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":897,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":38359,"movie":{"title":"Avatar: Fire and Ash","year":2025,"ids":{"trakt":62544,"slug":"avatar-fire-and-ash-2025","imdb":"tt1757678","tmdb":83533}}},{"list_count":24432,"movie":{"title":"Avatar
        4","year":2029,"ids":{"trakt":133603,"slug":"avatar-4-2029","imdb":"tt3095356","tmdb":216527}}},{"list_count":18651,"movie":{"title":"Avatar
        5","year":2031,"ids":{"trakt":235669,"slug":"avatar-5-2031","imdb":"tt5637536","tmdb":393209}}},{"list_count":18649,"movie":{"title":"Avengers:
        Doomsday","year":2026,"ids":{"trakt":806490,"slug":"avengers-doomsday-2026","imdb":"tt21357150","tmdb":1003596}}},{"list_count":17647,"movie":{"title":"Avengers:
        Secret Wars","year":2027,"ids":{"trakt":806489,"slug":"avengers-secret-wars-2027","imdb":"tt21361444","tmdb":1003598}}}]'
  recorded_at: 2025-08-04 08:06:46
- request:
    method: GET
    uri: https://api.trakt.tv/movies/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '654'
      x-pagination-item-count: '3269'
      etag: W/"ac78ac101000df593fb864deb54340d1"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":885,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":38359,"movie":{"title":"Avatar: Fire and Ash","year":2025,"ids":{"trakt":62544,"slug":"avatar-fire-and-ash-2025","imdb":"tt1757678","tmdb":83533},"tagline":"","overview":"In
        the wake of the devastating war against the RDA and the loss of their eldest
        son, Jake Sully and Neytiri face a new threat on Pandora: the Ash People,
        a violent and power-hungry Na''vi tribe led by the ruthless Varang. Jake''s
        family must fight for their survival and the future of Pandora in a conflict
        that pushes them to their emotional and physical limits.","released":"2025-12-19","runtime":192,"country":"us","trailer":"https://youtube.com/watch?v=SKe4G3OfUew","homepage":"http://www.avatar.com/movies/avatar-fire-and-ash","status":"post
        production","rating":7.42,"votes":150,"comment_count":2,"updated_at":"2025-08-03T08:06:08.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","de","en","es","fr","he","hr","hu","it","ja","ka","ko","lv","nl","pl","pt","ro","ru","sk","sv","th","tr","uk","vi","zh"],"genres":["adventure","science-fiction","fantasy"],"subgenres":[],"certification":null,"original_title":"Avatar:
        Fire and Ash","after_credits":false,"during_credits":false}},{"list_count":24432,"movie":{"title":"Avatar
        4","year":2029,"ids":{"trakt":133603,"slug":"avatar-4-2029","imdb":"tt3095356","tmdb":216527},"tagline":"","overview":"The
        fourth installment of the Avatar franchise.","released":"2029-12-21","runtime":1,"country":"us","trailer":null,"homepage":"http://www.avatar.com/movies","status":"in
        production","rating":6.82558,"votes":86,"comment_count":3,"updated_at":"2025-07-31T09:09:47.000Z","language":"en","languages":["en"],"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '68'
      x-pagination-item-count: '340'
      etag: W/"02d05ab63f5d9a8ff424fc2275ce5ced"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":867,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":12202,"show":{"title":"Alien: Earth","year":2025,"ids":{"trakt":170689,"slug":"alien-earth","tvdb":458912,"imdb":"tt13623632","tmdb":157239,"tvrage":null}}},{"list_count":8683,"show":{"title":"Marvel
        Zombies","year":2025,"ids":{"trakt":191189,"slug":"marvel-zombies","tvdb":412428,"imdb":"tt16027014","tmdb":138505,"tvrage":null}}},{"list_count":3170,"show":{"title":"The
        Terminal List: Dark Wolf","year":2025,"ids":{"trakt":202250,"slug":"the-terminal-list-dark-wolf","tvdb":464185,"imdb":"tt26576161","tmdb":219760,"tvrage":null}}},{"list_count":2600,"show":{"title":"NCIS:
        Tony \u0026 Ziva","year":2025,"ids":{"trakt":228468,"slug":"ncis-tony-ziva","tvdb":446847,"imdb":"tt31512256","tmdb":247732,"tvrage":null}}},{"list_count":2345,"show":{"title":"Outlander:
        Blood of My Blood","year":2025,"ids":{"trakt":197276,"slug":"outlander-blood-of-my-blood","tvdb":429964,"imdb":"tt18332852","tmdb":207484,"tvrage":null}}}]'
  recorded_at: 2025-08-04 08:06:48
- request:
    method: GET
    uri: https://api.trakt.tv/shows/anticipated?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '68'
      x-pagination-item-count: '340'
      etag: W/"02d05ab63f5d9a8ff424fc2275ce5ced"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":858,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"list_count":12202,"show":{"title":"Alien: Earth","year":2025,"ids":{"trakt":170689,"slug":"alien-earth","tvdb":458912,"imdb":"tt13623632","tmdb":157239,"tvrage":null},"tagline":"We
        were safer in space.","overview":"When the mysterious deep space research
        vessel USCSS Maginot crash-lands on Earth, Wendy and a ragtag group of tactical
        soldiers make a fateful discovery that puts them face-to-face with the planet''s
        greatest threat.","first_aired":"2025-08-12T04:00:00.000Z","airs":{"day":"Sunday","time":"00:00","timezone":"America/New_York"},"runtime":42,"certification":"TV-MA","network":"FX","country":"us","trailer":"https://youtube.com/watch?v=FqIi3N9dusk","homepage":"http://www.fxnetworks.com/shows/alien-earth","status":"in
        production","rating":6.57692,"votes":26,"comment_count":6,"updated_at":"2025-08-03T15:27:39.000Z","language":"en","languages":["en"],"available_translations":["bg","cs","de","en","es","fi","fr","he","hu","it","ja","ko","nl","pl","pt","ru","sk","tr","uk","vi","zh"],"genres":["drama","fantasy","science-fiction","horror"],"subgenres":[],"aired_episodes":0,"original_title":"Alien:
        Earth"}},{"list_count":8683,"show":{"title":"Marvel Zombies","year":2025,"ids":{"trakt":191189,"slug":"marvel-zombies","tvdb":412428,"imdb":"tt16027014","tmdb":138505,"tvrage":null},"tagline":"","overview":"The
        Marvel Universe is reimagined as a new generation of heroes battle against
        an ever-spreading zombie scourge.","first_aired":"2025-10-03T04:00:00.000Z","airs":{"day":"Friday","time":"00:00","timezone":"America/New_York"},"runtime":42,"cert[...]
