http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/settings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":984,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"0bca2940bb1baaf8a84d881978cafe45"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42","uuid":"6fa99d4e883272fb1609f3c059873af86e12a638"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}},"vip_og":false,"vip_years":11,"vip_cover_image":"https://walter.trakt.tv/images/shows/000/077/199/fanarts/full/57e6a02efb.jpg"},"account":{"timezone":"Europe/Berlin","date_format":"dmy","time_24hr":true,"cover_image":"https://walter.trakt.tv/images/shows/000/077/199/fanarts/full/57e6a02efb.jpg","token":"7a708cd94fa162478591660d981e2daa","display_ads":false},"connections":{"facebook":false,"twitter":false,"mastodon":false,"google":true,"tumblr":false,"medium":false,"slack":false,"apple":true,"dropbox":false,"microsoft":false},"sharing_text":{"watching":"Now
        watching: [item]","watched":"Just watched [item]","rated":"[item] [stars]"},"limits":{"list":{"count":9999,"item_count":10000},"watchlist":{"item_count":10000},"favorites":{"item_count":100},"search":{"recent_count":5},"collection":{"item_count":300000},"notes":{"item_count":100000},"recommendations":{"item_count":100}},"permissions":{"commenting":true,"liking":true,"following":true}}'
  recorded_at: 2025-08-04 08:06:42
recorded_with: VCR-vcr/2.0.0
