http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      etag: W/"c996be0a6b1653eb74bf95b0ce13b82b"
      last-modified: Mon, 04 Aug 2025 06:54:29 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":992,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Breaking Bad","year":2008,"ids":{"trakt":1388,"slug":"breaking-bad","tvdb":81189,"imdb":"tt0903747","tmdb":1396,"tvrage":null}}'
  recorded_at: 2025-08-04 08:06:41
- request:
    method: GET
    uri: https://api.trakt.tv/https://example.com
  response:
    status: 405
    headers:
      content-type: text/html
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":988,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
  recorded_at: 2025-08-04 08:06:41
recorded_with: VCR-vcr/2.0.0
