http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/replies?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '1'
      etag: W/"5c3ceab68243bf8785e1639f9b99ca0b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":986,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":250976,"comment":"@jemus42  That scene is honestly the only
        thing in the film that actually made me say \"Wtf...?\"","spoiler":false,"review":false,"parent_id":236397,"created_at":"2019-09-18T02:57:44.000Z","updated_at":"2019-09-18T02:57:44.000Z","replies":0,"likes":0,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":3,"completed_count":1},"user":{"username":"MisterX867","private":false,"deleted":false,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"misterx867"}}}]'
  recorded_at: 2025-08-04 08:06:41
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/replies?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '1'
      etag: W/"5c3ceab68243bf8785e1639f9b99ca0b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":986,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":250976,"comment":"@jemus42  That scene is honestly the only
        thing in the film that actually made me say \"Wtf...?\"","spoiler":false,"review":false,"parent_id":236397,"created_at":"2019-09-18T02:57:44.000Z","updated_at":"2019-09-18T02:57:44.000Z","replies":0,"likes":0,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":3,"completed_count":1},"user":{"username":"MisterX867","private":false,"deleted":false,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"misterx867"}}}]'
  recorded_at: 2025-08-04 08:06:41
recorded_with: VCR-vcr/2.0.0
