http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '2'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":981,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"587c2f4e811c3739b8a09ca6d0518e5f"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2025-08-04 08:06:42
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397/likes?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '2'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":981,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"587c2f4e811c3739b8a09ca6d0518e5f"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2019-09-15T02:43:31.000Z","user":{"username":"OvejaMecanica","private":false,"deleted":false,"name":"Laura","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ovejamecanica"}}}]'
  recorded_at: 2025-08-04 08:06:42
recorded_with: VCR-vcr/2.0.0
