http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/trending/reviews/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '3992'
      x-pagination-item-count: '39917'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":997,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"62a00727ca0e31c84ea17f3701089f90"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: "[{\"type\":\"episode\",\"episode\":{\"season\":27,\"number\":1,\"title\":\"Sermon
        on the 'Mount\",\"ids\":{\"trakt\":12960822,\"tvdb\":11064797,\"imdb\":\"tt26764413\",\"tmdb\":6090091,\"tvrage\":null}},\"show\":{\"title\":\"South
        Park\",\"year\":1997,\"ids\":{\"trakt\":2177,\"slug\":\"south-park\",\"tvdb\":75897,\"imdb\":\"tt0121955\",\"tmdb\":2190,\"tvrage\":null}},\"comment\":{\"id\":840252,\"comment\":\"[9.0/10]
        It’s been a long time since *South Park* was bold and biting. The show is
        still topical sometimes, and has the occasional barb to throw at some unwitting
        target despite being in the middle of its third decade on air. But it’s been
        quite some time since the series felt challenging, daring, even a little dangerous.\\r\\n\\r\\nThat
        changed with “Sermon on the Mount”.\\r\\n\\r\\nSuddenly, *South Park* is taking
        direct aim [...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/recent/shouts/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '66061'
      x-pagination-item-count: '660601'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":860,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"f5120f50a2b57f0c5a06566171569a87"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","show":{"title":"Star Trek: Strange New Worlds","year":2022,"ids":{"trakt":162206,"slug":"star-trek-strange-new-worlds","tvdb":382389,"imdb":"tt12327578","tmdb":103516,"tvrage":null}},"comment":{"id":844615,"comment":"The
        cringe is strong in this one. Not a single memorable character, stupid memberberries
        and fan service for retarded idiots that never watched the original Trek.\r\nFU
        Kurtzman. Suck on something.","spoiler":false,"review":false,"parent_id":0,"created_at":"2025-08-04T07:57:06.000Z","updated_at":"2025-08-04T07:57:29.000Z","replies":0,"likes":0,"user_rating":1,"language":"en","user_stats":{"rating":1,"play_count":0,"completed_count":0},"user":{"username":"jarvis-12406694","private":false,"deleted":false,"name":"Killface69","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-12406694"}}}},{"type":"movie","movie":{"title":"War
        of the Worlds","year":2025,"ids":{"trakt":595350,"slug":"war-of-the-worlds-2025-07-30","imdb":"tt13186306","tmdb":755898}},"comment":{"id":844614,"comment":"Well
        I enjoyed it. Okay, it''s not the best movie ever made but I thought it was
        original and definitely worth a watch (probably only once though).","spoiler":false,"review":false,"parent_id":0,"created_at":"2025-08-04T07:56:53.000Z","updated_at":"2025-08-04T07:56:53.000Z","replies":0,"likes":0,"user_rat[...]
- request:
    method: GET
    uri: https://api.trakt.tv/comments/updates/all/all?include_replies=FALSE&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '70052'
      x-pagination-item-count: '700518'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":824,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"2fe16ea94b8fa7[...]
