http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/comments/236397?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-item-id: '304278'
      x-item-type: movie
      last-modified: Wed, 29 Jan 2020 17:38:09 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":995,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"id":236397,"comment":"All the gun inflicted deaths in the world and
        the scene that got me was [spoiler]a casually torn-off ballet dancer''s toe
        nail.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2019-06-09T21:33:00.000Z","updated_at":"2019-06-09T21:33:00.000Z","replies":1,"likes":2,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":1,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}'
  recorded_at: 2025-08-04 08:06:41
- request:
    method: GET
    uri: https://api.trakt.tv/comments/112561?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-item-id: '2441489'
      x-item-type: episode
      last-modified: Thu, 29 Aug 2019 05:12:44 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":994,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"id":112561,"comment":"Seriously though what the f**k, Adventure Time.","spoiler":false,"review":false,"parent_id":0,"created_at":"2017-01-31T17:48:59.000Z","updated_at":"2017-01-31T17:48:59.000Z","replies":0,"likes":5,"user_rating":7,"language":"en","user_stats":{"rating":7,"play_count":1,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}'
  recorded_at: 2025-08-04 08:06:41
recorded_with: VCR-vcr/2.0.0
