http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/3/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Mon, 02 Mar 2026 03:39:36 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"watchers":68395,"plays":88474,"collectors":297798,"comments":2,"lists":141,"votes":1935}'
  recorded_at: 2026-03-02 11:33:31
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/episodes/4/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 01 Mar 2026 17:37:54 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '614'
      x-show-season-id: '2084'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"watchers":63121,"plays":84115,"collectors":287940,"comments":3,"lists":147,"votes":1385}'
  recorded_at: 2026-03-02 11:33:31
recorded_with: VCR-vcr/2.1.0
