http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/3/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      last-modified: Sun, 03 Aug 2025 19:51:32 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":831,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":80858,"plays":101923,"collectors":292142,"comments":2,"lists":144,"votes":1918}'
  recorded_at: 2025-08-04 08:06:51
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/episodes/4/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2084'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      last-modified: Sun, 03 Aug 2025 17:43:28 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":826,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":75193,"plays":96335,"collectors":282536,"comments":2,"lists":143,"votes":1370}'
  recorded_at: 2025-08-04 08:06:52
recorded_with: VCR-vcr/2.0.0
