http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      last-modified: Sun, 03 Aug 2025 04:08:51 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":993,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":1,"number":1,"title":"Pilot","ids":{"trakt":73482,"tvdb":349232,"imdb":"tt0959621","tmdb":62085,"tvrage":null}}'
  recorded_at: 2025-08-03 18:16:22
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/1?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      last-modified: Sun, 03 Aug 2025 04:50:11 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":982,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":1,"number":1,"title":"Space Pilot 3000","ids":{"trakt":38803,"tvdb":131174,"imdb":"tt0584449","tmdb":35006,"tvrage":null}}'
  recorded_at: 2025-08-03 18:16:23
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/2?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      last-modified: Sun, 03 Aug 2025 09:32:08 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":970,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"season":1,"number":2,"title":"Cat''s in the Bag...","ids":{"trakt":73483,"tvdb":349233,"imdb":"tt1054724","tmdb":62086,"tvrage":null}}'
  recorded_at: 2025-08-03 18:16:23
recorded_with: VCR-vcr/2.0.0
