http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/lists/popular?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"99147aaf10fd10f91a0c2bcfb962fb1f"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '49757'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '4976'
    body:
      string: '[{"like_count":10053,"comment_count":0,"list":{"name":"Latest Releases","description":"","privacy":"public","share_link":"https://trakt.tv/lists/3837211","type":"personal","display_numbers":false,"allow_comments":false,"sort_by":"added","sort_how":"desc","created_at":"2017-06-07T13:22:46.000Z","updated_at":"2026-03-02T06:14:56.000Z","item_count":99,"comment_count":0,"likes":10053,"ids":{"trakt":3837211,"slug":"latest-releases"},"user":{"username":"giladg","private":false,"deleted":false,"name":"G\u0026A","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"giladg"}}}},{"like_count":5698,"comment_count":6,"list":{"name":"Latest
        releases","description":"","privacy":"public","share_link":"https://trakt.tv/lists/5308818","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"added","sort_how":"desc","created_at":"2018-07-29T10:16:22.000Z","updated_at":"2026-03-02T01:59:26.000Z","item_count":249,"comment_count":6,"likes":5698,"ids":{"trakt":5308818,"slug":"latest-releases"},"user":{"username":"garycrawfo[...]
- request:
    method: GET
    uri: https://api.trakt.tv/lists/trending?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ebb3d9ba86eb5755bda979974a300d6f"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '23868'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2387'
    body:
      string: '[{"like_count":41,"comment_count":0,"list":{"name":"IMDB: Top Rat[...]
