http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/lists/popular?limit=10
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '4418'
      x-pagination-item-count: '44177'
      etag: W/"fcab52a17baf7786253abb18829ff815"
      x-ratelimit: '{"name":"UNAUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":998,"until":"2025-07-28T07:55:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"like_count":9785,"comment_count":0,"list":{"name":"Latest Releases","description":"","privacy":"public","share_link":"https://trakt.tv/lists/3837211","type":"personal","display_numbers":false,"allow_comments":false,"sort_by":"added","sort_how":"desc","created_at":"2017-06-07T13:22:46.000Z","updated_at":"2025-07-28T06:26:18.000Z","item_count":100,"comment_count":0,"likes":9785,"ids":{"trakt":3837211,"slug":"latest-releases"},"user":{"username":"giladg","private":false,"deleted":false,"name":"G\u0026A","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"giladg"}}}},{"like_count":4924,"comment_count":35,"list":{"name":"MARVEL
        Cinematic Universe","description":"**UPDATED** _2024-01-19_\n**Chronological
        order**                                                                                                             \n\n_(If
        you are new to MCU, then you should start with; Iron Man, The Incredible Hulk,\n                                                                                                    [...]
- request:
    method: GET
    uri: https://api.trakt.tv/lists/trending?limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '2308'
      x-pagination-item-count: '23080'
      etag: W/"8e1a519eaf73cd6cf608f5aaaf3eb7cc"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":993,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"like_count":39,"comment_count":0,"list":{"name":"Latest releases","description":"","privacy":"public","share_link":"https://trakt.tv/lists/5308818","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"added","sort_how":"desc","created_at":"2018-07-29T10:16:22.000Z","updated_at":"2025-08-04T03:14:53.000Z","item_count":429,"comment_count":5,"likes":4824,"ids":{"trakt":5308818,"slug":"latest-releases"},"user":{"username":"garycrawfordgc","private":false,"deleted":false,"name":"Gary","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"garycrawfordgc"}}}},{"like_count":37,"comment_count":0,"list":{"name":"Latest
        TV Shows","description":"This list is maintained by mdblist.com\nCreate your
        own: https://mdblist.com/lists/garycrawfordgc/latest-tv-shows\nUpdated at
        2025-08-04 10:00:14","privacy":"public","share_link":"https://trakt.tv/lists/20370350","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2020-12-12T22:50:52.000Z","updated_at":"2025-08-04T07:00:14.000Z","item_count":300,"comment_count":1,"likes":3275,"ids":{"trakt":20370350,"slug":"latest-tv-shows"},"user":{"username":"garycrawfordgc","private":false,"delete[...]
