http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-08T17:05:13.000Z'
      etag: W/"e9734b5437630b9622edbc9b4f5fab7a"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":999,"until":"2025-08-11T16:25:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"Arnokay25","private":false,"deleted":false,"name":null,"vip":false,"vip_ep":false,"director":false,"ids":{"slug":"arnokay25"}},{"username":"Juancar1234","private":false,"deleted":false,"name":"Juan","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"juancar1234"}},{"username":"Zandatsu","private":false,"deleted":false,"name":null,"vip":false,"vip_ep":false,"director":false,"ids":{"slug":"zandatsu"}},{"username":"jarvis-14532798","private":false,"deleted":false,"name":"João
        Noddy","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-14532798"}}]'
  recorded_at: 2025-08-11 16:37:47
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-11T16:12:42.000Z'
      etag: W/"6ceb16878399cbe619163a6d92ac2d64"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":998,"until":"2025-08-11T16:25:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"ErikaSama1438","private":false,"deleted":false,"name":"Erika
        Sama","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"erikasama1438"},"joined_at":"2025-07-27T11:30:19.000Z","location":"Brussels,
        Brussels Capital","about":"","gender":"","age":null,"images":{"avatar":{"full":"https://walter-r2.trakt.tv/images/users/015/588/406/avatars/large/2ecc4938f2.jpg"}}},{"username":"barrytestemail","private":false,"deleted":false,"name":"barry
        j","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"barrytestemail"},"joined_at":"2024-05-27T13:33:21.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/5aa125f097655fb49cb478b95ed5216c?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1485'
      x-show-updated-at: '2025-08-11T16:12:42.000Z'
      etag: W/"edcf282df1d888be01d5a6f0530a6db4"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":998,"until":"2025-08-11T16:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"ErikaSama1438","private":false,"deleted":false,"name":"Erika
        Sama","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"erikasama1438"}}]'
  recorded_at: 2025-08-11 16:37:47
- request:
    method: GET
    uri: https://api.trakt.tv/shows/game-of-thrones/seasons/1/episodes/1/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1390'
      x-show-season-id: '3963'
      x-show-updated-at: '2025-08-11T16:12:57.000Z'
      etag: W/"2b0f76a2582410f14ea310d88351bcb3"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":998,"until":"2025-08-11T16:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"Unai Aranguren","private":false,"deleted":false,"name":"Unai
        Aranguren","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"unai-aranguren"}},{"username":"Judas8100","private":false,"deleted":false,"name":"Simao
        Guerreiro","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"judas8100"}},{"username":"pazuuuuzuuuuu","private":false,"deleted":false,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"pazuuuuzuuuuu"}}]'
  recorded_at: 2025-08-11 16:37:47
recorded_with: VCR-vcr/2.0.0
