http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-03T17:13:04.000Z'
      etag: W/"2ff7dd907c8d6b2fae745b07e3ed9910"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":947,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"scottishriver","private":false,"deleted":false,"name":"Derek
        Clark","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"scottishriver"}}]'
  recorded_at: 2025-08-04 08:06:43
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"71039a590e8f1f77ee9e38b09b775df7"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":941,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"xvlka","private":false,"deleted":false,"name":"Thien
        Thach","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"xvlka"},"joined_at":"2024-01-23T08:51:35.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/0bf299e1b53d9e908bbfdca94b22e790?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Fzoidberg.png\u0026r=pg\u0026s=256"}}},{"username":"kingdrew33","private":false,"deleted":false,"name":"H00DIE","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"kingdrew33"},"joined_at":"2020-10-25T07:10:04.000Z","location":"Lakeland,
        Florida","about":null,"gender":"male","age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1485'
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"0e34f515c60176613ae1858ab8917930"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":929,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"username":"kingdrew33","private":false,"deleted":false,"name":"H00DIE","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"kingdrew33"}}]'
  recorded_at: 2025-08-04 08:06:44
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/3/episodes/19/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1479'
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"c0e9022b1f31fd350df92f85634cc32f"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":927,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-04 08:06:44
recorded_with: VCR-vcr/2.0.0
