http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      etag: W/"f4e5adb0cf4dd0f5aad4eaed9f4de226"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":982,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":8.15735,"votes":680,"distribution":{"1":1,"2":1,"3":0,"4":0,"5":28,"6":24,"7":121,"8":259,"9":119,"10":127}}'
  recorded_at: 2025-08-04 08:06:42
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/1/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1477'
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"8089cafaf6ceb507957a6af1fcb6b232"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":966,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.55795,"votes":742,"distribution":{"1":7,"2":1,"3":5,"4":8,"5":37,"6":95,"7":213,"8":195,"9":64,"10":117}}'
  recorded_at: 2025-08-04 08:06:42
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/episodes/3/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      etag: W/"dbd7960bf7f28a79785afa37277f8918"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":954,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.84411,"votes":1918,"distribution":{"1":16,"2":6,"3":3,"4":0,"5":14,"6":277,"7":433,"8":610,"9":225,"10":334}}'
  recorded_at: 2025-08-04 08:06:43
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/1/episodes/3/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1477'
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"f6a9fd8f6b80b722e1ee1e07afefd874"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":935,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.26793,"votes":1534,"distribution":{"1":16,"2":7,"3":8,"4":11,"5":55,"6":370,"7":487,"8":282,"9":89,"10":209}}'
  recorded_at: 2025-08-04 08:06:44
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/2/episodes/4/ratings
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '455'
      x-show-season-id: '1478'
      x-show-updated-at: '2025-08-03T07:31:30.000Z'
      etag: W/"99806935946de87d95bafff66ea89c61"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":915,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"rating":7.67871,"votes":996,"distribution":{"1":6,"2":5,"3":5,"4":6,"5":19,"6":143,"7":253,"8":307,"9":103,"10":148}}'
  recorded_at: 2025-08-04 08:06:45
recorded_with: VCR-vcr/2.0.0
