http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      x-pagination-page-count: '2'
      x-pagination-item-count: '20'
      etag: W/"63cc3c4989019b9e95554264f490767b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":994,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"The Simpsons","year":1989,"ids":{"trakt":455,"slug":"the-simpsons","tvdb":71663,"imdb":"tt0096697","tmdb":456,"tvrage":null}},{"title":"Rick
        and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null}},{"title":"Disenchantment","year":2018,"ids":{"trakt":126558,"slug":"disenchantment","tvdb":340234,"imdb":"tt5363918","tmdb":73021,"tvrage":null}},{"title":"Final
        Space","year":2018,"ids":{"trakt":122298,"slug":"final-space","tvdb":332353,"imdb":"tt6317068","tmdb":74387,"tvrage":null}},{"title":"South
        Park","year":1997,"ids":{"trakt":2177,"slug":"south-park","tvdb":75897,"imdb":"tt0121955","tmdb":2190,"tvrage":null}},{"title":"Family
        Guy","year":1999,"ids":{"trakt":1425,"slug":"family-guy","tvdb":75978,"imdb":"tt0182576","tmdb":1434,"tvrage":null}},{"title":"BoJack
        Horseman","year":2014,"ids":{"trakt":60730,"slug":"bojack-horseman","tvdb":282254,"imdb":"tt3398228","tmdb":61222,"tvrage":null}},{"title":"Solar
        Opposites","year":2020,"ids":{"trakt":157503,"slug":"solar-opposites","tvdb":375892,"imdb":"tt8910922","tmdb":97645,"tvrage":null}},{"title":"Gravity
        Falls","year":2012,"ids":{"trakt":39892,"slug":"gravity-falls","tvdb":259972,"imdb":"tt1865718","tmdb":40075,"tvrage":null}},{"title":"Adventure
        Time","year":2010,"ids":{"trakt":15195,"slug":"adventure-time","tvdb":152831,"imdb":"tt1305826","tmdb":15260,"tvrage":null}}]'
  recorded_at: 2025-08-04 08:06:41
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      x-pagination-page-count: '2'
      x-pagination-item-count: '20'
      etag: W/"63cc3c4989019b9e95554264f490767b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":985,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"The Simpsons","year":1989,"ids":{"trakt":455,"slug":"the-simpsons","tvdb":71663,"imdb":"tt0096697","tmdb":456,"tvrage":null},"tagline":"","overview":"Set
        in Springfield, the average American town, the show focuses on the antics
        and everyday adventures of the Simpson family; Homer, Marge, Bart, Lisa and
        Maggie, as well as a virtual cast of thousands. Since the beginning, the series
        has been a pop culture icon, attracting hundreds of celebrities to guest star.
        The show has also made name for itself in its fearless satirical take on politics,
        media and American life in general.","first_aired":"1989-12-18T01:00:00.000Z","airs":{"day":"Sunday","time":"20:00","timezone":"America/New_York"},"runtime":22,"certification":"TV-PG","country":"us","status":"returning
        series","rating":8.26793,"votes":24163,"comment_count":78,"trailer":"https://youtube.com/watch?v=_jgYEYERYFQ","homepage":"http://www.thesimpsons.com/","network":"FOX","updated_at":"2025-08-03T07:31:30.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lb","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","ta","th","tr","uk","uz","vi","zh"],"genres":["animation","comedy","family"],"subgenres":["adult-animation","parody","satire"],"aired_episodes":786,"original_title":"The
        Simpsons"},{"title":"Rick and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null},"tagline":"Science
        makes sense, family doesn''t.","overview":"Rick is a mentally-unbalanced but
        scientifically gifted old man who has recently reconnected with his family.
        He spends most of his time involving his young grandson Morty in dangerous,
        outlandish adventures throughout space and alternate[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/related?extended=min&limit=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      x-pagination-page-count: '2'
      x-pagination-item-count: '20'
      etag: W/"63cc3c4989019b9e95554264f490767b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-movie-updated-at: '2025-08-03T17:10:45.000Z'
      x-pagination-page-count: '2'
      x-pagination-item-count: '20'
      etag: W/"96b7dd766602e211d2646e73fe432ff9"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":976,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"The Matrix","year":1999,"ids":{"trakt":481,"slug":"the-matrix-1999","imdb":"tt0133093","tmdb":603}},{"title":"Interstellar","year":2014,"ids[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/related?extended=full&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-movie-updated-at: '2025-08-03T17:10:45.000Z'
      x-pagination-page-count: '2'
      x-pagination-item-count: '20'
      etag: W/"96b7dd766602e211d2646e73fe432ff9"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":971,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"The Matrix","year":1999,"ids":{"trakt":481,"slug":"the-matrix-1999","imdb":"tt0133093","tmdb":603},"tagline":"Believe
        the unbelievable.","overview":"Set in the 22nd century, The Matrix tells the
        story of a computer hacker who joins a group of underground insurgents fighting
        the vast and powerful computers who now rule the earth.","released":"1999-03-31","runtime":136,"country":"us","status":"released","rating":8.74579,"votes":69996,"comment_count":144,"trailer":"https://youtube.com/watch?v=d0XTFAMmhrE","homepage":"http://www.warnerbros.com/matrix","updated_at":"2025-08-03T16:56:57.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","bs","ca","cs","da","de","el","en","eo","es","et","fa","fi","fr","gl","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","mk","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","uz","vi","zh"],"genres":["action","science-fiction"],"subgenres":["martial-arts","cyberpunk","virtual-reality"],"certification":"R","original_title":"The
        Matrix","after_credits":false,"during_credits":false},{"title":"Interstellar","year":2014,"ids":{"trakt":102156,"slug":"interstellar-2014","imdb":"tt0816692","tmdb":157336},"tagline":"Mankind
        was born on Earth. It was never meant to die here.","overview":"The adventures
        of a group of explorers who make use of a newly discovered wormhole to surpass
        the limitations on human space travel and conquer the vast distances involved
        in an interstellar voyage.","released":"2014-11-05","runtime":169,"country":"us","statu[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/NA/related?extended=min&limit=10
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-movie-updated-at: '2025-04-08T19:25:05.000Z'
      x-pagination-page-count: '0'
      x-pagination-item-count: '0'
      etag: W/"236f423846c17cd73fe069ba9c771d55"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":915,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-04 08:06:42
recorded_with: VCR-vcr/2.0.0
