http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b8f71e011e41bcafc488929d337da789"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-01T23:43:50.000Z'
    body:
      string: '{"watchers":94913,"plays":10428535,"collectors":338131,"collected_episodes":367516,"comments":73,"lists":67952,"votes":21816,"favorited":2711,"recommended":2711}'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: movie
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"collectors":528768,"comments":256,"favorited":3643,"lists":105695,"plays":384601,"recommended":3643,"votes":123846,"watchers":276932}'
  recorded_at: 2026-03-02 11:33:31
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"768726187548ae50b2b5d80edda86216"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T06:38:59.000Z'
    body:
      string: '{"watchers":288554,"plays":17537460,"collectors":769574,"collected_episodes":842191,"comments":522,"lists":229669,"votes":115194,"favorited":15845,"recommended":15845}'
  recorded_at: 2026-03-02 11:33:31
recorded_with: VCR-vcr/2.1.0
