http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/193972/translations
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-07-31T16:55:44.000Z'
      etag: W/"45837033648df03010d19b353da7f63d"
      x-ratelimit: '{"name":"UNAUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":832,"until":"2025-08-01T08:15:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"حكاية لعبة 4","overview":"لطالما كان وودي واثقا من مكانته
        في العالم وأن أولويته هي رعاية طفله ، سواء كان ذلك آندي أو بوني. ولكن عندما
        تضيف بوني لعبة جديدة مترددة تسمى \"فوركي\" إلى غرفتها ، فإن مغامرة رحلة على
        الطريق جنبا إلى جنب مع الأصدقاء القدامى والجدد ستظهر لوودي مدى ضخامة العالم
        بالنسبة للعبة.","tagline":"مغامرة العمر.","language":"ar","country":"sa"},{"title":"Играта
        на играчките: Пътешествието","overview":"Уди винаги е бил сигурен в своето
        място на този свят и в това, че негов приоритет е да се грижи за детето, на
        което принадлежи, независимо дали това е Анди или Бони. Един ден Бони донася
        нова играчка в стаята си – направеният от нея Виличко, който определя себе
        си като „боклук“, а не като играчка. Уди се нагърбва с отговорната задача
        да му покаже защо трябва да приеме това, че е играчк[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/translations
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-02T15:05:19.000Z'
      etag: W/"f89ebf5de5b556a42bd9b0d8799c5b08"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":895,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":null,"overview":"مدرس كيمياء في مدرسة ثانوية على وشك الوفاة
        بسبب السرطان، يشترك مع طالب سابق في صناعة وبيع عقار \"الميث\" لتأمين مستقبل
        أسرته.","tagline":null,"language":"ar","country":"ae"},{"tit[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/3/translations
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-02T15:05:19.000Z'
      etag: W/"c65df98eb591b5204a0eee8d45c741b2"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":894,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"والحقيبة في النهر","overview":"يحارب والتر مع جيسي بسبب
        تعاطيه للمخدرات ، مما جعله يترك والتر بمفرده مع أسيرهما ، كريزي 8. في هذه
        الأثناء ، يمر هانك بلحظة خائفة عل[...]
