http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/190430/lists/personal/popular?limit=5&extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-movie-updated-at: '2025-08-02T06:31:27.000Z'
      x-pagination-page-count: '835'
      x-pagination-item-count: '4173'
      etag: W/"a356760a6ef3cb2417e459f32858ecfc"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":899,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Dark Comedy","description":"Delve into the twisted and subversive
        world of \"Dark Comedy\" with this collection of films that find humour in
        the most unexpected places. These movies blend sharp wit with macabre themes,
        exploring the absurdities of life, death, and everything in between. Whether
        it’s satirical takes on serious subjects, biting social commentary, or just
        a comedic spin on the darker side of human nature, this collection offers
        a unique viewing experience that’s as thought-provoking as it is entertaining.
        Perfect for those who appreciate humour with an edge, these films push boundaries
        and challenge conventions, all while keeping you laughing in the face of the
        bleakest scenarios.","privacy":"public","share_link":"https://trakt.tv/lists/30738462","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2025-02-22T18:49:52.000Z","updated_at":"2025-08-02T06:42:56.000Z","item_count":1055,"comment_count":0,"likes":9,"ids":{"trakt":30738462,"slug":"dark-comedy"},"user":{"username":"MadMapper","private":false,"deleted":false,"name":"MadMapper","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"madmapper"}}},{"name":"Movies
        Being Released on 4K UHD Blu Ray","description":"Per blu-ray.com\r\nhttp://www.blu-ray.com/movies/search.php?action=search\u0026ultrahd=1\u0026sortby=recentlyaddeddesc\r\n\r\nUPDATED
        6/17/25 (Page 221)","privacy":"public","share_link":"https://trakt.tv/lists/4608018","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"added","sort_how":"desc","created_at":"2018-03-01T18:20:12.000Z","updated_at":"2025-07-31T[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/lists/all/popular?limit=10&extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-02T07:07:05.000Z'
      x-pagination-page-count: '1184'
      x-pagination-item-count: '11839'
      etag: W/"865c6e8aefa0d8d40a3af02867cf5c3b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":884,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Sci-Fi Shows","description":"This list is maintained by mdblist.com\r\nCreate
        your own: https://mdblist.com/lists/garycrawfordg[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/lists/all/popular?limit=10&extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-02T07:07:05.000Z'
      x-pagination-page-count: '8'
      x-pagination-item-count: '76'
      etag: W/"41f131607086a7e41850eef66a8dd4a7"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":876,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"OMG! YOU HAVEN''T SEEN THIS?!","description":"My[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/seasons/1/episodes/1/lists/all/popular?limit=10&extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-02T07:07:05.000Z'
      x-pagination-page-count: '6'
      x-pagination-item-count: '54'
      etag: W/"cb81265f5d9819f42c3ff3[...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/david-tennant/lists/all/popular?limit=10&extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '5'
      x-pagination-item-count: '45'
      etag: W/"bb0d037d6518a3fd4f9ae552a56f427c"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":872,"until":"2025-08[...]
