http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/people?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-03T08:09:47.000Z'
      etag: W/"12eb6214ffd961642c23128f7dd3e0c0"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":996,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Wade Wilson, Deadpool","characters":["Wade Wilson","Deadpool"],"person":{"name":"Ryan
        Reynolds","ids":{"trakt":416707,"slug":"ryan-reynolds","imdb":"nm0005351","tmdb":10859,"tvrage":null}}},{"character":"Vanessa","characters":["Vanessa"],"person":{"name":"Morena
        Baccarin","ids":{"trakt":431157,"slug":"morena-baccarin","imdb":"nm1072555","tmdb":54882,"tvrage":null}}},{"character":"Ajax","characters":["Ajax"],"person":{"name":"Ed
        Skrein","ids":{"trakt":456186,"slug":"ed-skrein","imdb":"nm4534098","tmdb":1047649,"tvrage":null}}},{"character":"Weasel","characters":["Weasel"],"person":{"name":"T.J.
        Miller","ids":{"trakt":421412,"slug":"t-j-miller","imdb":[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      etag: W/"bb9cfd2ba3023224e4f30007aab4c853"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":989,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"episode_count":62,"person":{"name":"Bryan
        Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null}}},{"character":"Jesse
        Pinkman","characters":["Jesse Pinkman"],"episode_count":62,"person":{"name":"Aaron
        Paul","ids":{"trakt":415249,"slug":"aaron-paul","imdb":"nm0666739","tmdb":84497,"tvrage":null}}},{"character":"Skyler
        White","characters":["Skyler White"],"episode_count":62,"person":{"name":"Anna
        Gunn","ids":{"trakt":420986,[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/people?extended=min%2Cguest_stars
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      etag: W/"b7fce6a48ce3f99248716f40da9cd913"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":973,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      stri[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      etag: W/"3c64f32c456b6f784f2c7b3f32f142b9"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":965,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Walter White","characters":["Walter White"],"episode_count":7,"person":{"name":"Bryan
        Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/people?extended=min%2Cguest_stars
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      etag: W/"658fb515ecec0f37ad935d7b0be927d2"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":959,"until":"2025-08-03T13:35:00Z"}'
     [...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1/people?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      etag: W/"5112153d228046f99855b08a4f0a7844"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":950,"until":"2025-08-03T13:35:00Z"}'
      sp[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons/1/episodes/1/people?extended=min%2Cguest_stars
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      etag: W/"01823eee3077691e39830fb16200352c"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":945,"until":"2025-08-03T13:35:0[...]
