http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3601e9c2018e314fc0d0f89ab3819933"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-movie-updated-at: '2026-03-01T16:39:38.000Z'
    body:
      string: '[]'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/watching?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5bc83ae9ccf4434d68bf2761a970645c"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"Ruijsenaars","private":false,"deleted":false,"name":"Raphael
        Ruijsenaars","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"ruijsenaars"},"joined_at":"2025-07-25T21:52:58.000Z","location":"Riyadh,
        Riyadh Region","about":null,"gender":"male","age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/161c525649256c4e6fd3faa6ff6b2a21?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}},{"username":"xdtrammell","private":false,"deleted":false,"name":"xdtrammell","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"xdtrammell"},"joined_at":"2012-08-16T07:20:51.000Z","location":null,"about":null,"gender":null,"age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/7b4bb9921698e3fc7ae[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/the-simpsons/seasons/9/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"be5372eb2e6235529cf66a7adf151098"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '455'
      x-show-season-id: '1485'
      x-show-updated-at: '2026-03-02T08:03:16.000Z'
    body:
      string: '[{"username":"jarvis-12557835","private":false,"deleted":false,"name":"No
        Name","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-12557835"}},{"username":"Cyberu2","private":false,"deleted":false,"name":"Cyberu2","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"cyberu2"}},{"username":"Cosmic_Lizard","private":false,"deleted":false,"name":"Cosmic
        Lizard","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"cosmic_lizard"}},{"username":"jarvis-16205590","private":false,"deleted":false,"name":"Alejandro
        Ruiz","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jarvis-16205590"}},{"username":"GoTeamScotch","private":false,"deleted":false,"name":"Jordan
        Chase","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"goteamscotch"}}]'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/shows/game-of-thrones/seasons/1/episodes/1/watching?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"aef24bf73428d30af037567feae5eeea"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-show-id: '1390'
      x-show-season-id: '3963'
      x-show-updated-at: '2026-03-02T06:38:27.000Z'
    body:
      string: '[{"username":"rishhyt","private":false,"deleted":false,"name":"Hrishit
        Verma","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"rishhyt"}},{"username":"krmts2311","private":false,"deleted":false,"name":"javi","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"krmts2311"}},{"username":"jtang7","private":false,"deleted":false,"name":"João
        Tang","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"jtang7"}}]'
  recorded_at: 2026-03-02 11:33:31
recorded_with: VCR-vcr/2.1.0
