http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/193972/comments/newest?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-movie-updated-at: '2025-08-03T16:58:54.000Z'
      x-pagination-page-count: '7'
      x-pagination-item-count: '70'
      etag: W/"3c2c5175264482ac9dd519bde8ab9303"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":963,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: "[{\"id\":836881,\"comment\":\"This is the definition of unnecessary.
        It’s not bad, it looks good, it’s charming in its own way, and it has moments
        of heart, but it doesn’t need to exist. It kind of messes with the legacy
        of 3 by continuing a story that was already closed. Still, Forky’s a funny
        addition and the animation is gorgeous. Enjoyable enough, but easily the weakest
        entry\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2025-07-17T11:32:02.000Z\",\"updated_at\":\"2025-07-17T11:32:02.000Z\",\"replies\":0,\"likes\":0,\"user_rating\":6,\"language\":\"en\",\"user_stats\":{\"rating\":6,\"play_count\":1,\"completed_count\":1},\"user\":{\"username\":\"jacogiu\",\"private\":false,\"deleted\":false,\"name\":\"Jaco\",\"vip\":false,\"vip_ep\":false,\"director\":false,\"ids\":{\"slug\":\"jacogiu\"}}},{\"id\":811157,\"comment\":\"Toy
        Story 4 is a solid continuation, but it doesn’t quite live up to the emotional
        impact of the third one. Forky’s a fun new character, and the visuals are
        stunning, but the story feels a little less necessary. Still, it’s entertaining
        and has its own heartwarming moments. 7/10.\",\"spoiler\":false,\"review\":false,\"parent_id\":0,\"created_at\":\"2025-05-12T08:57:28.000Z\",\"updated_at\":\"2025-05-12T08:57:28.000Z\",\"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/46241/comments/likes?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-03T07:38:12.000Z'
      x-pagination-page-count: '4'
      x-pagination-item-count: '40'
      etag: W/"b23330c3cc60f6765714ef81f3109111"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":959,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":4528,"comment":"The bright colours, the haunting and melodic
        soundtrack and the excellent acting, direction and writing! This one is a
 [...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/1388/seasons/1/comments/likes?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      x-pagination-page-count: '1'
      x-pagination-item-count: '9'
      etag: W/"c4a2cb3fc1311e710340b7ccc326d6ad"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":953,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":63853,"comment":"Thus begins one of the greatest tele[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/1388/seasons/1/episodes/2/comments/likes?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '1388'
      x-show-season-id: '3950'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      x-pagination-page-count: '1'
      x-pagination-item-count: '10'
      etag: W/"143a8a33e5df1d5e657e61a0fb56a12f"
   [...]
