http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-03T17:10:45.000Z'
      etag: W/"2c890492acdd3e4104e137b7eecfc3b3"
      last-modified: Sun, 03 Aug 2025 17:10:45 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":859,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Inception","year":2010,"ids":{"trakt":16662,"slug":"inception-2010","imdb":"tt1375666","tmdb":27205}}'
  recorded_at: 2025-08-04 08:06:48
recorded_with: VCR-vcr/2.0.0
