http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/190430/aliases
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-02T06:31:27.000Z'
      etag: W/"e8c3b38060e82205390e8de086c2a7eb"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":992,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"X-Men Origins: Deadpool","country":"us"},{"title":"X-Men:
        Deadpool","country":"us"},{"title":"Deadpool","country":"br"},{"title":"Дедпул","country":"bg"},{"title":"Dedpul","country":"rs"},{"title":"Дэдпул","country":"ru"},{"title":"惡棍英雄：死侍","country":"tw"},{"title":"死侍：不死现身","country":"cn"},{"title":"X战警：死侍","country":"cn"},{"title":"Deadpool
        1","country":"us"},{"title":"Masacre","country":"es"},{"title":"데드풀","country":"kr"},{"title":"死侍","country":"cn"},{"title":"08
        Deadpool","country":"cz"},{"title":"Deadpool 01 Deadpool","country":"us"},{"title":"เดดพูล","country":"th"},{"title":"Deadpool
        1 Erase una vez Deadpool","country":"es"},{"title":"X-Men 8 - Deadpool","country":"us"},{"title":"Deadpool
        1","country":"es"},{"title":"Marvel - Deadpool 1","country":"fr"},{"title":"Deadpool
        I","country":"us"},{"title":"X-Men 8: Deadpool","country":"us"},{"title":"Deadpool
        1","country":"de"},{"title":"Deadpool 2016","country":"jp"},{"title":"Quái
        Nhân Deadpool","country":"vn"},{"title":"死侍：不死現身","country":"hk"},{"title":"死侍：不死現身","country":"tw"},{"title":"デッドプール：2016","country":"jp"},{"title":"Deadpool:
        1","country":"es"},{"title":"死侍1","country":"cn"}]'
  recorded_at: 2025-08-04 08:06:42
- request:
    method: GET
    uri: https://api.trakt.tv/shows/104439/aliases
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-07-12T06:35:06.000Z'
      etag: W/"873758797f2ed694c1b13088699df284"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":980,"until":"2025-07-12T13:15:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Очень странные дела","country":"us"},{"title":"Странные
        вещи","country":"us"},{"title":"Загадкові справи","country":"ua"},{"title":"Keisti
        dalykai","country":"lt"},{"title":"Крайне странные событ[...]
