http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/releases
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-07-26T16:27:06.000Z'
      etag: W/"b4fd917e9df273762f09d4bba9505567"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":997,"until":"2025-07-27T00:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"country":"fr","certification":"16","release_date":"2016-02-08","release_type":"premiere","note":"Paris"},{"country":"hk","certification":null,"release_date":"2016-02-09","release_type":"theatrical","note":null},{"country":"tw","certification":"15+","release_date":"2016-02-09","release_type":"theatrical","note":null},{"country":"fr","certification":"16","release_date":"2016-02-10","release_type":"theatrical","note":null},{"country":"gb","certification":"15","release_date":"2016-02-10","release_type":"theatrical","note":null},{"country":"be","certification":"18","release_date":"2016-02-10","[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/deadpool-2016/releases?country=de
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-02T06:31:27.000Z'
      etag: W/"f70884e844afc5eaa8e917cac56ba662"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":911,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"country":"de","certification":"16","release_date":"2016-02-11","release_type":"theatrical","note":null},{"country":"de","certification":"16","release_date":"2016-06-23","release_type":"physical","note":null}]'
  recorded_at: 2025-08-04 08:06:42
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/inception-2010/releases?country=de
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-movie-updated-at: '2025-08-02T15:30:43.000Z'
      etag: W/"d9b8733c0c30a5c01a4f03fe244ebdc2"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":908,"until":"2025-08-02T15:40:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"country":"de","certification":"12","release_date":"2010-07-29","release_type":"theatrical","note":null},{"country":"de","certification":"12","release_date":"2010-12-03","release_type":"physical","note":null}]'
  recorded_at: 2025-08-04 08:06:43
recorded_with: VCR-vcr/2.0.0
