http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 03 Aug 2025 08:08:42 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":924,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"name":"Bryan Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null}}'
  recorded_at: 2025-08-04 08:06:44
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 03 Aug 2025 08:08:42 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":918,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"name":"Bryan Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null},"social_ids":{"twitter":"BryanCranston","facebook":"thebryancranston","instagram":"bryancranston","wikipedia":null},"biography":"Bryan
        Lee Cranston is an American actor. After taking minor roles in television,
        he established himself as a leading actor in both comedic and dramatic works
        on stage and screen. He has received several accolades, including six Primetime
        Emmy Awards, two Golden Globe Awards, a Laurence Olivier Award, five Screen
        Actors Guild Awards, and two Tony Awards, as well as nominations for an Academy
        Award and a BAFTA Award.\n\nCranston first gained promine[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      last-modified: Sun, 03 Aug 2025 08:08:42 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":924,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"name":"Bryan Cranston","ids":{"trakt":297737,"slug":"bryan-cranston","imdb":"nm0186505","tmdb":17419,"tvrage":null}}'
  recorded_at: 2025-08-04 08:06:44
recorded_with: VCR-vcr/2.0.0
