http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: people
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"trakt":297737},"name":"Bryan
        Cranston","death":null,"gender":"male","height":179.07000732421875,"images":{"fanart":["media.trakt.tv/images/people/000/297/737/fanarts/medium/ec609f5bcc.jpg.webp"],"headshot":["media.trakt.tv/images/people/000/297/737/headshots/medium/ef96a1e565.jpg.webp"]},"birthday":"1956-03-07","homepage":null,"biography":"Bryan
        Lee Cranston (born March 7, 1956) is an American businessman, entrepreneur,
        actor, voice actor, screenwriter, director and producer. After taking minor
        roles in television, he established himself as a leading actor in both comedic
        and dramatic works on stage and screen. He has received several accolades,
        including seven Primetime Emmy Awards, a Golden Globe Award, a Laurence Olivier
        Award, and two Tony Awards, as well as nominations for an A[...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: people
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"ids":{"imdb":"nm0186505","slug":"bryan-cranston","tmdb":17419,"trakt":297737},"name":"Bryan
        Cranston","death":null,"gender":"male","height":179.07000732421875,"images":{"fanart":["media.trakt.tv/images/peo[...]
[...]
