http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston/movies?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c7f4583c3280a8024196ded4d5d74ca9"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":936,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"","characters":[],"movie":{"title":"Three Bags
        Full: A Sheep Detective Movie","year":2026,"ids":{"trakt":1060883,"slug":"three-bags-full-a-sheep-detective-movie-2026","imdb":"tt32565993","tmdb":1301421}}},{"character":"Self","characters":["Self"],"movie":{"title":"When
        We Went MAD!","year":2025,"ids":{"trakt":1097542,"slug":"when-we-went-mad-2025","imdb":"tt5194352","tmdb":1341540}}},{"character":"Buddy
        Smart","characters":["Buddy Smart"],"movie":{"title":"Everything''s Going
        to Be Great","year":2025,"ids":{"trakt":897931,"slug":"everything-s-going-to-be-great-2025","imdb":"tt27560723","tmdb":1115982}}},{"character":"Reagan","characters":["Reagan"],"movie":{"tit[...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston/movies?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c7f4583c3280a8024196ded4d5d74ca9"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":931,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"","characters":[],"movie":{"title":"Three Bags
        Full: A Sheep Detective Movie","year":2026,"ids":{"trakt":1060883,"slug":"three-bags-full-a-sheep-detective-movie-2026","imdb":"tt32565993","tmdb":1301421},"tagline":"","overview":"George
        Hardy, a shepherd who loves his sheep and raises them only for their wool.
        Every night he reads aloud a murder mystery, pretending his sheep can understand,
        never suspecting that not only can they understand, but they argue for hours
        afterwards about whodunnit. When George is found dead under mysterious circumstances,
        the sheep realise at once that it was a murder and think they know everything
        about how to go about solving it. The local cop Tim Derry, on the other hand,
        has never solved a serious crime in his life, so the sheep conclude they will
        have to solve it themselves, even if it means leaving their meadow for the
        first time and facing the fact that the human world isn’t as simple as it
        appears in books.","released":"2026-11-13","runtime":90,"country":"us","status":"post
        production","rating":1.0,"votes":1,"comment_count":0,"trailer":null,"homepage":null,"updated_at":"2025-08-03T08:09:34.000Z","language":"en","languages":["en"],"available_translations":["en"],"genres":["mystery","drama","comedy"],"subgenres":[],"certification":null,"original_title":"Three
        Bags Full: A Sheep Detective Movie","after_credits":false,"during_credits":false}},{"character":"Self","characters":["Self"],"movie":{"title":"When
        We Went MAD!","year":2025,"ids":{"trakt":1097542,"slug":"when-we-went-mad-2025","imdb":"tt5194352","tmdb":1341540},"tagline":"A
        Documentary of Ecch-ic Proportions!","overview":"A historical documentary
        and tribute to the legacy and influence of MAD Magazine featuring interviews
        with MAD celebrity readers, along with MAD artists, writers, and editors;
        affectionately known as the Usual [...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston/shows?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7e96c9e915374c6af531fa6cbc2e1f86"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":898,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"cast":[{"character":"Griffin Mill","characters":["Griffin Mill"],"episode_count":3,"series_regular":false,"show":{"title":"The
        Studio","year":2025,"ids":{"trakt":228700,"slug":"the-studio-2025","tvdb":448147,"imdb":"tt23649128","tmdb":247767,"tvrage":null}}},{"character":"Self","characters":["Self"],"episode_count":1,"series_regular":false,"show":{"title":"Who''s
        Talking to Chris Wallace?","year":2022,"ids":{"trakt":198464,"slug":"who-s-talking-to-chris-wallace-2022","tvdb":null,"imdb":null,"tmdb":210866,"tvrage":null}}},{"character":"Self
        - Narrator (voice)","characters":["Self - Narrator (voice)"],"episode_count":1,"series_regular":false,"show":{"title":"Animal","year":2021,"ids":{"trakt":189735,"slug":"animal-2021","tvdb":[...]
- request:
    method: GET
    uri: https://api.trakt.tv/people/bryan-cranston/shows?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7e96c9e915374c6af531fa6cbc2e1f86"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":888,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: "{\"cast\":[{\"character\":\"Griffin Mill\",\"characters\":[\"Griffin
        Mill\"],\"episode_count\":3,\"series_regular\":false,\"show\":{\"title\":\"The
        Studio\",\"year\":2025,\"ids\":{\"trakt\":228700,\"slug\":\"the-studio-2025\",\"tvdb\":448147,\"imdb\":\"tt23649128\",\"tmdb\":247767,\"tvrage\":null},\"tagline\":\"They
        don't make films. They make movies.\",\"overview\":\"Desperate for celebrity
        approval, the newly appointed head of a movie studio and his executive team
        at Continental Studios must juggle corporate demands with creative ambitions
        as they try to keep movies alive and relevant.\",\"first_aired\":\"2025-03-26T01:00:00.000Z\",\"airs\":{\"day\":\"Tuesday\",\"time\":\"21:00\",\"timezone\":\"America/New_York\"},\"runtime\":36,\"certification\":\"TV-MA\",\"country\":\"us\",\"status\":\"returning
        series\",\"rating\":7.66624,\"votes\":1555,\"comment_count\":25,\"trailer\":\"https://youtube.com/watch?v=EIQuE7JGXU8\",\"homepage\":\"http://tv.apple.com/show/umc.cmc.7518algxc4lsoobtsx30dqb52\",\"network\":\"Apple
        TV+\",\"updated_at\":\"2025-08-03T09:02:41.000Z\",\"language\":\"en\",\"languages\":[\"en\"],\"available_translations\":[\"ar\",\"bg\",\"cs\",\"da\",\"de\",\"el\",\"en\",\"es\",\"fa\",\"fi\",\"fr\",\"he\",\"hi\",\"hu\",\"id\",\"it\",\"ja\",\"ko\",\"lt\",\"nl\",\"no\",\"pl\",\"pt\",\"ru\",\"sk\",\"sl\",\"sv\",\"th\",\"tr\",\"uk\",\"vi\",\"zh\"],\"genres\":[\"comedy\",\"drama\"],\"subgenres\":[],\"aired_episodes\":10,\"original_title\":\"The
        Studio\"}},{\"character\":\"Self\",\"characters\":[\"Self\"],\"episode_count\":1,\"series_regular\":false,\"show\":{\"title\":\"Who's
        Talking to Chris Wallace?\",\"year\":2022,\"ids\":{\"trakt\":198464,\"slug\":\"who-s-talking-to-chris-wallace-2022\",\"tvdb\":null,\"imdb\":null,\"tmdb\":210866,\"tvrage\":null},\"tagline\":\"Discourse.
        Not discord.\",\"overview\":\"CNN anchor Chris Wallace, one of the most highly-respected
        journalists of[...]
