http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/watched/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '3572'
      x-pagination-item-count: '35716'
      etag: W/"e16c2de539c134b9beef78dcc8b7abf8"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":848,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":26664,"play_count":114317,"collected_count":6493,"collector_count":156,"show":{"title":"Rick
        and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null}}},{"watcher_count":18789,"play_count":34559,"collected_count":3691,"collector_count":0,"show":{"title":"Dexter:
        Resurrection","year":2025,"ids":{"trakt":249647,"slug":"dexter-resurrection","tvdb":452595,"imdb":"tt33043892","tmdb":259909,"tvrage":null}}},{"watcher_count":16231,"play_count":41278,"collected_count":5685,"collector_count":267,"show":{"title":"Foundation","year":2021,"ids":{"trakt":150469,"slug":"foundation-2021","tvdb":366972,"imdb":"tt0804484","tmdb":93740,"tvrage":null}}},{"watcher_count":15560,"play_count":34980,"collected_count":5488,"collector_count":652,"show":{"title":"Star
        Trek: Strange New Worlds","year":2022,"ids":{"trakt":162206,"slug":"star-trek-strange-new-worlds","tvdb":382389,"imdb":"tt12327578","tmdb":103516,"tvrage":null}}},{"watcher_count":14371,"play_count":62302,"collected_count":3970,"collector_count":403,"show":{"title":"The
        Sandman","year":2022,"ids":{"trakt":149786,"slug":"the-sandman","tvdb":366211,"imdb":"tt1751634","tmdb":90802,"tvrage":null}}},{"watcher_count":11690,"play_count":139917,"collected_count":1714,"collector_count":318,"show":{"ti[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/watched/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '8474'
      x-pagination-item-count: '84732'
      etag: W/"47aa0b35c4a12095d23d7e432c42529b"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":843,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watcher_count":18079,"play_count":20402,"collected_count":6620,"movie":{"title":"28
        Years Later","year":2025,"ids":{"trakt":885672,"slug":"28-years-later-2025","imdb":"tt10548174","tmdb":1100988}}},{"watcher_count":13496,"play_count":15594,"collected_count":1474,"movie":{"title":"Happy
        Gilmore 2","year":2025,"ids":{"trakt":1024811,"slug":"happy-gilmore-2-2025","imdb":"tt31868189","tmdb":1263256}}},{"watcher_count":6414,"play_count":7872,"collected_count":394,"movie":{"title":"Superman","year":2025,"ids":{"trakt":853702,"slug":"superman-2025","imdb":[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/played/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '4003'
      x-pagination-item-count: '40025'
      etag: W/"0cec0e723d6919f7fa9f82746eba0829"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":838,"until":"2025-08-04T08:10:00Z[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/played/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '9453'
      x-pagination-item-count: '94524'
      etag: W/"a90e8c824965132c0f403b47ed73cddb"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":833,"until":"2025-08-04T08:10:00[...]
