http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/watched/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d5554e769ec486ee2ebfb99459ea0636"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '213503'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21351'
    body:
      string: '[{"watcher_count":58753,"play_count":126563,"collected_count":9338,"collector_count":0,"show":{"title":"A
        Knight of the Seven Kingdoms","year":2026,"ids":{"trakt":204141,"slug":"a-knight-of-the-seven-kingdoms","tvdb":433631,"imdb":"tt27497448","tmdb":224372,"tvrage":null}}},{"watcher_count":34093,"play_count":90947,"collected_count":5745,"collector_count":0,"show":{"title":"The
        Pitt","year":2025,"ids":{"trakt":232884,"slug":"the-pitt","tvdb":448176,"imdb":"tt31938062","tmdb":250307,"tvrage":null}}},{"watcher_count":21597,"play_count":109024,"collected_count":2809,"collector_count":56,"show":{"title":"Bridgerton","year":2020,"ids":{"trakt":157479,"slug":"bridgerton","tvdb":366668,"imdb":"tt8740790","tmdb":91239,"tvrage":null}}},{"watcher_count":19716[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/watched/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"08f5361acadf0785c6ca4afbf1721990"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1253093'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '125310'
    body:
      string: '[{"watcher_count":12597,"play_count":16668,"collected_count":3991,"movie":{"title":"Shelter","year":2026,"ids":{"trakt":1050424,"slug":"shelter-2026","imdb":"tt32357218","tmdb":1290821}}},{"watcher_count":11677,"play_count":14828,"collected_count":688,"movie":{"title":"Mercy","year":2026,"ids":{"trakt":1000015,"slug":"mercy-2026","imdb":"tt31050594","tmdb":1236153}}},{"watcher_count":7334,"play_count":10050,"collected_count":563,"movie":{"title":"28
        Years Later: The Bone Temple","year":2026,"ids":{"trakt":1033738,"slug":"28-years-later-the-bone-temple-2026","i[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/played/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8ecc5c455dcd6d84c74d385e19841026"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '213503'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '21351'
    body:
      string: '[{"watcher_count":47,"play_count":132267,"col[...]
- request:
    method: GET
    uri: https://api.trakt.tv/movies/played/weekly?limit=10&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8ae59a20f8ffeec4a9ac2cceeea98b2d"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '1253093'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '125310'
    body:
      string: '[{"watcher_count":12597,"play_count":16668[...]
