http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '99920'
      x-pagination-item-count: '499596'
      etag: W/"4d44628d0672372c3e0fd0bfa9e2c1dd"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":991,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Deadpool","year":2016,"ids":{"trakt":190430,"slug":"deadpool-2016","imdb":"tt1431045","tmdb":293660}},{"title":"Guardians
        of the Galaxy","year":2014,"ids":{"trakt":82405,"slug":"guardians-of-the-galaxy-2014","imdb":"tt2015381","tmdb":118340}},{"title":"Interstellar","year":2014,"ids":{"trakt":102156,"slug":"interstellar-2014","imdb":"tt0816692","tmdb":157336}},{"title":"The
        Dark Knight","year":2008,"ids":{"trakt":120,"slug":"the-dark-knight-2008","imdb":"tt0468569","tmdb":155}},{"title":"Inception","year":2010,"ids":{"trakt":16662,"slug":"inception-2010","imdb":"tt1375666","tmdb":27205}}]'
  recorded_at: 2025-08-04 08:06:42
- request:
    method: GET
    uri: https://api.trakt.tv/movies/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '99920'
      x-pagination-item-count: '499596'
      etag: W/"4d44628d0672372c3e0fd0bfa9e2c1dd"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":977,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Deadpool","year":2016,"ids":{"trakt":190430,"slug":"deadpool-2016","imdb":"tt1431045","tmdb":293660},"tagline":"Feel
        the love.","overview":"The origin story of former Special Forces operative
        turned mercenary Wade Wilson, who, after being subjected to a rogue experiment
        that leaves him with accelerated healing powers, adopts the alter ego Deadpool.
        Armed with his new abilities and a dark, twisted sense of humor, Deadpool
        hunts down the man who nearly destroyed his life.","released":"2016-02-12","runtime":108,"country":"us","trailer":"https://youtube.com/watch?v=9vN6DHB6bJc","homepage":"http://www.20thcenturystudios.com/movies/deadpool","status":"released","rating":8.26400915156019,"votes":119761,"comment_count":245,"updated_at":"2025-08-03T17:13:04.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","bs","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","id","it","ja","ka","ko","lt","lv","mk","ml","nb","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","uz","vi","zh"],"genres":["action","adventure","comedy","superhero"],"subgenres":["superhero"],"certification":"R","original_title":"Deadpool","after_credits":true,"during_credits":true},{"title":"Guardians
        of the Galaxy","year":2014,"ids":{"trakt":82405,"slug":"guardians-of-the-galaxy-2014","imdb":"tt2015381","tmdb":118340},"tagline":"When
        things get bad, they''ll do their worst.","overview":"Light years from Earth,
        26 years after being abducted, Peter Quill finds himself the prime target
        of a manhunt after discovering an orb wanted by Ronan the Accuser.","released":"2014-08-01","runtime":121,"country":"us","trailer":"https://youtube.com/wa[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '26174'
      x-pagination-item-count: '130870'
      etag: W/"91d1f0f28ca9368eff27db46a754ec38"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":957,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Game of Thrones","year":2011,"ids":{"trakt":1390,"slug":"game-of-thrones","tvdb":121361,"imdb":"tt0944947","tmdb":1399,"tvrage":null}},{"title":"Breaking
        Bad","year":2008,"ids":{"trakt":1388,"slug":"breaking-bad","tvdb":81189,"imdb":"tt0903747","tmdb":1396,"tvrage":null}},{"title":"The
        Walking Dead","year":2010,"ids":{"trakt":1393,"slug":"the-walking-dead","tvdb":153021,"imdb":"tt1520211","tmdb":1402,"tvrage":null}},{"title":"The
        Big Bang Theory","year":2007,"ids":{"trakt":1409,"slug":"the-big-bang-theory","tvdb":80379,"imdb":"tt0898266","tmdb":1418,"tvrage":null}},{"title":"Stranger
        Things","year":2016,"ids":{"trakt":104439,"slug":"stranger-things","tvdb":305288,"imdb":"tt4574334","tmdb":66732,"tvrage":null}}]'
  recorded_at: 2025-08-04 08:06:43
- request:
    method: GET
    uri: https://api.trakt.tv/shows/popular?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '26174'
      x-pagination-item-count: '130870'
      etag: W/"91d1f0f28ca9368eff27db46a754ec38"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":946,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"title":"Game of Thrones","year":2011,"ids":{"trakt":1390,"slug":"game-of-thrones","tvdb":121361,"imdb":"tt0944947","tmdb":1399,"tvrage":null},"tagline":"Winter
        is coming.","overview":"Seven noble families fight for control of the mythical
        land of Westeros. Friction between the houses leads to full-scale war. All
        while a very ancient evil awakens in the farthest north. Amidst the war, a
        neglected military order of misfits, the Night''s Watch, is all that stands
        between the realms of men and icy horrors beyond.","first_aired":"2011-04-18T01:00:00.000Z","airs":{"day":"Sunday","time":"21:00","timezone":"America/New_York"},"runtime":57,"certification":"TV-MA","network":"HBO","country":"us","trailer":"https://youtube.com/watch?v=KPLWWIOCOOQ","homepage":"http://www.hbo.com/game-of-thrones","status":"ended","rating":8.904821265413954,"votes":141187,"comment_count":444,"updated_at":"2025-08-04T06:54:01.000Z","language":"en","languages":["en"],"available_translations":["ar","be","bg","bs","ca","cs","da","de","el","en","eo","es","et","fa","fi","fr","he","hr","hu","id","is","it","ja","ka","ko","lb","lt","lv","ml","nl","no","pl","pt","ro","ru","sk","sl","so","sr","sv","ta","th","tr","tw","uk","uz","vi","zh"],"genres":["fantasy","drama","action","adventure"],"subgenres":[],"aired_episodes":73,"original_title":"Game
        of Thrones"},{"title":"Breaking Bad","year":2008,"ids":{"trakt":1388,"slug":"breaking-bad","tvdb":81189,"imdb":"tt0903747","tmdb":1396,"tvrage":null},"tagline":"Change
        the equation.","overview":"Walter White, a New Mexico chemistry teacher, is
        diagnosed with Stage III cancer and given a prognosis of only two years left
        to live. He becomes filled with a sense of fearlessness and an unrelenting
        desire to secure his family''s financi[...]
