http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/search/trakt/614?type=show&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '1'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":892,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"d05ade2017d71c2c60ccdfe120c9d67e"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","score":100,"show":{"title":"Futurama","year":1999,"ids":{"trakt":614,"slug":"futurama","tvdb":73871,"imdb":"tt0149460","tmdb":615,"tvrage":null}}}]'
  recorded_at: 2025-08-03 17:07:36
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=futurama&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '1'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":890,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"fc88c18382718b9565cf236e37a3d35d"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","score":578730123365711996,"show":{"title":"Futurama","year":1999,"ids":{"trakt":614,"slug":"futurama","tvdb":73871,"imdb":"tt0149460","tmdb":615,"tvrage":null}}}]'
  recorded_at: 2025-08-03 17:07:36
- request:
    method: GET
    uri: https://api.trakt.tv/search/imdb/1?type=show&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '0'
      x-pagination-item-count: '0'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":884,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"dc58d43555333968a19335ec7dfb2fb1"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-03 17:07:36
- request:
    method: GET
    uri: https://api.trakt.tv/search/trakt/nfkwjbevkwbvkwvbqlwfbqwkjfbqkjfb?type=show&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '0'
      x-pagination-item-count: '0'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":880,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"dc58d43555333968a19335ec7dfb2fb1"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-03 17:07:37
recorded_with: VCR-vcr/2.0.0
