http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll+2019&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '1'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":920,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"f5f0dbf3b126ebaaa4b2a913b5b40fd8"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","score":1157451471441625211,"show":{"title":"Russian
        Doll","year":2019,"ids":{"trakt":141548,"slug":"russian-doll","tvdb":356640,"imdb":"tt7520794","tmdb":84977,"tvrage":null}}}]'
  recorded_at: 2025-08-03 17:07:36
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=russian+doll&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '9'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":915,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"17c4a77885368e4f628e6b92f48048a8"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"movie","score":1157451471441625211,"movie":{"title":"Russian
        Doll","year":2016,"ids":{"trakt":359123,"slug":"russian-doll-2016","imdb":"tt5138866","tmdb":511336}}},{"type":"movie","score":1157451471441625211,"movie":{"title":"Russian
        Doll","year":2001,"ids":{"trakt":169443,"slug":"russian-doll-2001","imdb":"tt0215139","tmdb":271462}}},{"type":"movie","score":1157451471441625211,"movie":{"title":"Russian
        Doll","year":2023,"ids":{"trakt":888673,"slug":"russian-doll-2023","imdb":null,"tmdb":1104655}}},{"type":"movie"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/search/movie?query=nfkwjbevkwbvkwvbqlwfbqwkjfbqkjfb&years=1100&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '0'
      x-pagination-item-count: '0'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":903,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"f70851d43fce2456c2e8a6b22ffc97b5"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-03 17:07:36
- request:
    method: GET
    uri: https://api.trakt.tv/search/show?query=russian+doll&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '3'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":897,"until":"2025-08-03T13:35:00Z"}'
      etag: W/"71b8718aa04dd81c931a2cf78b3b92e5"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"show","score":1157451471441625211,"show":{"title":"Russian
        Doll","year":2019,"ids":{"trakt":141548,"slug":"russian-doll","tvdb":356640,"imdb":"tt7520794","tmdb":84977,"tvrage":null}}},{"type":"show","score":1157451437081886841,"show":{"title":"Russian
        Dolls","year":2011,"ids":{"trakt":63958,"slug":"russian-dolls","tvdb":250959,"imdb":"tt2006560","tmdb":null,"tvrage":null}}},{"type":"show","score":1157451437081362555,"show":{"title":"Russian
        Dolls: Sex Trade","year":2005,"ids":{"trakt":62287,"slug":"russian-dolls-sex-trade","tvdb":79648,"imdb":"tt0320882","tmdb":20790,"tvrage":null}}}]'
  recorded_at: 2025-08-03 17:07:36
[...]
