http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      last-modified: Mon, 04 Aug 2025 05:30:01 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":836,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":87226,"plays":891906,"collectors":327646,"collected_episodes":351080,"comments":5,"lists":190,"votes":680}'
  recorded_at: 2025-08-04 08:06:50
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/2/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2084'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      last-modified: Mon, 04 Aug 2025 03:56:31 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":832,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"watchers":79069,"plays":1818522,"collectors":338131,"collected_episodes":360884,"comments":2,"lists":144,"votes":478}'
  recorded_at: 2025-08-04 08:06:50
recorded_with: VCR-vcr/2.0.0
