http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      etag: W/"32402e6054dd6f2887c0de43ca6db823"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":920,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"number":0,"ids":{"trakt":3949,"tvdb":439371,"tmdb":3577,"tvrage":null}},{"number":1,"ids":{"trakt":3950,"tvdb":30272,"tmdb":3572,"tvrage":null}},{"number":2,"ids":{"trakt":3951,"tvdb":40719,"tmdb":3573,"tvrage":null}},{"number":3,"ids":{"trakt":3952,"tvdb":171641,"tmdb":3575,"tvrage":null}},{"number":4,"ids":{"trakt":3953,"tvdb":297361,"tmdb":3576,"tvrage":null}},{"number":5,"ids":{"trakt":3954,"tvdb":490110,"tmdb":3578,"tvrage":null}}]'
  recorded_at: 2025-08-04 08:06:45
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad/seasons?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-04T06:54:29.000Z'
      etag: W/"3d40e8812d4254cc323e36ec73a66298"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":917,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"number":0,"ids":{"trakt":3949,"tvdb":439371,"tmdb":3577,"tvrage":null},"rating":8.20379,"votes":211,"episode_count":9,"aired_episodes":7,"title":"Specials","overview":null,"first_aired":"2009-02-18T02:00:00.000Z","updated_at":"2025-08-04T01:54:02.000Z","network":"AMC","original_title":"Specials"},{"number":1,"ids":{"trakt":3950,"tvdb":30272,"tmdb":3572,"tvrage":null},"rating":8.47045,"votes":3892,"episode_count":7,"aired_episodes":7,"title":"Season
        1","overview":"High school chemistry teacher Walter White''s life is suddenly
        transformed by a dire medical diagnosis. Street-savvy former student Jesse
        Pinkman \"teaches\" Walter a new trade.","first_aired":"2008-01-21T02:00:00.000Z","updated_at":"2025-08-04T01:54:02.000Z","network":"AMC","original_title":n[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/bvkjqbkqjbf/seasons?extended=min
  response:
    status: 404
    headers:
      content-type: text/html
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":906,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
  recorded_at: 2025-08-04 08:06:45
recorded_with: VCR-vcr/2.0.0
