http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons?extended=full%2Cepisodes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T07:38:12.000Z'
      etag: W/"46f3441dc80b139f718f16b0655924c4"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":901,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"number":1,"ids":{"trakt":56008,"tvdb":507598,"tmdb":54695,"tvrage":null},"rating":8.41714,"votes":350,"episode_count":6,"aired_episodes":6,"title":"Season
        1","overview":"When a group of strangers find themselves in possession of
        the manuscript for a legendary graphic novel, their lives brutally implode
        as they are pursued by a shadowy and murderous organisation...","first_aired":"2013-01-15T21:00:00.000Z","updated_at":"2025-08-03T23:48:37.000Z","network":"Channel
        4","original_title":null,"episodes":[{"season":1,"number":1,"title":"Episode
        1","ids":{"trakt":1405053,"tvdb":4471351,"imdb":"tt2618234","tmdb":910003,"tvrage":null},"number_abs":1,"overview":"When  five
        strangers from an online comic book forum gain possession of a  cult graphic
        novel, they find themselves pursued by a shadowy  organisation who are prepared
        to kill to track it down.","rating":8.1438,"votes":1210,"comment_count":9,"first_aired":"2013-01-15T21:00:00.000Z","updated_at":"2025-08-04T01:35:12.000Z","available_translations":["de","en","es","fr","he","nl","pl","ru"],"runtime":60,"episode_type":"series_premiere","original_title":null,"after_credits":false,"during_credits":false},{"season":1,"number":2,"title":"Episode
        2","ids":{"trakt":1405054,"tvdb":4477746,"imdb":"tt2618232","tmdb":910004,"tvrage":null},"number_abs":2,"overview":"Ian  and
        Becky are forced to face the terrifying reality of life on the run.  Meanwhile,
        Dugdale is drawn deeper and deeper into a plot that  threatens to have fatal
        consequences.","rating":8.0348,"votes":977,"comment_count":0,"first_aired":"2013-01-22T21:00:00.000Z","updated_at":"2025-08-03T07:37:42.000[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '46241'
      x-show-season-id: '56008'
      x-show-updated-at: '2025-08-03T07:38:12.000Z'
      etag: W/"32901b821801a5c7fc6b981fb53623d3"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":892,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"season":1,"number":1,"title":"Episode 1","ids":{"trakt":1405053,"tvdb":4471351,"imdb":"tt2618234","tmdb":910003,"tvrage":null},"number_abs":1,"overview":"When  five
        strangers fro[...]
