http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      etag: W/"472094c59e9fb85471a178a6cd4f1b0d"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":939,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"season":1,"number":1,"title":"Space Pilot 3000","ids":{"trakt":38803,"tvdb":131174,"imdb":"tt0584449","tmdb":35006,"tvrage":null}},{"season":1,"number":2,"title":"The
        Series Has Landed","ids":{"trakt":38804,"tvdb":131175,"imdb":"tt0756891","tmdb":35007,"tvrage":null}},{"season":1,"number":3,"title":"I,
        Roommate","ids":{"trakt":38805,"tvdb":131176,"imdb":"tt0756882","tmdb":35008,"tvrage":null}},{"season":1,"number":4,"title":"Love''s
        Labours Lost in Space","ids":{"trakt":38806,"tvdb":131177,"imdb":"tt0756885","tmdb":35009,"tvrage":null}},{"season":1,"number":5,"title":"Fear
        of a Bot Planet","ids":{"trakt":38807,"tvdb":131178,"imdb":"tt0584438","tmdb":35010,"tvrage":null}},{"season":1,"number":6,"title":"A
        Fishful of Dollars","ids":{"trakt":38808,"tvdb":131179,"imdb":"tt0584425","tmdb":35011,"tvrage":null}},{"season":1,"number":7,"title":"My
        Three Suns","ids":{"trakt":38809,"tvdb":131180,"imdb":"tt0756887","tmdb":35012,"tvrage":null}},{"season":1,"number":8,"title":"A
        Big Piece of Garbage","ids":{"trakt":38810,"tvdb":131181,"imdb":"tt0584423","tmdb":35013,"tvrage":null}},{"season":1,"number":9,"title":"Hell
        Is Other Robots","ids":{"trakt":38811,"tvdb":131182,"imdb":"tt0584441","tmdb":35014,"tvrage":null}}]'
  recorded_at: 2025-08-04 08:06:44
- request:
    method: GET
    uri: https://api.trakt.tv/shows/futurama/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-id: '614'
      x-show-season-id: '2083'
      x-show-updated-at: '2025-08-03T08:50:13.000Z'
      etag: W/"472094c59e9fb85471a178a6cd4f1b0d"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":932,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"season":1,"number":1,"title":"Space Pilot 3000","ids":{"trakt":38803,"tvdb":131174,"imdb":"tt0584449","tmdb":35006,"tvrage":null},"number_abs":1,"overview":"On
        New Year''s Eve 1999, Pizza Delivery boy Philip J. Fry accidentally falls
        into a cryogenic chamber and is frozen for 1,000 years. Finally unfrozen,
        he explores New New York, meets his new best friend (a kleptomaniacal robot
        named Bender) and goes to work for his great-great-great-great-grand-nephew''s
        space delivery business.","rating":8.11274,"votes":2599,"comment_count":5,"first_aired":"1999-03-28T07:00:00.000Z","updated_at":"2025-08-03T19:52:17.000Z","available_translations":["be","cs","de","el","en","es","fi","fr","he","hu","it","ja","ko","nl","pl","pt","ro","ru","sk","sv","uk","zh"],"runtime":22,"episode_type":"series_premiere","original_title":"Space
        Pilot 3000","after_credits":false,"during_credits":false},{"season":1,"number":2,"title":"The
        Series Has Landed","ids":{"trakt":38804,"tvdb":131175,"imdb":"tt0756891","tmdb":35007,"tvrage":null},"number_abs":2,"overview":"For
        the crew''s first mission, they must deliver a crate full of toys for an arcade
        game to the moon. Fry is very excited, while it is not really a big deal in
        the year 3000. Fry tries to persuade Leela to go exploring on the moon, while
        Amy tries to recover the keys to the Planet Express[...]
[...]
