http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons?extended=full%2Cepisodes
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      x-show-updated-at: '2026-03-02T09:44:02.000Z'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"plex":{"guid":null},"tmdb":500264,"tvdb":null,"trakt":515470},"title":"Specials","votes":0,"images":{"thumb":[],"poster":["media.trakt.tv/images/seasons/000/515/470/posters/medium/c315ae7b20.jpg.webp"]},"number":0,"rating":0,"network":null,"overview":null,"updated_at":"2026-03-02T09:44:02.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_count":4,"aired_episodes":4,"original_title":"Specials","episodes":[{"ids":{"imdb":null,"plex":{"guid":null},"tmdb":6945822,"tvdb":null,"trakt":14003928},"title":"The
        World of Utopia","votes":0,"images":{"screenshot":[]},"number":1,"rating":0,"season":0,"runtime":60,"overview":"Featurette
        from Blu-Ray of season 1 with writer Dennis Kelly","number_abs":null,"updated_at":"2026-03-01T13:54:01.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_type":"standard","after_credits":false,"comment_count":0,"during_credits":false,"original_title":"The
        World of Utopia","available_translations":["en"]},{"ids":{"imdb":null,"plex":{"guid":null},"tmdb":6945823,"tvdb":null,"trakt":14003929},"title":"Fly
        on the Wall","votes":0,"images":{"screenshot":[]},"number":2,"rating":0,"season":0,"runtime":60,"overview":"Featurette
        from Blu-Ray of season 1 with Director Marc Munden","number_abs":null,"updated_at":"2026-03-01T13:54:01.000Z","first_aired":"2013-03-11T21:00:00.000Z","episode_type":"standard","after_credits":false,"comment_count":0,"during_credits":false,"original_title":"[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/utopia/seasons/1?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      cache-tag: show
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"ids":{"imdb":"tt2618234","plex":{"guid":"5d9c1007ba6eb9001fbf63c1"},"tmdb":910003,"tvdb":4471351,"trakt":1405053},"title":"Episode
        1","votes":1214,"images":{"screenshot":["media.trakt.tv/images/episodes/00[...]
