http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T06:28:12.000Z'
      etag: W/"5abf24150d733b0af1eaf32870984887"
      last-modified: Sun, 03 Aug 2025 06:28:12 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":964,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Breaking Bad","year":2008,"ids":{"trakt":1388,"slug":"breaking-bad","tvdb":81189,"imdb":"tt0903747","tmdb":1396,"tvrage":null}}'
  recorded_at: 2025-08-03 17:07:31
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T06:51:08.000Z'
      etag: W/"886e9c25dc4767fed4ca98a2ec36d409"
      last-modified: Sun, 03 Aug 2025 06:51:08 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":958,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Dexter","year":2006,"ids":{"trakt":1396,"slug":"dexter","tvdb":79349,"imdb":"tt0773262","tmdb":1405,"tvrage":null}}'
  recorded_at: 2025-08-03 17:07:32
- request:
    method: GET
    uri: https://api.trakt.tv/shows/breaking-bad?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-02T15:05:19.000Z'
      etag: W/"7c7cef738bb2cc8dbc3121b5144034e8"
      last-modified: Sat, 02 Aug 2025 15:05:19 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":976,"until":"2025-08-02T20:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Breaking Bad","year":2008,"ids":{"trakt":1388,"slug":"breaking-bad","tvdb":81189,"imdb":"tt0903747","tmdb":1396,"tvrage":null},"tagline":"Change
        the equation.","overview":"Walter White, a New Mexico chemistry teacher, is
        diagnosed with Stage III cancer and given a prognosis of only two years left
        to live. He becomes filled with a sense of fearlessness and an unrelenting
        desire to secure his family''s financial future at any cost as he enters the
        dangerous world of drugs and crime.","first_aired":"2008-01-21T02:00:00.000Z","airs":{"day":"Sunday","time":"21:00","timezone":"America/New_York"},"runtime":42,"certification":"TV-MA","network":"AMC","country":"us","trailer":"https://youtube.com/watch?v=XZ8daibM3AE","homepage":"http://www.sonypictures.com/tv/breakingbad","status":"ended","rating":9.24911,"votes":109760,"comment_count":498,"updated_at":"2025-08-02T15:05:19.000Z","language":"en","languages":["en","de","es"],"available_translations":["ar","bg","bs","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hi","hr","hu","id","it","ja","ka","ko","lt","lv","nl","no","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"],"genres":["drama","crime","thriller"],"subgenres":["dark-comedy","tragedy","outlaw"],"aired_episodes":62,"original_title":"Breaking
        Bad"}'
  recorded_at: 2025-08-03 17:07:32
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-02T15:06:07.000Z'
      etag: W/"645b3e920e31d0b710aec937a1469260"
      last-modified: Sat, 02 Aug 2025 15:06:07 GMT
      x-ratelimit: '{"name":"UNAUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":998,"until":"2025-08-02T22:40:00Z"}'
      speculation-rules: '"/cdn-cgi/specula[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/dexter?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-show-updated-at: '2025-08-03T06:51:08.000Z'
      etag: W/"886e9c25dc4767fed4ca98a2ec36d409"
      last-modified: Sun, 03 Aug 2025 06:51:08 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":958,"until":"2025-08-03T13:35:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"title":"Dexter","year":2006,"ids":{"trakt":1396,"slug":"dexter","tvdb":79349,"imdb":"tt0773262","tmdb":1405,"tvrage":null}}'
  recorded_at: 2025-08-03 17:07:32
recorded_with: VCR-vcr/2.0.0
