http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '372'
      x-pagination-item-count: '1856'
      x-trending-user-count: '78826'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":933,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"001c64978237d1a6044d53569cf626f8"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":3001,"movie":{"title":"28 Years Later","year":2025,"ids":{"trakt":885672,"slug":"28-years-later-2025","imdb":"tt10548174","tmdb":1100988}}},{"watchers":1826,"movie":{"title":"Happy
        Gilmore 2","year":2025,"ids":{"trakt":1024811,"slug":"happy-gilmore-2-2025","imdb":"tt31868189","tmdb":1263256}}},{"watchers":1316,"movie":{"title":"War
        of the Worlds","year":2025,"ids":{"trakt":595350,"slug":"war-of-the-worlds-2025-07-30","imdb":"tt13186306","tmdb":755898}}},{"watchers":1078,"movie":{"title":"How
        to Train Your Dragon","year":2025,"ids":{"trakt":873974,"slug":"how-to-train-your-dragon-2025","imdb":"tt26743210","tmdb":1087192}}},{"watchers":1055,"movie":{"title":"Superman","year":2025,"ids":{"trakt":853702,"slug":"superman-2025","imdb":"tt5950044","tmdb":1061474}}}]'
  recorded_at: 2025-08-04 08:06:44
- request:
    method: GET
    uri: https://api.trakt.tv/movies/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '372'
      x-pagination-item-count: '1856'
      x-trending-user-count: '78826'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":924,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"4e695aea7834444cec0f4fb388206827"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":3001,"movie":{"title":"28 Years Later","year":2025,"ids":{"trakt":885672,"slug":"28-years-later-2025","imdb":"tt10548174","tmdb":1100988},"tagline":"In
        28 days it began. In 28 weeks it spread. In 28 years it evolved.","overview":"Twenty-eight
        years since the rage virus escaped a biological weapons laboratory, now, still
        in a ruthlessly enforced quarantine, some have found ways to exist amidst
        the infected. One such group lives on a small island connected to the mainland
        by a single, heavily-defended causeway. When one member departs on a mission
        into the dark heart of the mainland, he discovers secrets, wonders, and horrors
        that have mutated not only the infected but other survivors as well.","released":"2025-06-19","runtime":115,"country":"gb","trailer":"https://youtube.com/watch?v=IYGG55qwQZQ","homepage":"http://28yearslater.movie","status":"released","rating":6.62512077294686,"votes":4140,"comment_count":108,"updated_at":"2025-08-03T08:06:11.000Z","language":"en","languages":["en","sv"],"available_translations":["ar","bg","ca","cs","da","de","el","en","es","et","fa","fi","fr","he","hr","hu","it","ja","ka","ko","lt","lv","nl","pl","pt","ro","ru","sk","sl","sr","sv","th","tr","uk","vi","zh"],"genres":["horror","science-fiction","thriller"],"subgenres":["survival","zombie"],"certification":"R","original_title":"28
        Years Later","after_credits":false,"during_credits":false}},{"watchers":1826,"movie":{"title":"Happy
        Gilmore 2","year":2025,"ids":{"trakt":1024811,"slug":"happy-gilmore-2-2025","imdb":"tt31868189","tmdb":1263256},"tagline":"Happy
        Gilmore returns!","overview":"Happy Gilmore isn''t done with golf — not by
        a long shot. Since his retirement after his first Tour Championship win, Gilmore
        returns to finance his daughter''s ballet classes.","released":"2025-07-25","runtime":118,"country":"us","trailer":"https://youtube.co[...]
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5&extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '444'
      x-pagination-item-count: '2216'
      x-trending-user-count: '182630'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":913,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"3fa5155a3ae9bdfe1cc64947642f17e6"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":4784,"show":{"title":"Dexter: Resurrection","year":2025,"ids":{"trakt":249647,"slug":"dexter-resurrection","tvdb":452595,"imdb":"tt33043892","tmdb":259909,"tvrage":null}}},{"watchers":3411,"show":{"title":"Foundation","year":2021,"ids":{"trakt":150469,"slug":"foundation-2021","tvdb":366972,"imdb":"tt0804484","tmdb":93740,"tvrage":null}}},{"watchers":3102,"show":{"title":"The
        Sandman","year":2022,"ids":{"trakt":149786,"slug":"the-sandman","tvdb":366211,"imdb":"tt1751634","tmdb":90802,"tvrage":null}}},{"watchers":2721,"show":{"title":"The
        Institute","year":2025,"ids":{"trakt":238108,"slug":"the-institute","tvdb":451177,"imdb":"tt10946316","tmdb":253372,"tvrage":null}}},{"watchers":2560,"show":{"title":"Resident
        Alien","year":2021,"ids":{"trakt":153575,"slug":"resident-alien","tvdb":368166,"imdb":"tt8690918","tmdb":96580,"tvrage":null}}}]'
  recorded_at: 2025-08-04 08:06:45
- request:
    method: GET
    uri: https://api.trakt.tv/shows/trending?limit=5&extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-pagination-page: '1'
      x-pagination-limit: '5'
      x-pagination-page-count: '444'
      x-pagination-item-count: '2216'
      x-trending-user-count: '182630'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":907,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"22b343e76bbceb238775decdf62d838b"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"watchers":4784,"show":{"title":"Dexter: Resurrection","year":2025,"ids":{"trakt":249647,"slug":"dexter-resurrection","tvdb":452595,"imdb":"tt33043892","tmdb":259909,"tvrage":null},"tagline":"He''s
        alive \u0026 killing it.","overview":"Dexter Morgan awakens from a coma to
        find Harrison gone without a trace. Realizing the weight of what he put his
        son through, Dexter sets out for New York City, determined to find him and
        make things right. But closure won''t come easy. When Miami Metro''s Angel
        Batista arrives with questions, Dexter realizes his past is catching up to
        him fast. As father and son navigate their own darkness in the city that never
        sleeps, they soon find themselves deeper than they ever imagined - and that
        the only way out is together.","first_aired":"2025-07-14T00:00:00.000Z","airs":{"day":"Sunday","time":"20:00","timezone":"America/New_York"},"runtime":50,"certification":"TV-MA","network":"Paramount+
        with Showtime","country":"us","trailer":"https://youtube.com/watch?v=84o1Q6fB20k","homepage":"http://www.paramountplus.com/shows/dexter-resurrection/","status":"returning
        series","rating":8.572602739726028,"votes":365,"comment_count":22,"updated_at":"2025-08-03T16:55:35.000Z","language":"en","languages":["en"],"available_translations":["ar","bg","cs","de","en","es","fa","fr","he","hu","it","ko","nl","pl","pt","ru","sk","sv","tr","uk","vi","zh"],"genres":["crime","drama"],"subgenres":[],"aired_episodes":5,"original_title":"Dexter:
        Resurrection"}},{"watchers":3411,"show":{"title":"Foundation","year":2021,"ids":{"trakt":150469,"slug":"foundation-2021","tvdb":366972,"imdb":"tt0804484","tmdb":93740,"tvrage":null},"tagline":"No
        future lasts forever.","overview":"Follow a band of exiles on their monumental
        journey to save humanity and rebuild civilization amid the fall of the Galactic
        Empire.","first_aired":"2021-09-24T01:00:00.000Z","airs":{"day":"Thursday","time":"21[...]
