http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/shows?extended=min&limit=10
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '2150'
      x-pagination-item-count: '21497'
      etag: W/"37de5088f30b84c3b276fd5564bf37e8"
      last-modified: Thu, 31 Jul 2025 21:33:36 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":891,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":11101809981,"watched_at":"2025-07-31T21:33:36.000Z","action":"scrobble","type":"episode","episode":{"season":17,"number":5,"title":"The
        Gang Goes to a Dog Track","ids":{"trakt":13272363,"tvdb":11200017,"imdb":"tt35252527","tmdb":6352226,"tvrage":null}},"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}}},{"id":11101286446,"watched_at":"2025-07-31T19:41:30.000Z","action":"checkin","type":"episode","episode":{"season":7,"number":9,"title":"Who
        Wants to Be...?","ids":{"trakt":12936902,"tvdb":null,"imdb":null,"tmdb":6071739,"tvrage":null}},"show":{"title":"Game
        Changer","year":2019,"ids":{"trakt":153142,"slug":"game-changer","tvdb":369988,"imdb":"tt11011104","tmdb":129412,"tvrage":null}}}[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/history/movies?extended=min&limit=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '77'
      x-pagination-item-count: '770'
      etag: W/"283ffe5a4526fea2872ded4fb026b4e0"
      last-modified: Sun, 03 Aug 2025 22:54:25 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":889,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":11112019031,"watched_at":"2025-08-03T22:54:25.000Z","action":"scrobble","type":"movie","movie":{"title":"Vulcanizadora","year":2024,"ids":{"trakt":909630,"slug":"vulcanizadora-2024","imdb":"tt28226888","tmdb":1130188}}},{"id":11111629790,"watched_at":"2025-08-03T21:08:02.000Z","action":"scrobble","type":"movie","movie":{"title":"The
        Death of Dick Long","year":2019,"ids":{"trakt":415278,"slug":"the-death-of-dick-long-2019","imdb":"tt9356952","tmdb":565383}}},{"id":11067385959,"watched_at":"2025-07-20T22:06:06.000Z","action":"scrobble","type":"movie","movie":{"title":"The
        Ph[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/history/shows?extended=min&limit=2
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '2'
      x-pagination-page-count: '32109'
      x-pagination-item-count: '64218'
      etag: W/"02cb8449bf02c26e59b094e345ea631f"
      last-modified: Sat, 02 Aug 2025 05:02:31 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":879,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":11106424600,"watched_at":"2025-08-02T05:02:31.000Z","action":"scrobble","type":"episode","episode":{"season":1,"number":5,"title":"Murder
        Horny","ids":{"trakt":12853595,"tvdb":11148584,"imdb":"tt36351470","tmdb":6201595,"tvrage":null}},"show":{"title":"Dexter:
        Resurrection","year":2025,"ids":{"trakt":249647,"slug":"dexter-resurrection","tvdb":452595,"imdb":"tt33043892","tmdb":259909,"tvrage":null}}},{"id":11099421463,"watched_at":"2025-07-31T06:37:08.000Z","action":"scrobble","type":"episode","episode":{"season":8,"number":10,"title":"Hot
        Rick","ids":{"trakt":12993653,"tvdb":11077165,"imdb":"tt36329671","tmdb":6122210,"tvrage":null}},"show":{"title":"Rick
        and Morty","year":2013,"ids":{"trakt":69829,"slug":"rick-and-morty","tvdb":275274,"imdb":"tt2861424","tmdb":60625,"tvrage":null}}}]'
  recorded_at: 2025-08-04 08:06:47
recorded_with: VCR-vcr/2.0.0
