http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"38b6517bf595f7d7589f7da58a5f0fa0"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e767295b1b965f6e802181b7e61365be"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}}'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4878f67eaa890c14fc61577df419c4e3"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"sean","private":false,"deleted":false,"name":"Sean Rudford","vip":true,"vip_ep":true,"director":true,"ids":{"slug":"sean"}}'
  recorded_at: 2026-03-02 11:33:31
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"135e880540de271bd97022135a523bf6"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-03-02 11:33:32
recorded_with: VCR-vcr/2.1.0
