http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/stats
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":845,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"9d6b977d478026ec7451abfbe54f29da"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"movies":{"plays":770,"watched":709,"minutes":88146,"collected":2907,"ratings":611,"comments":0},"shows":{"watched":562,"collected":1073,"ratings":387,"comments":0},"seasons":{"ratings":194,"comments":0},"episodes":{"plays":21497,"watched":19798,"minutes":697754,"collected":35270,"ratings":10019,"comments":0},"network":{"friends":17,"followers":58,"following":34},"ratings":{"total":11211,"distribution":{"1":188,"2":0,"3":9,"4":38,"5":273,"6":1333,"7":4078,"8":3915,"9":1212,"10":165}}}'
  recorded_at: 2025-08-04 08:06:49
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/stats
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":842,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"8b0179b73d297e1ac3b8cc6ba1786cd4"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"movies":{"plays":2309,"watched":1778,"minutes":256447,"collected":3198,"ratings":157,"comments":0},"shows":{"watched":814,"collected":849,"ratings":98,"comments":0},"seasons":{"ratings":0,"comments":0},"episodes":{"plays":64217,"watched":25303,"minutes":1946550,"collected":28105,"ratings":6,"comments":0},"network":{"friends":46,"followers":352,"following":52},"ratings":{"total":261,"distribution":{"1":8,"2":2,"3":4,"4":6,"5":14,"6":14,"7":17,"8":43,"9":48,"10":105}}}'
  recorded_at: 2025-08-04 08:06:49
recorded_with: VCR-vcr/2.0.0
