http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/all?include_replies=FALSE
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '2'
      x-pagination-item-count: '17'
      etag: W/"571b177e072de4e39f7eaf79b2cb14f0"
      last-modified: Mon, 21 Jul 2025 15:33:49 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":925,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"type":"episode","episode":{"season":2,"number":6,"title":"Episode
        6","ids":{"trakt":3871261,"tvdb":7488861,"imdb":"tt9699196","tmdb":1997016,"tvrage":null}},"show":{"title":"Sex
        Education","year":2019,"ids":{"trakt":140590,"slug":"sex-education","tvdb":356317,"imdb":"tt7767422","tmdb":81356,"tvrage":null}},"comment":{"id":278788,"comment":"[spoiler]As
        someone who has a hard time watching awkward stuff, this was excruciatingly
        painful to watch. \r\nIf someone is wondering about the definition of the
        German word \"Fremdscham\" – this is it.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2020-02-11T14:44:22.000Z","updated_at":"2020-02-11T14:44:22.000Z","replies":0,"likes":4,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":1,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}},{"type":"movie","movie":{"title":"John
        Wick: Chapter 3 - Parabellum","year":2019,"ids":{"trakt":304278,"slug":"john-wick-chapter-3-parabellum-2019","imdb":"tt6146586","tmdb":458156}},"comment":{"id":236397,"comment":"All
        the gun inflicted deaths in the world and the scene that got me was [spoiler]a
        casually torn-off ballet dancer''s toe nail.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2019-06-09T21:33:00.000Z","updated_at":"2019-06-09T21:33:00.000Z","replies":1,"likes":2,"user_rating":8,"language[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/movies?include_replies=FALSE
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '5'
      etag: W/"b8155d805183bea45d09bb33292500b9"
      last-modified: Mon, 05 Jun 2023 02:30:49 GMT
      x-ratelimit: '{"name":"AUTHE[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sofakissen/comments/all/all?include_replies=FALSE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '0'
      x-pagination-item-count: '0'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":914,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"07f1649006f4e9b15a14e1f4b669b4a4"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[]'
  recorded_at: 2025-08-04 08:06:45
recorded_with: VCR-vcr/2.0.0
