http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":909,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"ea40fe2b6c336e50389b6974c6c51d75"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2025-08-04 08:06:45
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":903,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"16dafb6617a99c674716457cd3a67ec7"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}}'
  recorded_at: 2025-08-04 08:06:45
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":898,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"9a47e61ef9eee62bf18692f287032ab4"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"sean","private":false,"deleted":false,"name":"Sean Rudford","vip":true,"vip_ep":true,"director":true,"ids":{"slug":"sean"}}'
  recorded_at: 2025-08-04 08:06:46
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":895,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"e6a6274c2e16fc8f40e8392d832725c3"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2025-08-04 08:06:46
recorded_with: VCR-vcr/2.0.0
