http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/donxy/lists/1248149/comments/newest?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '4'
      x-pagination-item-count: '34'
      x-list-id: '1248149'
      etag: W/"61acecb683987de5d00bbb042d4bf584"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":912,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"id":775285,"comment":"Thanks for the list mate. Appreciate it. Cheers.","spoiler":false,"review":false,"parent_id":0,"created_at":"2025-02-18T15:53:18.000Z","updated_at":"2025-02-18T15:53:18.000Z","replies":0,"likes":0,"user_rating":null,"language":"en","user_stats":{"rating":null,"play_count":0,"completed_count":0},"user":{"username":"YourFiore","private":false,"deleted":false,"name":"Fiona
        Rose","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"yourfiore"}}},{"id":731108,"comment":"Does
        anybody know any in-universe explanation for Thor Ragnarok to be placed alongside
        Season 5 of Agents of Shield? Thank you!","spoiler":false,"review":false,"parent_id":0,"created_at":"2024-11-02T12:24:14.000Z","updated_at":"2024-11-02T12:24:14.000Z","replies":0,"likes":0,"user_rating":null,"language":"en","user_stats":{"rating":null,"play_count":0,"completed_count":0},"user":{"username":"Alsidsds","private":false,"deleted":false,"name":"[...]
