http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"1fcb43c1cc13fdece9245818e608774c"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":910,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Anime of 2020","description":"Just for keeping track.","privacy":"private","share_link":"https://trakt.tv/lists/10765320","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"added","sort_how":"desc","created_at":"2020-01-15T16:15:18.000Z","updated_at":"2021-12-24T22:30:22.000Z","item_count":5,"comment_count":0,"likes":0,"ids":{"trakt":10765320,"slug":"anime-of-2020"},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}},{"name":"Power
        Rankings! Dramas (March 2018)","description":"Tim Goodman''s Power Rankings,
        as seen on https://www.hollywoodreporter.com/lists/power-rankings-dramas-you-need-watch-1089824","privacy":"public","share_link":"https://trakt.tv/lists/4617686","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2018-03-05T02:58:24.000Z","updated_at":"2019-08-29T11:25:17.000Z","item_count":20,"com[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"1fcb43c1cc13fdece9245818e608774c"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":905,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"name":"Anime of 2020","description":"Just for keeping track.","privacy":"private","share_link":"https://trakt.tv/lists/10765320","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"added","sort_how":"desc","created_at":"2020-01-15T16:15:18.000Z","updated_at":"2021-12-24T22:30:22.000Z","item_count":5,"comment_count":0,"likes":0,"ids":{"trakt":10765320,"slug":"anime-of-2020"},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"},"joined_at":"2012-08-01T18:28:30.000Z","location":"Germany","about":"","gender":"male","age":34,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/d7e7de7b124101ee2285ca6fcc426a9a?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Ffry.png\u0026r=pg\u0026s=256"}}}},{"name":"Power
        Rankings! Dramas (March 2018)","description":"Tim Goodman''s Power Rankings,
        as seen on https://www.hollywoodreporter.com/lists/power-rankings-dramas-you-need-watch-1089824","privacy":"public","share_link":"https://trakt.tv/lists/4617686","type":"personal","display_numbers":true,"allow_comme[...]
