http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/collection/shows?extended=
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"2672fd827db78fa7bb2ae011e8e47629"
      last-modified: Mon, 04 Aug 2025 04:16:30 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":819,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"last_collected_at":"2025-08-04T04:16:28.000Z","last_updated_at":"2025-08-04T04:16:30.000Z","show":{"title":"Last
        Week Tonight with John Oliver","year":2014,"ids":{"trakt":60267,"slug":"last-week-tonight-with-john-oliver","tvdb":278518,"imdb":"tt3530232","tmdb":60694,"tvrage":null}},"seasons":[{"number":6,"episodes":[{"number":1,"collected_at":"2020-02-20T20:33:11.000Z"},{"number":2,"collected_at":"2020-02-20T20:33:16.000Z"},{"number":3,"collected_at":"2020-02-20T20:33:18.000Z"},{"number":4,"collected_at":"2020-02-20T20:33:20.000Z"},{"number":5,"collected_at":"2020-02-20T20:33:24.000Z"},{"number":6,"collected_at":"2020-02-20T20:33:27.000Z"},{"number":7,"collected_at":"2020-02-20T20:33:30.000Z"},{"number":11,"collected_at":"2020-02-20T20:33:45.000Z"},{"number":12,"collected_at":"2020-02-20T20:33:47.000Z"},{"number":8,"collected_at":"20[...]
