http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watched/shows?extended=%2Cnoseasons
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-sort-by: plays
      x-sort-how: desc
      etag: W/"99159c6c2cea2a1fcac4b91ec4680ab2"
      last-modified: Tue, 12 Aug 2025 05:57:07 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":994,"until":"2025-08-12T14:30:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"plays":444,"last_watched_at":"2025-08-12T05:57:07.000Z","last_updated_at":"2025-08-12T05:57:07.000Z","reset_at":"2025-05-15T05:44:13.000Z","show":{"title":"Arrested
        Development","year":2003,"ids":{"trakt":4565,"slug":"arrested-development","tvdb":72173,"imdb":"tt0367279","tmdb":4589,"tvrage":null}}},{"plays":1630,"last_watched_at":"2025-08-10T06:17:41.000Z","last_updated_at":"2025-08-10T09:54:10.000Z","reset_at":null,"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}}},{"plays":408,"last_watched_at":"2025-08-10T05:11:16.000Z","last_updated_at":"2025-08-10T05:11:17.000Z","reset_at":null,"show":{"title":"Last
        Week Tonight with John Oli[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watched/shows?extended=
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-sort-by: plays
      x-sort-how: desc
      etag: W/"99159c6c2cea2a1fcac4b91ec4680ab2"
      last-modified: Tue, 12 Aug 2025 05:57:07 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":989,"until":"2025-08-12T14:30:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"plays":444,"last_watched_at":"2025-08-12T05:57:07.000Z","last_updated_at":"2025-08-12T05:57:07.000Z","reset_at":"2025-05-15T05:44:13.000Z","show":{"title":"Arrested
        Development","year":2003,"ids":{"trakt":4565,"slug":"arrested-development","tvdb":72173,"imdb":"tt0367279","tmdb":4589,"tvrage":null}},"seasons":[{"number":1,"episodes":[{"number":1,"plays":4,"last_watched_at":"2025-05-15T06:06:16.000Z"},{"number":2,"plays":6,"last_watched_at":"2025-05-15T06:27:51.000Z"},{"number":3,"plays":6,"last_watched_at":"2025-05-16T05:54:44.000Z"},{"number":4,"plays":7,"last_watched_at":"2025-05-23T06:13:08.000Z"},{"number":5,"plays":7,"last_watched_at":"2025-05-23T06:34:52.000Z"},{"number":6,"plays":6,"last_watched_at":"2025-05-25T06:22:08.000Z"},{"number":7,"plays":7,"last_watched_at":"2025-05-26T05:52:26.000Z"},{"number":8,"plays":9,"[...]
