http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/likes/comments
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '10'
      etag: W/"3e6cf078f757fd8497789eb41a2d5909"
      last-modified: Mon, 13 Jan 2025 22:52:57 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":922,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2025-01-13T22:52:57.000Z","type":"comment","comment":{"id":140586,"comment":"Headcanon:
        Lady Christina de Souza is _actually_ [spoiler]an earlier regeneration of
        River Song[/spoiler]","spoiler":true,"review":false,"parent_id":0,"created_at":"2017-09-09T01:47:03.000Z","updated_at":"2017-09-09T01:47:03.000Z","replies":0,"likes":8,"user_rating":null,"language":"en","user_stats":{"rating":null,"play_count":2,"completed_count":1},"user":{"username":"morphinapg","private":false,"deleted":false,"name":"Andy
        Gilleand","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"morphinapg"}}}},{"liked_at":"2024-09-08T23:10:24.000Z","type":"comment","comment":{"id":676228,"comment":"Never
        been read harder than when my little brother saw this and said ‘I really liked
        it but YOU’LL love it’. This must be how some trans people felt seeing the
        Matrix, feeling seen, feeling called out, a generational disillusionment and
        a deep dysphoria acknowledged. But The Matrix is a power fantasy by directors
        who love to ape black aesthetics but h[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/likes/lists
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '10'
      x-pagination-page-count: '1'
      x-pagination-item-count: '3'
      etag: W/"1a51c591a6fad594f2a9506102d68f1e"
      last-modified: Fri, 13 Oct 2023 22:51:43 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":918,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"liked_at":"2023-10-13T22:51:43.000Z","type":"list","list":{"name":"Treehouse
        of Horror","description":"All the Simpsons Halloween specials.","privacy":"public","share_link":"https://trakt.tv/lists/19842305","type":"personal","display_numbers":false,"allow_comments":true,"sort_by":"released","sort_how":"desc","created_at":"2020-10-02T17:55:46.000Z","updated_at":"2025-07-22T14:04:17.000Z","item_count":35,"comment_count":0,"likes":73,"ids":{"trakt":19842305,"slug":"treehouse-of-horror"},"user":{"username":"christhebaker","private":false,"deleted":false,"name":"Chris
        Baker","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"christhebaker"}}}},{"liked_at":"2019-10-10T19:00:23.000Z","type":"list","list":{"name":"Rotten
        Tomatoes: Top 100 Movies Of All Time","description":"https://www.rottentomatoes.com/top/bestofrt/?cmp=FBRT_Top100Films\r\n\r\nUPDATED:
        3/28/22\r\n\r\nNOTE: It appears Rotten Tomatoes has removed this list. There
        will not be any future updates to this list.","privacy":"public","share_link":"https://trakt.tv/lists/3785062","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2017-05-23T18:06:05.000Z","updated_at":"2025-08-02T10:33:39.000Z","item_count":100,"comment_count":0,"likes":546,"ids":{"trakt":3785062,"slug":"rotten-tomatoes-top-100-movies-of-all-time"},"user":{"username":"lish408","private":false,"deleted":false,"name":"LISH","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"lish408"}}}},{"liked_at":"2019-10-10T18:59:40.000Z","type":"list","list":{"name":"IMDB
        Most Popular TV Series","description":"Most Popular TV Series With At Least
        5,000 Votes","privacy":"public","share_link":"https://trakt.tv/lists/851496","type":"personal","display_numbers":true,"allow_comments":true,"sort_by":"rank","sort_how":"asc","created_at":"2014-09-11T21:05:08.000Z","updated_at":"2023-12-15T10:17:55.000Z","item_count":50,"comment_count":0,"likes":24,"ids":{"trakt":851496,"slug":"imdb-most-popular-tv-series"},"user":{"username":"hulkhorgen","private":false,"deleted":false,"name":null,"vip":false,"vip_ep":false,"director":false,"ids":{"slug":"hulkhorgen"}}}}]'
  recorded_at: 2025-08-04 08:06:45
recorded_with: VCR-vcr/2.0.0
