http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/collection/shows?extended=
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"207dbabcf821e60276b84b647cfe9370"
      last-modified: Tue, 12 Aug 2025 09:50:51 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":981,"until":"2025-08-12T14:30:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"last_collected_at":"2025-08-11T12:00:58.000Z","last_updated_at":"2025-08-12T09:45:52.000Z","show":{"title":"The
        Institute","year":2025,"ids":{"trakt":238108,"slug":"the-institute","tvdb":451177,"imdb":"tt10946316","tmdb":253372,"tvrage":null}},"seasons":[{"number":1,"episodes":[{"number":1,"collected_at":"2025-07-22T02:12:16.000Z"},{"number":2,"collected_at":"2025-07-22T02:04:46.000Z"},{"number":3,"collected_at":"2025-07-22T02:04:46.000Z"},{"number":4,"collected_at":"2025-07-27T04:43:42.000Z"},{"number":5,"collected_at":"2025-08-03T04:15:55.000Z"},{"number":6,"collected_at":"2025-08-11T12:00:58.000Z"}]}]},{"last_collected_at":"2025-08-11T12:00:56.000Z","last_updated_at":"2025-08-12T09:50:51.000Z","show":{"title":"Twisted
        Metal","year":2023,"ids":{"trakt":188204,"slug":"twisted-metal","tv[...]
