http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/followers?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"02aef90a406565045e0dba81016710a0"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":893,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15:59.000Z","user":{"username":"sofakissen","private":false,"deleted":true,"name":"Daniel","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"sofakissen"}}},{"followed_at":"2012-08-03T21:52:54.000Z","user":{"username":"Farthen","private":false,"deleted":true,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"farthen"}}},{"followed_at":"2012-11-26T15:41:11.000Z","user":{"username":"lsanoj","private":false,"deleted":false,"name":"Jonas","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"lsanoj"}}},{"followed_at":"2012-11-26T15:41:13.000Z","user":{"username":"viirus","private":false,"deleted":false,"name":"","v[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/followers?extended=full
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"02aef90a406565045e0dba81016710a0"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":887,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15:59.000Z","user":{"username":"sofakissen","private":false,"deleted":true,"name":"Daniel","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"sofakissen"},"joined_at":"2012-02-20T19:29:09.000Z","location":"","about":"","gender":"","age":null,"images":{"avatar":{"full":"https://secure.gravatar.com/avatar/a25a2f83126e9b9eab21e367dc014e02?d=https%3A%2F%2Fwalter-r2.trakt.tv%2Fhotlink-ok%2Fplaceholders%2Fmedium%2Fzoidberg.png\u0026r=pg\u0026s=256"}}}},{"followed_at":"2012-08-03T21:52:54.000Z","user":{"username":"Farthen","private":false,"deleted":true,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"farthen"},"joined_at":"2012-07-07T10:23:38.000Z","location":"","about":"","gender":"","age":32,"images":{"avatar":{"full":"https://secure.gravatar.[...]
[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/following?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"c867af9db2b6a5a992c1f5436a0222dd"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":871,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"followed_at":"2012-08-03T19:15[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/friends?extended=min
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      etag: W/"a87d686201fad4dc71c61ed19ea78dc4"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":868,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"friends_at":"2012-08-03T19:15:59.000Z","user":{"username":"sofakissen","private":false,"deleted":true,"name":"Daniel","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"sofakissen"}}},{"friends_at":"2012-08-03T21:52:54.000Z","user":{"username":"Farthen","private":false,"deleted":true,"name":"","vip":false,"vip_ep":false,"director":false,"ids":{"slug":"farthen"}}},{"friends_at":"2012-11-26T15:41:11.000Z","user":{"username":"lsanoj","private":false,"deleted":false,"name":"Jonas","vip":false,"vip_ep":f[...]
