http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/all?include_replies=FALSE
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c11312df100dc8183a4b963d4e93ca2c"
      last-modified: Mon, 05 Jan 2026 13:20:49 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '18'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '2'
      x-private-user: 'false'
    body:
      string: '[{"type":"episode","episode":{"season":1,"number":1,"title":"Pilot","ids":{"trakt":9492805,"tvdb":9792791,"imdb":"tt27102157","tmdb":4447673,"tvrage":null}},"show":{"title":"High
        Potential","year":2024,"ids":{"trakt":205414,"slug":"high-potential","tvdb":434988,"imdb":"tt22091076","tmdb":226637,"tvrage":null}},"comment":{"id":874578,"comment":"I''ve
        seen the \"character has done the math exactly in time for checkout at the
        grocery store to really drive the point home that they''re very smart\" shtick
        so often I''ve lost count.\n\nApart from that, I''m kind of in the mood for
        a neat little cop-not-a-cop procedural, it''s been a while.","spoiler":false,"review":false,"parent_id":0,"created_at":"2025-10-17T21:44:43.000Z","updated_at":"2025-10-17T21:45:27.000Z","replies":0,"likes":0,"user_rating":null,"language":"en","user_stats":{"rating":null,"play_count":1,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}},{"type":"episode","episode":{"season":2,"number":6,"title":"Episode
        6","ids":{"trakt":3871261,"tvdb":7488861,"imdb":"tt9699196","tmdb":1997016,"tvrage":null}},"show":{"title":"Sex
        Education","year":2019,"ids":{"trakt":140590,"slug":"sex-education","tvdb":356317,"imdb":"tt7767422","tmdb":81356,"tvrage":null}},"comment":{"id":278788,"comment":"[spoiler]As
        someone who has a hard time watching awkward stuff, this was excruciatingly
        painful to watch. \r\nIf someone is wondering about the definition of the
        German word \"Fremdscham\" – this is it.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2020-02-11T14:44:22.000Z","updated_at":"2020-02-11T14:44:22.000Z","replies":0,"likes":4,"user_rating":8,"language":"en","user_stats":{"rating":8,"play_count":2,"completed_count":1},"user":{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}}},{"type":"movie","movie":{"title":"John
        Wick: Chapter 3 - Parabellum","year":2019,"ids":{"trakt":304278,"slug":"john-wick-chapter-3-parabellum-2019","imdb":"tt6146586","tmdb":458156}},"comment":{"id":236397,"comment":"All
        the gun inflicted deaths in the world and the scene that got me was [spoiler]a
        casually torn-off ballet dancer''s toe nail.[/spoiler]","spoiler":false,"review":false,"parent_id":0,"created_at":"2019-06-09T21:33:00.000Z","updated_at":"2019-06-09T21:33:00.000Z","replies":1,"likes":2,"user_rating":8,"language[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/comments/all/movies?include_replies=FALSE
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"70967d72874e89da9f5978d1578337f5"
      last-modified: Sun, 14 Sep 2025 11:27:52 GMT
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '5'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '1'
      x-privat[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sofakissen/comments/all/all?include_replies=FALSE
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6d8ba41d837f761cae72c4712f367322"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-pagination-item-count: '0'
      x-pagination-limit: '10'
      x-pagination-page: '1'
      x-pagination-page-count: '0'
      x-private-user: 'false'
    body:
      string: '[]'
  recorded_at: 2026-03-02 11:33:31
recorded_with: VCR-vcr/2.1.0
