http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/watched/shows?extended=%2Cnoseasons
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-sort-by: plays
      x-sort-how: desc
      etag: W/"dc94c6cc95cbdc21cfa56f7746d451bc"
      last-modified: Thu, 31 Jul 2025 21:33:36 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":878,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"plays":174,"last_watched_at":"2025-07-31T21:33:36.000Z","last_updated_at":"2025-07-31T21:33:36.000Z","reset_at":null,"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}}},{"plays":109,"last_watched_at":"2025-07-31T19:41:30.000Z","last_updated_at":"2025-07-31T18:51:30.000Z","reset_at":null,"show":{"title":"Game
        Changer","year":2019,"ids":{"trakt":153142,"slug":"game-changer","tvdb":369988,"imdb":"tt11011104","tmdb":129412,"tvrage":null}}},{"plays":82,"last_watched_at":"2025-07-29T00:15:09.000Z","last_updated_at":"2025-07-29T00:15:09.000Z","reset_at":null,"show":{"title":"8
        Out of 10 Cats","year":2005,"ids":{"trakt":3996,"slug":"8-out-of-10-[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/watched/shows?extended=
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-sort-by: plays
      x-sort-how: desc
      etag: W/"dc94c6cc95cbdc21cfa56f7746d451bc"
      last-modified: Thu, 31 Jul 2025 21:33:36 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":872,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"plays":174,"last_watched_at":"2025-07-31T21:33:36.000Z","last_updated_at":"2025-07-31T21:33:36.000Z","reset_at":null,"show":{"title":"It''s
        Always Sunny in Philadelphia","year":2005,"ids":{"trakt":2692,"slug":"it-s-always-sunny-in-philadelphia","tvdb":75805,"imdb":"tt0472954","tmdb":2710,"tvrage":null}},"seasons":[{"number":1,"episodes":[{"number":1,"plays":1,"last_watched_at":"2018-09-05T02:24:37.000Z"},{"number":2,"plays":1,"last_watched_at":"2018-09-05T19:15:00.000Z"},{"number":3,"plays":1,"last_watched_at":"2018-09-05T19:23:25.000Z"},{"number":4,"plays":1,"last_watched_at":"2018-09-05T20:07:00.000Z"},{"number":5,"plays":1,"last_watched_at":"2018-09-05T20:32:33.000Z"},{"number":6,"plays":1,"last_watched_at":"2018-09-05T18:46:45.000Z"},{"number":7,"plays":1,"last_watched_at":"2018-09-05T02:45:00.000Z"}]},{"number":2,"episodes[...]
