http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/movies?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '181'
      x-pagination-page-count: '1'
      x-pagination-item-count: '181'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: '2106'
      etag: W/"bc502474546cdcab254fb3c510ed0e3b"
      last-modified: Wed, 23 Jul 2025 17:16:05 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":874,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":751703882,"listed_at":"2022-10-14T03:19:22.000Z","notes":null,"type":"movie","movie":{"title":"Clerks
        III","year":2022,"ids":{"trakt":475091,"slug":"clerks-iii-2022","imdb":"tt11128440","tmdb":635891}}},{"rank":2,"id":751703885,"listed_at":"2022-10-14T03:19:25.000Z","notes":null,"type":"movie","movie":{"title":"Halloween
        Ends","year":2022,"ids":{"trakt":460030,"slug":"halloween-ends-2022","imdb":"tt10665342","tmdb":616820}}},{"rank":3,"id":753264431,"listed_at":"2022-10-17T16:16:26.000Z","notes":null,"type":"movie","movie":{"title":"Avatar:
        The Way of Water","year":2022,"ids":{"trakt":56580,"slug":"avatar-the-way-of-water-2022","imdb":"tt1630029","tmdb":76600}}},{"rank[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sean/watchlist/shows?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '89'
      x-pagination-page-count: '1'
      x-pagination-item-count: '89'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: '2106'
      etag: W/"bc502474546cdcab254fb3c510ed0e3b"
      last-modified: Wed, 23 Jul 2025 17:16:05 GMT
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":870,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":16,"id":753270164,"listed_at":"2022-10-17T16:40:57.000Z","notes":null,"type":"show","show":{"title":"The
        Witcher: Blood Origin","year":2022,"ids":{"trakt":164920,"slug":"the-witcher-blood-origin","tvdb":399987,"imdb":"tt12785720","tmdb":106541,"tvrage":null}}},{"rank":21,"id":763313982,"listed_at":"2022-11-10T15:56:16.000Z","notes":null,"type":"show","show":{"title":"A
        Friend of the Family","year":2022,"ids":{"trakt":194867,"slug":"a-friend-of-the-family","tvdb":417373,"imdb":"tt12661338","tmdb":197434,"tvrage":null}}},{"rank":23,"id":763315918,"listed_at":"2022-11-10T16:03:31.000Z","notes":null,"type":"show","show":{"title":"National
        Treasure: Edge of History","year":2022,"ids":{"trakt":162050,"slug":"national-treasure-edge-of-history","tvdb":382210,"imdb":"tt12580982","tmdb":137437,"tvrage":null}}},{"rank":24,"id":763316564,"listed_at":"2022-11-10T16:04:53.000Z","notes":null,"type":"show","show":{"title":"Welcome
        to Chippendales","year":2022,"ids":{"trakt":185579,"slug":"welcome-to-chippendales","tvdb":403128,"imdb":"tt14675860","tmdb":130567,"tvrage":null}}},{"rank":25,"id":763316849,"listed_at":"2022-11-10T16:06:16.000Z","[...]
[...]
