http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2171659/items?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '6'
      x-pagination-page-count: '1'
      x-pagination-item-count: '6'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: '2171659'
      etag: W/"d390244d86282029a6c6dbababfa34d8"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":911,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":91784778,"listed_at":"2016-04-19T16:54:46.000Z","notes":null,"type":"movie","movie":{"title":"Perfect
        Blue","year":1998,"ids":{"trakt":5677,"slug":"perfect-blue-1998","imdb":"tt0156887","tmdb":10494}}},{"rank":2,"id":91784783,"listed_at":"2016-04-19T16:54:54.000Z","notes":null,"type":"movie","movie":{"title":"Millennium
        Actress","year":2002,"ids":{"trakt":21330,"slug":"millennium-actress-2002","imdb":"tt0291350","tmdb":33320}}},{"rank":3,"id":91784793,"listed_at":"2016-04-19T16:55:03.000Z","notes":null,"type":"movie","movie":{"title":"Tokyo
        Godfathers","year":2003,"ids":{"trakt":7877,"slug":"tokyo-godfathers-2003","imdb":"tt0388473","tmdb":13398}}},{"rank":4,"id":91784805,"listed_at":"2016-04-19T16:55:12.000Z","notes":null,"type":"movie","movie":{"title":"Paprika","year":2006,"ids":{"trakt":2909,"slug":"paprika-2006","imdb":"tt0851578","tmdb":4977}}},{"rank":5,"id":91784810,"listed_at":"2016-04-19T16:55:18.000Z","notes":null,"type":"show","show":{"title":"Paranoia
        Agent","year":2004,"ids":{"trakt":9295,"slug":"paranoia-agent","tvdb":75092,"imdb":"tt0433722","tmdb":9343,"tvrage":null}}},{"rank":6,"id":91788751,"listed_at":"2016-04-19T17:52:19.000Z","notes":null,"type":"movie","movie":{"title":"Memories","year":1995,"ids":{"trakt":838805,"slug":"memories-1995","imdb":"tt0113799","tmdb":42994}}}]'
  recorded_at: 2025-08-04 08:06:45
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42/lists/2171659/items?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '6'
      x-pagination-page-count: '1'
      x-pagination-item-count: '6'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: '2171659'
      etag: W/"d390244d86282029a6c6dbababfa34d8"
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":904,"until":"2025-08-04T08:10:00Z"}'
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '[{"rank":1,"id":91784778,"listed_at":"2016-04-19T16:54:46.000Z","notes":null,"type":"movie","movie":{"title":"Perfect
        Blue","year":1998,"ids":{"trakt":5677,"slug":"perfect-blue-1998","imdb":"tt0156887","tmdb":10494},"tagline":"The
        color of illusion is Perfect Blue.","overview":"Encouraged by her managers,
        rising pop star Mima takes on a recurring role on a popular TV show, when
        suddenly her handlers and collaborators begin turning up murdered.","released":"1998-02-28","runtime":82,"country":"jp","status":"released","rating":8.26688,"votes":5392,"comment_count":45,"trailer":"https://youtube.com/watch?v=0AgD1uocfk0","homepage":"http://gkids.com/films/perfect-blue","updated_at":"2025-08-02T06:35:50.000Z","language":"ja","languages":["ja"],"available_translations":["cs","da","de","el","en","es","et","fa","fi","fr","he","hu","it","ja","ka","ko","lt","nl","pl","pt","ru","sr","th","tr","uk","vi","zh"],"genres":["thriller","anime","horror","suspense"],"subgenres":["adult-animation","psychological-thriller","suspense","paranoia"],"certification":"R","original_title":"PERFECT
        BLUE","after_credits":false,"during_credits":false}},{"rank":2,"id":91784783,"listed_at":"2016-04-19T16:54:54.000Z","notes":null,"type":"movie","movie":{"title":"Millennium
        Actress","year":2002,"ids":{"trakt":21330,"slug":"millennium-actress-2002","imdb":"tt0291350","tmdb":33320},"tagline":"The
        magic of movies, the mystery of memory.","overview":"Documentary filmmaker
        Genya Tachibana has tracked down the legendary actress Chiyoko Fujiwara, who
        mysteriously vanished at the height of her career. When he presen[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sp1ti/lists/anime-winter-season-2018-2019/items?extended=min
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '71'
      x-pagination-page-count: '1'
      x-pagination-item-count: '71'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: '[...]
- request:
    method: GET
    uri: https://api.trakt.tv/users/sp1ti/lists/anime-winter-season-2018-2019/items?extended=full
  response:
    status: 304
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-pagination-page: '1'
      x-pagination-limit: '71'
      x-pagination-page-count: '1'
      x-pagination-item-count: '71'
      x-sort-by: rank
      x-sort-how: asc
      x-applied-sort-by: rank
      x-applied-sort-how: asc
      x-list-id: [...]
