http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-private-user: 'false'
      x-ratelimit: '{"name":"AUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":866,"until":"2025-08-04T08:10:00Z"}'
      etag: W/"1fe6be07096dc9f1f8e6a8c1f98f7da1"
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2025-08-04 08:06:47
recorded_with: VCR-vcr/2.0.0
