http_interactions:
- request:
    method: GET
    uri: https://api.trakt.tv/users/jemus42
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"08707f9437b88ef988feb4b168f7c5a4"
      speculation-rules: '"/cdn-cgi/speculation"'
      x-private-user: 'false'
    body:
      string: '{"username":"jemus42","private":false,"deleted":false,"name":"jemus42","vip":true,"vip_ep":false,"director":false,"ids":{"slug":"jemus42"}}'
  recorded_at: 2026-03-03 00:39:48
recorded_with: VCR-vcr/2.1.0
